<template>
  <div class="top">
    <div id="network"></div>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.16.1/vis.css"
      type="text/css"
    >
  </div>
</template>
<script>
var options = {
      autoResize: true,
      configure: {
        enabled: false
      },
      edges: {
        color: {
          inherit: true
        },
        smooth: {
          enabled: false,
          type: "continuous"
        }
      },
      interaction: {
        dragNodes: false,
        hideEdgesOnDrag: false,
        hideNodesOnDrag: false
      },
      physics: {
        enabled: false,
        stabilization: {
          enabled: false,
          fit: true,
          iterations: 1000,
          onlyDynamicEdges: false,
          updateInterval: 50
        }
      },
      nodes: {
        shape: "dot",
        scaling: {
          min: 10,
          max: 60,
          label: {
            min: 8,
            max: 30
          }
        }
      },
      layout: {
        randomSeed: 896540,
        improvedLayout: false
      }
    }

import vis from "vis";
export default {
  components: {},
  async asyncData({ params, $axios, error }) {
    //var nodes = new vis.DataSet(await $axios.$get(`https://cdn.toshokan.moe/library/nodes.json`))
    //var edges = new vis.DataSet(await $axios.$get(`https://cdn.toshokan.moe/library/edges.json`))
    //return {nodes, edges}
    return
  },
  data() {
    return {
      options: options,
      network: null,
      nodes: null,
      edges: null
    }
  },
  async mounted() {
    var container = document.getElementById("network")
    this.nodes = new vis.DataSet(await this.$axios.$get(`https://cdn.toshokan.moe/library/nodes.json`))
    this.edges = new vis.DataSet(await this.$axios.$get(`https://cdn.toshokan.moe/library/edges.json`))
    // create a network
    // provide the data in the vis format
    var data = {
        nodes: this.nodes,
        edges: this.edges
    };
    console.log(typeof(this.nodes))
    // initialize your network!
    this.network = new vis.Network(container, data, this.options)
    this.network.focus("neon-genesis-evangelion", {scale: 1})
    this.network.on("doubleClick", this.navigateToPage)
  },
  methods: {
    navigateToPage({nodes}){
      if (!nodes[0]){
            return
        }
	    window.open('https://toshokan.moe/anime/'+nodes[0], '_blank')
    }
  }
}
</script>
<style scoped>
  #network {
    width: 100%;
    height: 700px;
    background-color: #202225;
    border: 1px solid lightgray;
    position: relative;
    float: left;
  }

  #text {
    position: absolute;
    top: 8px;
    left: 530px;
    width: 30px;
    height: 50px;
    margin: auto auto auto auto;
    font-size: 22px;
    color: #000000;
  }
</style>
