<template>
  <div class="social-feed">
    <b-table
      v-if="processed_feed.length"
      :data="processed_feed"
      paginated
      :total="total"
      backend-pagination
      @page-change="onPageChange"
      :per-page="7"
      :loading="loading"
    >
      <template slot-scope="props">
        <b-table-column style="width:110px;">
          <no-ssr>
            <nuxt-link :to="'/profile/' + props.row.user">
              <library-lazy-image raw_url :href="'https://cdn.toshokan.moe/users/' + props.row.user_id + '/avatar.jpg'" :max_height="120"></library-lazy-image>
            </nuxt-link>
          </no-ssr>
        </b-table-column>
        <b-table-column>
          <nuxt-link :to="'/profile/' + props.row.user" style="color: inherit;">
          <strong>{{props.row.user}}</strong><br>
          </nuxt-link>

          <nuxt-link :to="props.row.href">{{props.row.title}}</nuxt-link><br>
          {{props.row.text}}<br>
          {{$moment(props.row.time).format('MMM DD, YYYY [at] HH:mm')}}
        </b-table-column>
        <b-table-column style="width:110px !important;">
          <no-ssr>
            <nuxt-link :to="props.row.href">
              <library-lazy-image :max_height="120" :ratio="225/350" :href="props.row.href"></library-lazy-image>
            </nuxt-link>
          </no-ssr>
        </b-table-column>
      </template>
    </b-table>
    <div v-else>
      You're not following anyone, or none of your followees have any activity to show!
    </div>
    <br><br><br>
  </div>
</template>
<script>
  import library_lazy_image from "~/components/library/library_lazy_image.vue"
  export default {
    async asyncData({ $axios, error }){
      const feed = await $axios.$get('/events?ns=list&social_feed=true&amount=7&item_data=true')
      return { feed }
    },
    head(){
      return {
        title: 'Social - Dashboard - Toshokan'
      }
    },
    methods: {
      async refresh(){
        this.feed = await this.$axios.$get('/events?ns=list&social_feed=true&amount=7&item_data=true')
        this.total = this.feed.user_events.length + 7
      },
      async onPageChange(page){
        if((7 * (page - 1) - 1) != this.feed.user_events.length - 1) {
          return
        }
        this.loading = true
        var lastEntry = this.feed.user_events[7 * (page - 1) - 1]
        var new_data = await this.$axios.$get(`/events?ns=list&social_feed=true&amount=7&item_data=true&before=${lastEntry._id}`)
        this.feed.user_events = this.feed.user_events.concat(new_data.user_events)
        this.feed.data.usernames = {...this.feed.data.usernames, ...new_data.data.usernames}
        for (var x in ['anime', 'manga', 'vn', 'novel']) {
          var key = ['anime', 'manga', 'vn', 'novel'][x]
          this.feed.data.items[key] = {...this.feed.data.items[key], ...new_data.data.items[key]}
        }
        this.total = this.total + new_data.user_events.length

        this.loading = false
      }
    },
    components: {
      'library-lazy-image': library_lazy_image
    },
    data(){
      return {
        loading: false,
        total: 14
      }
    },
    computed: {
      processed_feed(){
        var out = []
        var feed = this.feed.user_events
        var names = this.feed.data.usernames
        var item_data = this.feed.data.items
        feed.forEach(function(entry){
          var item = {}
          item.type = entry.library_ref.type
          item.href = entry.library_ref.href
          item.id = item.href.split('/')[2]
          item.title = item_data[item.type][item.id].title
          item.time = entry.time
          item.user = names[entry.user]
          item.user_id = entry.user

          if(entry.operation == 'update'){
            if(entry.fields.status){
              item.text = `Updated status to ${entry.fields.status}.`
            } else if(entry.fields.score){
              item.text = `Updated score to ${entry.fields.score}.`
            } else if(entry.fields.progress){
              item.text = `Updated ${item.type == 'anime' ? 'episode' : 'chapter'} count to ${entry.fields.progress}.`
            } else {
              item.text = 'Updated.'
            }
          } else if(entry.operation == 'insert'){
            item.text = 'Added.'
          } else {
            item.text = 'Updated.'
          }

           out.push(item)
        })
        return out
      }
    }
  }
</script>
<style scoped>
  .social-feed >>> th, .social-feed >>> thead {
    display: none;
    visibility: hidden;
    padding: 0;
  }

  .social-feed >>> .control.filter.is-clearfix {
    width: 100%;
  }

</style>
