<template>
  <div class="columns">
    <div class="column is-one-fifth">
      <no-ssr>
        <div>
          <library-lazy-image raw_url :href="'https://cdn.toshokan.moe/users/' + profile_data._id + '/avatar.jpg?v=' + profile_data.profile.avatar" :ratio="1.7" :max_height="300"></library-lazy-image>
        </div>
      </no-ssr>
      <hr>
      <div class="fixed-leftpadding">
        <div class="columns">
          <div class="column" style="padding-bottom: 0;">
            <nuxt-link :to="'/profile/' + user + '/list/anime'">Anime List</nuxt-link>
          </div>
          <div class="column" style="padding-bottom: 0;">
            <nuxt-link :to="'/profile/' + user + '/list/manga'">Manga List</nuxt-link>
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <nuxt-link :to="'/profile/' + user + '/list/novel'">Novel List</nuxt-link>
          </div>
          <div class="column">
            <nuxt-link :to="'/profile/' + user + '/list/vn'">VN List</nuxt-link>
          </div>
        </div>
      </div>
      <hr>
      <div class="fixed-leftpadding-2" v-if="profile_data.profile.gender || profile_data.profile.birthday || profile_data.profile.location" style="margin-right: 10px;">
        <span v-if="profile_data.profile.gender">
          <div v-if="!editing">
          <b>Gender: </b>{{profile_data.profile.gender}}<br>
          </div>
          <div v-else>
            <b>Gender: </b><br>
            <div class="select" style="margin-bottom: 5px;">
              <select v-model="profile_data.profile.gender">
                <option>Male</option>
                <option>Female</option>
                <option>Other/Rather Not Say</option>
              </select>
            </div>
          </div>
        </span>
        <span v-if="profile_data.profile.birthday">
          <div v-if="!editing">
            <b>Birthday: </b>{{$moment(profile_data.profile.birthday).format('MMM DD, YYYY')}}<br>
          </div>
          <div v-else>
            <b-field label="Birthday">
              <b-datepicker :date-formatter="(date) => $moment(date).format('MMM DD, YYYY')"
                v-model="profile_data.profile.birthday"
                placeholder="Choose..."
                icon="calendar-today">
              </b-datepicker>
            </b-field>
          </div>
        </span>
        <span v-if="profile_data.profile.location">
          <div v-if="!editing">
          <b>Location: </b>{{profile_data.profile.location}}<br>
          </div>
          <div v-else>
            <b-field label="Location">
              <b-input v-model="profile_data.profile.location" type="textarea" maxlength="200"></b-input>
            </b-field>
          </div>
        </span>
        <hr>
      </div>

      <div v-if="$store.getters.isRegistered && our_data.username != user">
        <div class="fixed-leftpadding-2">
          <button class="button" :class="follow_class" @click="toggleFollow">{{follow_class == 'is-primary' ? 'Following' : 'Follow'}}</button>
          <hr>
        </div>
        <div class="fixed-leftpadding-2" v-if="similarity >= 0 && similarity < 100">
          User Compatibility: {{similarity}}%
        </div>
      </div>

      <div class="has-text-centered">
      <button v-if="is_us" class="button" @click="toggleEditing" :class="{'is-primary': editing}">{{editing ? 'Save Profile' : 'Edit Profile'}}</button>
      </div>

    </div>


    <div class="column">
      <div class="has-text-weight-bold subtitle has-text-centered full-width">Biography</div>
      <div v-if="!editing">
      {{profile_data.profile.biography ? profile_data.profile.biography : 'This user has no biography.'}}<br>
      </div>
      <div v-else>
        <b-field label="Biography">
          <b-input v-model="profile_data.profile.biography" type="textarea" maxlength="4000"></b-input>
        </b-field>
      </div>

      <div class="has-text-weight-bold subtitle has-text-centered full-width">Favourites</div>

      <div class="columns">
        <div class="column is-one-third">



          <div class="dropdown full-width" :class="{'is-active': favDropdownActive}" @click="favDropdownActive = !favDropdownActive">
            <div class="dropdown-trigger full-width">
              <button class="button full-width" aria-haspopup="true" aria-controls="dropdown-menu">
                <span>
                  {{fav_works == 'vn' ? 'VNs' : fav_works[0].toUpperCase() + fav_works.slice(1) + (fav_works == 'novel' ? 's' : '')}}
                </span>
                <span class="icon is-small">
                  <i class="fas fa-angle-down" aria-hidden="true"></i>
                </span>
              </button>
            </div>
            <div class="dropdown-menu" id="dropdown-menu" role="menu">
              <div class="dropdown-content">
                <a href="#" v-for="work in ['anime', 'manga', 'novel', 'vn']" class="dropdown-item" :key="'favdropdown'+work" @click="setFavWorks(work)">
                  {{work == 'vn' ? 'VNs' : work[0].toUpperCase() + work.slice(1) + (work == 'novel' ? 's' : '')}}
                </a>
              </div>
            </div>
          </div>

          <div class="fav-table" v-if="fav_list.length != 0">
            <draggable v-if="editing" v-model="profile_data.profile.favourites[fav_works]" style="margin-right: 7px;">
              <div v-for="fav in profile_data.profile.favourites[fav_works]">
                <div class="columns">
                  <div class="column is-one-fifth">
                    <div style="line-height: 80px; height: 80px;">
                      <span style="display: inline-block; vertical-align: middle; line-height: normal;">
                        <i class="material-icons md-48">
                          drag_handle
                        </i>
                      </span>
                    </div>
                  </div>
                  <div class="column is-one-third">
                    <img :src="'https://cdn.toshokan.moe/library/' + fav_works + '/' + fav + '/poster.jpg'" style="height: 80px;">
                  </div>
                  <div class="column" style="padding-top: auto;">
                    <div style="line-height: 80px; height: 80px;">
                      <span style="display: inline-block; vertical-align: middle; line-height: normal;">
                        <b style="padding-top: auto;">{{profile_data.data[fav_works][fav].title}}</b>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </draggable>
            <b-table :data="fav_list" v-else>
              <template slot-scope="props">
                <b-table-column style="width: 80px !important">
                  <img :src="'https://cdn.toshokan.moe/library/' + fav_works + '/' + props.row + '/poster.jpg'" style="height: 80px;">
                </b-table-column>

                <b-table-column>
                  <nuxt-link :to="'/' + fav_works + '/' + props.row"><strong>{{profile_data.data[fav_works][props.row].title}}</strong></nuxt-link><br>
                </b-table-column>
              </template>
            </b-table>
          </div>
          <div v-else>
            This user has no favourite {{fav_works == 'vn' ? 'VNs' : fav_works + (fav_works == 'novel' ? 's' : '')}}.
          </div>
        </div>

        <div class="column is-one-third">
          <div style="padding-top: 0.5rem;" class="full-width has-text-centered has-text-weight-bold">
            Characters
          </div>
          <div class="fav-table" v-if="profile_data.profile.favourites.character.length != 0">
            <draggable v-if="editing" v-model="profile_data.profile.favourites.character" style="margin-right: 7px; margin-left: 7px;">
              <div v-for="character in profile_data.profile.favourites.character">
                <div class="columns">
                  <div class="column is-one-fifth">
                    <div style="line-height: 80px; height: 80px;">
                      <span style="display: inline-block; vertical-align: middle; line-height: normal;">
                        <i class="material-icons md-48">
                          drag_handle
                        </i>
                      </span>
                    </div>
                  </div>
                  <div class="column is-one-third">
                    <img :src="'https://cdn.toshokan.moe/library/character/' + character + '/poster.jpg'" style="height: 80px;">
                  </div>
                  <div class="column" style="padding-top: auto;">
                    <div style="line-height: 80px; height: 80px;">
                      <span style="display: inline-block; vertical-align: middle; line-height: normal;">
                        <b style="padding-top: auto;">{{profile_data.data.character[character].name_english}}</b>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </draggable>
            <b-table :data="profile_data.profile.favourites.character" v-else>
              <template slot-scope="props">
                <b-table-column style="width: 80px !important">
                  <img :src="'https://cdn.toshokan.moe/library/character/' + props.row + '/poster.jpg'" style="height: 80px;">
                </b-table-column>

                <b-table-column>
                  <nuxt-link :to="'/character/' + props.row"><strong>{{profile_data.data.character[props.row].name_english}}</strong></nuxt-link><br>
                </b-table-column>
              </template>
            </b-table>
          </div>
          <div v-else>
            This user has no favourite characters.
          </div>
        </div>

        <div class="column is-one-third">
          <div style="padding-top: 0.5rem;" class="full-width has-text-centered has-text-weight-bold">
            People
          </div>
          <div class="fav-table" v-if="profile_data.profile.favourites.person.length != 0">
            <draggable v-if="editing" v-model="profile_data.profile.favourites.person" style="margin-left: 7px;">
              <div v-for="person in profile_data.profile.favourites.person">
                <div class="columns">
                  <div class="column is-one-fifth">
                    <div style="line-height: 80px; height: 80px;">
                      <span style="display: inline-block; vertical-align: middle; line-height: normal;">
                        <i class="material-icons md-48">
                          drag_handle
                        </i>
                      </span>
                    </div>
                  </div>
                  <div class="column is-one-third">
                    <img :src="'https://cdn.toshokan.moe/library/person/' + person + '/poster.jpg'" style="height: 80px;">
                  </div>
                  <div class="column" style="padding-top: auto;">
                    <div style="line-height: 80px; height: 80px;">
                      <span style="display: inline-block; vertical-align: middle; line-height: normal;">
                        <b style="padding-top: auto;">{{profile_data.data.person[person].name}}</b>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </draggable>
            <b-table :data="profile_data.profile.favourites.person" v-else>
              <template slot-scope="props">
                <b-table-column style="width: 80px !important">
                  <img :src="'https://cdn.toshokan.moe/library/person/' + props.row + '/poster.jpg'" style="height: 80px;">
                </b-table-column>

                <b-table-column>
                  <nuxt-link :to="'/person/' + props.row"><strong>{{profile_data.data.person[props.row].name}}</strong></nuxt-link><br>
                </b-table-column>
              </template>
            </b-table>
          </div>
          <div v-else>
            This user has no favourite people.
          </div>
        </div>
      </div>
    </div>

    <div class="column is-one-fifth updates-table">
      <b-table :data="processed_events">
        <template slot-scope="props">
          <b-table-column style="width:110px;">
            <library-lazy-image :max_height="120" :ratio="225/300" :href="props.row.href"></library-lazy-image>
          </b-table-column>
          <b-table-column>
            <strong><nuxt-link :to="props.row.href">{{convert_operation(props.row.title)}}</nuxt-link></strong><br>
            {{props.row.text}}<br>
            {{$moment(props.row.time).format('MMM DD, YYYY')}}
          </b-table-column>
        </template>
      </b-table>
    </div>

  </div>
</template>
<script>
  import library_lazy_image from "~/components/library/library_lazy_image.vue";
  import draggable from 'vuedraggable'
  export default {
    async asyncData({ params, $axios, error}) {
      const user = params.user
      var profile_data
      try {
        profile_data = await $axios.$get('/u/' + user + '/profile')
      } catch (e) {
        error({statusCode: 404, message: "Profile is private or user does not exist."})
        return {}
      }
      profile_data.profile.birthday = new Date(profile_data.profile.birthday)
      var events
      try {
        events = await $axios.$get(`/u/${user}/events?ns=list&amount=50`)
      } catch (e) {
        events = {"data":{}, user_events:[]}
      }
      const our_data = await $axios.$get('/account/profile').catch(function(err){
        return our_data
      })
      var similarity = await $axios.$get(`/compare-user/${user}/anime`).catch(function(err){
        return {similarity: 0}
      })
        similarity = similarity.similarity

      return { user, profile_data, our_data, events, similarity };
    },
    data(){
      return {
        fav_works: 'anime',
        favDropdownActive: false,
        editing: false
      }
    },
    head(){
      return {
        title: this.user + '\'s profile - Toshokan'
      }
    },
    computed: {
      is_us(){
        return this.our_data.username == this.user
      },
      processed_events(){
        if(!this.events){
          return []
        }
        var evs = []
        var events = this.events
        this.events.user_events.forEach(function(e){
          var p_ev = {}
          p_ev.type = e.library_ref.type
          p_ev.href = e.library_ref.href
          p_ev.id = p_ev.href.split('/')[2]
          p_ev.title = events.data.items[p_ev.type][p_ev.id].title
          p_ev.time = e.time
          if(e.operation == 'update'){
            if(e.fields.status){
              p_ev.text = `Updated status to ${e.fields.status}.`
            } else if(e.fields.score){
              p_ev.text = `Updated score to ${e.fields.score}.`
            } else if(e.fields.progress){
              p_ev.text = `Updated ${p_ev.type == 'anime' ? 'episode' : 'chapter'} count to ${e.fields.progress}.`
            } else {
              p_ev.text = 'Updated.'
            }
          } else if(e.operation == 'insert'){
            p_ev.text = 'Added.'
          } else {
            p_ev.text = 'Updated.'
          }
          if(p_ev.text != 'Updated.'){
            evs.push(p_ev)
          }
        })
        return evs.slice(0,10)
      },
      fav_list(){
        return this.profile_data.profile.favourites[this.fav_works]
      },
      follow_class(){
        if(this.our_data.following.indexOf(this.user) !== -1) {
          return 'is-primary'
        } else {
          return ''
        }
      }
    },
    methods: {
      async toggleEditing(){
        if (this.editing) {
          await this.$axios.$put('/account/profile', this.profile_data.profile)
        }
        this.editing = !this.editing
      },
      convert_operation(op){
        if(op == 'update') {
          return 'Updated'
        } else if (op == 'insert') {
          return 'Added'
        } else {
          return op.charAt(0).toUpperCase() + op.slice(1)
        }
      },
      setFavWorks(work){
        this.fav_works = work
      },
      async toggleFollow(){
        if(this.our_data.following.indexOf(this.user) == -1){
          this.our_data.following.push(this.user)
          await this.$axios.$put(`/u/${this.user}/follow?follow=true`)
        } else {
          this.our_data.following = this.our_data.following.filter((u) => u != this.user)
          await this.$axios.$put(`/u/${this.user}/follow?follow=false`)
        }
      }
    },
    components: {
      'library-lazy-image': library_lazy_image,
      'draggable': draggable
    }
  }
</script>

<style scoped>
  .column {
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
  }

  article {
    padding-left: 5px;
  }

  .fav-table >>> th, .updates-table >>> th {
    visibility: hidden;
    padding: 0;
  }

  .fav-table >>> td, .fav-table >>> span, updates-table >>> td, updates-table >>> span {
    vertical-align: middle;
  }

  .fixed-leftpadding {
    padding-left: 15px;
  }

  .fixed-leftpadding-2 {
    padding-left: 7.5px;
  }


  .table td {
    border: none;
    padding-bottom: 0;
  }

  .fav-table >>> thead {
    display: none;
  }
</style>
