<template>
  <div>
    <template v-for="item in data" class="has-background-black">
      <div :key="item._id" class="media inst-item">
        <div class="library-image media-left">
          <figure class="image">
            <library-lazy-image :type="item._type" :id="item._id" :max_height="400" :max_width="200"></library-lazy-image>
          </figure>
        </div>
        <!--<div class="media-left">
          <img width="128" :src="'https://cdn.toshokan.moe/library/'+item._type+'/'+item._id+'/poster.jpg'">
        </div>-->
        <div class="media-content">
          <nuxt-link :to="'/'+item._type+'/'+item._id">{{ item._source.title || item._source.nick_name || item._source.name }}</nuxt-link>
          <br>
          <span v-if="item._type == 'person'" class="has-text-weight-bold">Birthday: </span>{{item._source.birthday}}
          <br />
          <template v-if="['anime', 'manga', 'novel'].includes(item._type)">
            <span class="has-text-weight-bold">Score: </span>{{item._source.score}}
            <br>
            <template v-if="item._type == 'anime'">
                <span class="has-text-weight-bold">Popularity level: </span>{{get_level(item._source.n_members)}}/1000
                <b-tooltip
                  label="How many users have watched this, compared to the most popular anime"
                  multilined
                >
              <b-icon
                icon="information-outline"
                size="is-small">
              </b-icon>
            </b-tooltip>
            </template>
            <br>
            <span class="has-text-weight-bold">Popularity rank: </span>#{{item._source.popularity_rank}}
            <br>
            <br>
            <span class="has-text-weight-bold">Type: </span>{{item._source.type}}
            <br>
            <span class="has-text-weight-bold">Status: </span>{{item._source.status}}
            <br>
          </template>
          <template v-if="item._type == 'anime'">
            <span class="has-text-weight-bold">Episodes: </span>{{(item._source.episode_count || "N/A")}}
            <br>
            <span class="has-text-weight-bold">Season: </span>{{season(item._source.start_date)}}
            <br>
            <link-list name="Studios" :list="item._source.studios" prop_name="studios" :type="item._type"></link-list>
            <br />
            <link-list name="Producers" :list="item._source.producers" prop_name="producers" :type="item._type"></link-list>
            <br />
          </template>
          <link-list v-if="['anime', 'manga', 'novel'].includes(item._type)" name="Genres" :list="item._source.genres" prop_name="genres" :type="item._type"></link-list><br />
          <br />
          <span v-html="capLength((item._source.description || item._source.more), 1000)"></span>
        </div>
      </div>
    </template>
  </div>
</template>

<script>
  import season from '~/utils/season.js'
  import debounce from 'lodash/debounce'
  import link_list from "~/components/library/library_info_link_list.vue"
  import library_lazy_image from "~/components/library/library_lazy_image.vue"
  import { popularity_from_level, level_from_popularity } from "~/utils/popularity_level.js"
  export default {
    props: ["data"],
    components: {
      'link-list': link_list,
      "library-lazy-image": library_lazy_image
    },
    methods: {
      getAsyncData: debounce(async function () {
        if (!this.name) {
          return
        }
        this.$router.push({ path: this.$route.path, query: { q: `title:"${this.name}"` } })
      }, 200),

      capLength: function (title, length) {
        if (typeof title == 'string' && title.length >= length) {
          return title.slice(0, length - 3) + '...'
        } else {
          return title
        }
      },
      season(start_date) {
        return season(start_date)
      },
      get_level(pop) {
        return level_from_popularity(pop)
      }

    }
  }
</script>
