<template>
  <div style="margin-top: 5px;" class="season-browser">
    <div class="columns" style="margin-bottom: 0;">
      <div class="column" style="margin-left: 10px;">
        <button class="button is-primary" @click="change_season(-1)">{{prev_season}}</button>
      </div>
      <div class="column is-narrow" style="text-align: center">
        <span class="select" style="display: inline-block;">
          <select v-model="season_p" style="display: inline-block;">
            <option>Winter</option>
            <option>Spring</option>
            <option>Summer</option>
            <option>Fall</option>
          </select>
        </span>
        <input class="input" v-model="year_p" style="width: auto;">
        <button class="button is-primary" @click="update">Go</button>
         <b-field label="Sort by">
            <b-select v-model="sort" style="display: inline-block;">
            <option value="Type">Type, then Popularity</option>
            <option value="Popularity">Popularity</option>
            <option value="Score">Score</option>
          </b-select>
         </b-field>
      </div>
      <div class="column" style="margin-right: 10px;">
        <button class="button is-primary is-pulled-right" @click="change_season(1)">{{next_season}}</button>
      </div>
    </div>
    <div class="columns" style="margin-bottom: 0;">
      <div class="column" style="margin-left: 10px;">
      </div>
      <div class="column is-narrow" style="text-align: center">
      </div>
      <div class="column" style="margin-right: 10px;">
        <!--<div v-if="false" class="is-pulled-right">
          <span class="select" style="display: inline-block;">
          <select v-model="sort" style="display: inline-block;">
            <option>Type</option>
            <option>Popularity</option>
            <option>Score</option>
          </select>
          </span>
        </div>-->
      </div>
    </div>

    <div v-if="this.loading">Loading...</div>
    <div class="columns" v-else-if="results != null">
      <template v-for="res in result_parts">
        <div :key="result_parts.indexOf(res)" class="column">
          <template v-for="r in res">
            <div :key="res.indexOf(r)" class="card" style="margin: 10px;" v-if="r != undefined">
              <div class="card-content">
                <div class="columns" style="min-height:25em;">
                  <div class="column in-card">
                      <nuxt-link :to="'/anime/' + r._id">
                      <library-lazy-image type="anime" :max_width="202" :max_height="320" :id="r._id"></library-lazy-image>
                      </nuxt-link>
                    <button :class="list_status(r._id) == 'Drop' ? 'is-danger' : 'is-primary'" class="button full-width" @click="update_entry(r._id)" v-if="$store.getters.isRegistered">{{list_status(r._id)}}</button>
                  </div>
                  <div class="column in-card">
                    <nuxt-link :to="'/anime/' + r._id" style="color:inherit;"><b>{{r._source.title}}</b></nuxt-link><br>
                    <div v-html=" r._source.description" style="height: 185px; overflow-y: auto; padding: 5px;"></div>
                    <b>Type: </b>{{r._source.type}}<br>
                    <link-list v-if="r._source.studios.length != 0" name="Studios" :list="r._source.studios" prop_name="studios"></link-list><span v-else><b>Studios: </b> Unknown</span><br>
                    <link-list v-if="r._source.genres.length != 0" name="Genres" :list="minify_genres(r._source.genres)" prop_name="genres"></link-list><span v-else><b>Genres: </b>Unknown</span><br>
                    <b>Episodes:</b> {{r._source.episode_count || "Unknown"}}<br>
                    <b>Source:</b> {{r._source.source}}<br>
                  </div>
                </div>
                <hr>
                <div style="text-align: center" v-if="more_info[r._id] != true"><a @click="$set(more_info, r._id, true)">More Info</a></div>
                <div v-else>
                  <link-list name="Producers" :list="r._source.producers" prop_name="producers"></link-list><br>
                  <span class="has-text-weight-bold">Started: </span>{{r._source.start_date == null ? "Unknown" : $moment(r._source.start_date).format('MMM DD, YYYY')}}<br>
                  <span class="has-text-weight-bold">Ended: </span>{{r._source.end_date == null ? "Unknown" : $moment(r._source.end_date).format('MMM DD, YYYY')}}<br>
                  <b>Rating: </b>{{r._source.rating}}<br>
                  <link-list v-if="r._source.genres.length != 0" name="Genres" :list="r._source.genres" prop_name="genres"></link-list><span v-else><b>Genres: </b>Unknown</span><br>
                  <div style="text-align: center"><a @click="$set(more_info, r._id, false)">Less Info</a></div>
                </div>
              </div>
            </div>
          </template>
        </div>
      </template>
    </div>
  </div>
</template>
<script>
  import debounce from 'lodash/debounce'
  import library_lazy_image from "~/components/library/library_lazy_image.vue";
  import link_list from "~/components/library/library_info_link_list.vue"

  export default {
    components: {
      "library-lazy-image": library_lazy_image,
      'link-list': link_list
    },
    async asyncData({params, $axios, error, store}){
      var anime_list = {}
      var entry_list = {}
      if(store.getters.isRegistered){
        await store.dispatch("list/ensureList", 'anime')
        var list = store.getters["list/list"]('anime')
        list.forEach(function(entry){
          anime_list[entry._id] = entry.entry.status
          entry_list[entry._id] = Object.assign({},entry.entry)
        })

      }

      return {anime_list, entry_list}
    },
    mounted(){
      this.update()
    },
    data() {
      return {
        season: 'Spring',
        season_p: 'Spring',
        year: 2019,
        year_p: 2019,
        results: null,
        more_info: {},
        loading: true,
        sort: 'Popularity'
      }
    },
    methods: {
      minify_genres(genres){
        if(genres.length <= 5) {
          return genres
        } else {
          return genres.slice(1,5).concat('...')
        }
      },
      async update_entry(id){
        if (this.anime_list[id] == undefined) {
          this.$set(this.anime_list, id, 'planned')
          this.entry_list[id] = {
            progress: 0,
            score: null,
            status: 'planned',
            start_date: null,
            end_date: null,
            repetitions: 0,
            comments: ''
          }
        } else if (this.anime_list[id] == 'dropped'){
          this.anime_list[id] = 'current'
          this.entry_list[id].status = 'current'
        } else {
          this.anime_list[id] = 'dropped'
          this.entry_list[id].status = 'dropped'
        }

        this.$axios.$put('/list/anime/' + id, this.entry_list[id])
      },
      list_status(id){
        if (this.anime_list[id] == undefined) {
          return "Add to List"
        } else if (this.anime_list[id] == 'dropped'){
          return "Undrop"
        } else {
          return "Drop"
        }
      },
      change_season(n){
        var new_season
        if(n == -1){
          new_season = this.prev_season
        } else {
          new_season = this.next_season
        }
        this.season = new_season.split(' ')[0]
        this.year = parseInt(new_season.split(' ')[1])
        this.season_p = this.season
        this.year_p = this.year
        this.update()
      },
      async update() {
        this.loading = true
        this.season = this.season_p
        this.year = this.year_p
        var qobj = {
          from: 0,
          size: 1000,
          query: {
            bool: {
              filter: [
                {
                  range: {
                    start_date: {
                      gte: this.dates[0],
                      lt: this.dates[1]
                    }
                  }
                },
                {
                  terms: {
                    start_date_period: ["day", "month"]
                  }
                }
              ]
            }
          }
        }
        qobj.sort = this.sort_obj
        const response = await this.$axios.$post(`/search/anime/_search?search_type=dfs_query_then_fetch`, qobj);
        this.results = response
        this.results = this.results.hits.hits
        this.loading = false
      }
    },
    computed: {
      sort_obj(){
        if (this.sort == "Type") {
          return [{ type: "desc"}, { n_members: "desc" }]
        } else if (this.sort == "Popularity") {
            return [{ n_members: "desc" }]
        } else if (this.sort == "Score") {
          return [{ score: "desc" }]
        } else {
          return [{ type: "desc"}, { n_members: "desc" }]
        }
      },
      prev_season(){
        if(this.season == 'Fall'){
          return 'Summer ' + this.year
        } else if(this.season == 'Summer'){
          return 'Spring ' + this.year
        } else if(this.season == 'Spring'){
          return 'Winter ' + this.year
        } else {
          return 'Fall ' + (this.year - 1)
        }
      },
      next_season(){
        if(this.season == 'Winter'){
          return 'Spring ' + this.year
        } else if(this.season == 'Spring'){
          return 'Summer ' + this.year
        } else if(this.season == 'Summer'){
          return 'Fall ' + this.year
        } else {
          return 'Winter ' + (this.year + 1)
        }
      },

      result_parts(){
        var out = [[],[],[]]

        if (this.results == null) {
          return out
        }

        for (var i = 0; i <= this.results.length; i++){
          out[i % 3].push(this.results[i])
        }

        return out
      },
      months(){
        if(this.season == 'Winter'){
          return ['01', '03']
        } else if(this.season == 'Spring'){
          return ['04', '06']
        } else if (this.season == 'Summer'){
          return ['07', '09']
        } else {
          return ['10', '12']
        }
      },
      dates(){
        var year = ('0000' + this.year).slice(-4)
        return [
          `${year}-${this.months[0]}-01T00:00:00.000Z`,
          `${year}-${this.months[1]}-28T00:00:00.000Z`,
        ]
      },
    },
    watch: {
      'sort': async function(){
        await this.update()
      }
    },
  }
</script>

<style scoped>
  .in-card {
    padding-bottom: 0;
    min-height: 400px;
  }

  .season-browser >>> .column {
    width: 33%;
  }
</style>
