<template>
  <div class="top">
    <b-table :data="items">
      <template slot-scope="props">
        <b-table-column style="width: 140px !important">
          <library-lazy-image :type="type" :id="props.row" :max_height="170" style="height: 160px;"></library-lazy-image>
        </b-table-column>

        <b-table-column>
          <b><nuxt-link :to="'/anime/'+props.row">{{data[props.row].title}}</nuxt-link></b><br>
          <b>Genres:</b> {{data[props.row].genres.join(', ')}}<br>
          <b>Episodes:</b> {{data[props.row].episode_count}}<br>
          <b>Type:</b> {{data[props.row].type}}
        </b-table-column>
      </template>
    </b-table>
  </div>
</template>
<script>
  import library_lazy_image from "~/components/library/library_lazy_image.vue";
  export default {
    components: {
      "library-lazy-image": library_lazy_image
    },
    async asyncData ({ params, $axios, error }) {
      const type = params.type
      const data = await $axios.$get('/top/' + type).catch(
        function(err){
          error({statusCode: 404, message: err.message})
        }
      )
      return { type, items: data.top, data: data.data }
    }
  }
</script>
<style scoped>
  .top >>> th {
    visibility: hidden;
    padding: 0;
  }
</style>
