<template>
  <div class="stats">
    <div class="tabs">
      <ul>
        <li v-for="(list, i) in ['anime', 'manga', 'novel', 'vn']" :key="'list'+i" :class="{'is-active': cur_tab == list}" @click="setTab(list)"><a>{{list == 'vn' ? 'VN' : list.charAt(0).toUpperCase() + list.slice(1)}}</a></li>
      </ul>
    </div>

    <div class="columns">
      <div class="column">
        <div class="stat">
          <div class="has-text-centered"><b>Score Distribution</b></div>
          <bar-chart :chartdata="scoreFreq.graph"></bar-chart>
          <div class="has-text-centered">
            Mean: <b>{{scoreFreq.mean.toFixed(2)}}</b> | Num scored: <b>{{scoreFreq.total.toFixed(0)}}</b>
          </div>
          <br>
        </div>
        <div class="stat" v-if="cur_tab != 'vn'">
          <div class="has-text-centered"><b>Score by Type</b></div>
          <bar-chart :chartdata="avgScoreByType.graph" :options="avgScoreByType.options"></bar-chart>
        </div>
      </div>
      <div class="column">
        <div v-if="cur_tab != 'vn'" class="stat">
          <div class="has-text-centered"><b>Type Distribution</b></div>
          <pie-chart :chartdata="typeFreq.graph"></pie-chart>

          <br>
        </div>
        <div class="stat">
          <div class="has-text-centered"><b>Status Distribution</b></div>
          <pie-chart :chartdata="statusFreq.graph"></pie-chart>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import page_auth from "~/plugins/page-auth-mixin.js"
  import { get_status_pretty, get_status_api } from '~/utils/list/status.js'
  import LineChart from '~/components/stats/linechart.vue'
  import BarChart from '~/components/stats/barchart.vue'
  import PieChart from '~/components/stats/piechart.vue'
  import palette from 'google-palette'

  export default {
    components: {
      'line-chart': LineChart,
      'bar-chart': BarChart,
      'pie-chart': PieChart,
    },
    data(){
      return {
        cur_tab: 'anime',
        lists: {
          'anime': {},
          'manga': {},
          'vn': {},
          'novel': {}
        }
      }
    },
    head(){
      return {
        title: 'Stats - Dashboard - Toshokan'
      }
    },
    mounted() {
      this.setTab("anime")
    },
    methods: {
      genColors(l){
        return palette('tol',l).map((c) => '#' +c)
        // return palette('cb-RdYlGn',l).map((c) => '#' +c)
      },
      async setTab(tab){
        await this.$store.dispatch("list/ensureList", tab)
        var list = this.$store.getters["list/list"](tab)
        var data = this.$store.getters["list/data"][tab]
        var o = {}
        list.forEach((entry) => {
          o[entry._id] = {...entry.entry, ...data[entry._id]}
        })

        // TODO add data from search here

        this.lists[tab] = o
        this.cur_tab = tab;
      },
      get_status_pretty: get_status_pretty, get_status_api: get_status_api
    },
    computed: {
      avgScoreByType(){
        let scores = {}
        let nums = {}
        for (var i in this.lists[this.cur_tab]) {
          let entry = this.lists[this.cur_tab][i]
          if (entry.score != 0 && entry.score != null) {
            if (scores[entry.type] == undefined) {
              scores[entry.type] = entry.score
              nums[entry.type] = 1
            } else {
              scores[entry.type] += entry.score
              nums[entry.type]++
            }
          }
        }

        let labels = []
        let final_scores = []

        for (var k in scores) {
          if (scores.hasOwnProperty(k)) {
            labels.push(k)
            final_scores.push(parseFloat((scores[k]/nums[k]).toFixed(2)))
          }
        }

        return {
          options: {
            responsive: true,
            maintainAspectRatio: false,
            scales: {
              yAxes: [{
                ticks: {
                  beginAtZero: true,
                  min: 0,
                  max: 10,
                }
              }]
            },
          },
          graph: {
            datacollection: {
              labels: labels,
              datasets: [
                {
                  label: 'Average Score',
                  backgroundColor: this.genColors(1)[0],
                  data: final_scores
                }
              ]
            }
          }
        }
      },
      statusFreq(){
        // FIXME code duplication?
        var statuses = {}
        for (var i in this.lists[this.cur_tab]) {
          var entry = this.lists[this.cur_tab][i]
          if (entry.status) {
            if (statuses[entry.status] == undefined) {
              statuses[entry.status] = 1
            } else {
              statuses[entry.status]++
            }
          }
        }
        var status_names = []
        var status_vals = []
        for (var key in statuses) {
          if (statuses.hasOwnProperty(key)) {
            status_names.push(this.get_status_pretty(this.cur_tab)[key])
            status_vals.push(statuses[key])
          }
        }
        var colors = this.genColors(status_names.length)
        return {
          graph: {
            datacollection: {
              labels: status_names,
              datasets: [
                {
                  data: status_vals,
                  backgroundColor: colors
                }
              ]
            }
          }
        }
      },
      typeFreq(){
        var types = {}
        for (var i in this.lists[this.cur_tab]) {
          var entry = this.lists[this.cur_tab][i]
          if (entry.type && entry.status == 'completed') {
            if (types[entry.type] == undefined) {
              types[entry.type] = 1
            } else {
              types[entry.type]++
            }
          }
        }
        var type_names = []
        var type_vals = []
        for (var key in types) {
          if (types.hasOwnProperty(key)) {
            type_names.push(key)
            type_vals.push(types[key])
          }
        }
        var colors = this.genColors(type_names.length)
        return {
          graph: {
            datacollection: {
              labels: type_names,
              datasets: [
                {
                  data: type_vals,
                  backgroundColor: colors
                }
              ]
            }
          }
        }
      },
      scoreFreq(){
        var scores = [0,0,0,0,0,0,0,0,0,0,0]
        var m = 0
        var l = 0
        for (var i in this.lists[this.cur_tab]) {
          var entry = this.lists[this.cur_tab][i]
          if (entry != null && entry.score != 0 && entry.score != null) {
            scores[Math.round(entry.score)]++
            m += entry.score
            l++
          } else {
            scores[0]++
          }
        }
        if (l != 0) {
          m = m/l
        }

        return {
          total: l,
          mean: m,
          graph: {
            datacollection: {
              labels: ['-','1','2','3','4','5','6','7','8','9','10'],
              datasets: [
                {
                  label: 'Score Frequency',
                  backgroundColor: this.genColors(1)[0],
                  data: scores
                }
              ]
            }
          }
        }
      },
    },
  }
</script>
<style>
  .stats >>> .stat {
    height: 500px;
  }
</style>
