<template>
  <nav class="navbar is-primary">
    <div class="container">
      <div class="navbar-brand">
        <nuxt-link class="navbar-item" to="/">
          <span style="font-size: 1.6em !important; padding-right: 3px;">図</span><span class="has-text-weight-bold">Toshokan</span>
        </nuxt-link>

        <div class="navbar-burger burger" @click="toggleMenu" :class="{'is-active': navIsActive}" data-target="mainNav">
          <span></span>
          <span></span>
          <span></span>

        </div>
      </div>
      <div id="mainNav" class="navbar-menu" :class="{'is-active': navIsActive}">
        <div class="navbar-start">
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link" href="javascript:void(0)">
              Anime
            </a>
            <div class="navbar-dropdown">
              <nuxt-link to="/top/anime" class="navbar-item">
                Top Anime
              </nuxt-link>
              <nuxt-link to="/search?type_=anime&sort=score&browser_mode=true" class="navbar-item">
                Browse
              </nuxt-link>
              <nuxt-link to="/seasons" class="navbar-item">
                Seasons
              </nuxt-link>
            </div>
          </div>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link" href="javascript:void(0)">
              Manga
            </a>
            <div class="navbar-dropdown">
              <nuxt-link to="/search?type_=manga&sort=score&browser_mode=true" class="navbar-item">
                Browse
              </nuxt-link>
            </div>
          </div>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link" href="javascript:void(0)">
              Novel
            </a>
            <div class="navbar-dropdown">
              <nuxt-link to="/search?type_=novel&sort=score&browser_mode=true" class="navbar-item">
                Browse
              </nuxt-link>
            </div>
          </div>
        </div>
        <div class="navbar-end">
          <search></search>
            <nuxt-link v-show="$store.getters.isRegistered" class="navbar-item" to="/dashboard/list/anime">
              Dashboard
            </nuxt-link>
          <usernav></usernav>
        </div>
      </div>
    </div>
  </nav>
</template>
<script>
  import search from "~/components/search.vue"
  import usernav from "~/components/layout/usernav.vue"
  export default {
    name: 'navbar',
    data () {
	    return {
	      navIsActive: false
	    }
    },
    methods: {
	    toggleMenu: function () {
	      this.navIsActive = !this.navIsActive
	    }
    },
    components: {
	    "search": search,
	    "usernav": usernav
    }
  }
</script>
