<template>
  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>© Toshokan B.V.</strong>, All Rights Reserved. <br />
        <nuxt-link to="/privacy" class="footer-link">Privacy Policy</nuxt-link><br />
        <nuxt-link to="/tos" class="footer-link">Terms Of Service</nuxt-link><br>
        <nuxt-link to="/contact" class="footer-link">Contact Us</nuxt-link>
      </p>
    </div>
  </footer>
</template>
<script>
  export default {
    name: 't_footer',
  }
</script>
<style>
.footer-link {
  margin: 20px;
  padding-bottom: 20px;
}
</style>
