<template>
  <div class="columns is-centered">
    <img src="/unauthorized.png">
    <b-modal has-modal-card
             :canCancel="false"
             :active="!$store.getters.isAuthorized">
      <login_form></login_form>
    </b-modal>
  </div>
</template>
<script>
  import login_form from '~/components/login_form.vue'
  export default {
    name: 'unauthorized',
    components: {
      login_form
    }
  }
</script>
