<template>
  <div v-if="$store.getters.isAuthenticated" class="navbar-item has-dropdown is-hoverable">
    <nuxt-link class="navbar-link" to="">
      User
    </nuxt-link>
    <div class="navbar-dropdown">
      <nuxt-link class="navbar-item" to="/settings/">
        Settings
      </nuxt-link>
      <nuxt-link class="navbar-item" to="/profile">
        Profile
      </nuxt-link>
      <nuxt-link class="navbar-item" to="/help">
        Help
      </nuxt-link>
      <a class="navbar-item" href="javascript:void(0)" @click="$store.dispatch('signOut')">
        Sign out
      </a>
    </div>
  </div>
  <a v-else class="navbar-item is-hoverable" href="javascript:void(0)" @click="openLoginForm">
    Login/Register
  </a>
</template>
<script>
  import login_form from "~/components/login_form.vue"
  export default {
    components: {
      "login_form": login_form
    },
    methods: {
      openLoginForm() {
        this.$modal.open({
          parent: this,
          component: login_form,
          hasModalCard: true
        })
      }
    }
  }
</script>
