<template>
  <div class="tile is-child" style="width:200px; height: 450px;">
    <article class="tile is-child">
      <nuxt-link :to="'/' + type + '/' + entry._id"><p class="has-text-weight-bold has-text-centered" style="padding-bottom: 10px;">{{entry.title}}</p>
        <figure class="image" style="width: 200px;">
          <img :src="'https://cdn.toshokan.moe/library/' + type + '/' + entry._id + '/poster.jpg'">
        </figure>
      </nuxt-link>

      <b>Type: </b>{{entry.type}}<br>
      <template v-if="type == 'anime'">
        <b>Studio{{entry.studios.length > 1 ? 's' : ''}}: </b> {{entry.studios.join(', ')}}<br>
        <b>Genres: </b> {{entry.genres.join(', ')}}<br>
      </template>
      <template v-else-if="type == 'manga' || type == 'novel'">
        <b>Genres: </b> {{entry.genres.join(', ')}}<br>
        <b>Authors: </b><span>
          <template v-for="(author, i) in entry.authors">
            <nuxt-link :to="author.href" :key="author.href + entry.title">{{author.name}}</nuxt-link> ({{author.roles.join(', ')}})<template v-if="i+1 < entry.authors.length">, </template>
          </template>
        </span>
      </template>
    </article>
  </div>
</template>
<script>
  export default {
    props: {
      type: String,
      entry: Object
    },
  }
</script>
