<template>
  <b-field class="search-nav">
    <b-autocomplete
      v-model="name"
      placeholder="Search Anime, Manga, VNs..."
      :data="data"
      field="title"
      clear-on-select
      @input="getAsyncData"
      @select="navigateToPage"
      @keydown.native="keypressed">
      <template class="has-background-black" slot-scope="props">
        <div v-if="props.option.title" class="media inst-item">
          <div class="media-left">
            <library-lazy-image :max_width="45" :max_height="64" :type="props.option._type" :id="props.option._id"></library-lazy-image>
          </div>
          <div class="media-content">
            {{ capLength(props.option.title, 38) }} <br>{{props.option.type}}
            <br>
            <template v-if="props.option.type == 'TV'">{{season(props.option)}} </template><template v-if="props.option.start_date">{{props.option.start_date.split('-')[0]}}, </template>{{props.option.status}}
          </div>
        </div>
        <div v-else-if="props.option._type === 'character'" class="media inst-item">
          <div class="media-left">
            <library-lazy-image :max_width="45" :max_height="64" :type="props.option._type" :id="props.option._id"></library-lazy-image>
          </div>
          <div class="media-content">
            {{ capLength(props.option.name_english, 38) }}
            <br>
          </div>
        </div>
        <div v-else-if="props.option._type === 'person'" class="media inst-item">
          <div class="media-left">
            <library-lazy-image :max_width="45" :max_height="64" :type="props.option._type" :id="props.option._id"></library-lazy-image>
          </div>
          <div class="media-content">
            {{ capLength(props.option.name, 38) }}
            <br>
          </div>
        </div>
        <div class="button has-text-centered is-fullwidth is-info inst-footer" v-else-if="props.option._type === 'footer'">
          More Results
        </div>
        <div class="button has-text-centered is-fullwidth is-info inst-header" v-else-if="props.option._type === 'header'">
          {{props.option.for}}
        </div>
      </template>
    </b-autocomplete>

  </b-field>
</template>

<script>
  import debounce from 'lodash/debounce';
  import season from '~/utils/season.js'
  import library_lazy_image from "~/components/library/library_lazy_image.vue";
  export default {
    name: 'search',
    components: {
      "library-lazy-image": library_lazy_image
    },
    data() {
      return {
        data: [],
        name: '',
        selected: null,
        loading: false
      }
    },
    methods: {
      getAsyncData: debounce(async function () {
        if (!this.name) {
          return
        }
        this.isFetching = true
        var x = `&q=name_:${this.name}`
        const response = await this.$axios.$post(`/search/anime,manga,novel,vn,character,person/_search?search_type=dfs_query_then_fetch`, {
          "_source": ["start_date", "status", "title", "type", "name", "name_english" ],
          query: {
            match: {
              name_: {
                "query": this.name,
                "operator": "and"
              }
            }
          }
        });
        this.isFetching = false
        this.data = []
        var results = []
        var types = ["anime", "manga", "novel", "vn", "character", "person"]
        types.forEach(type => results[type] = [])
        response.hits.hits.forEach((item) => results[item._type].push({ ...(item._source), _id: item._id, _type: item._type }));
        types.forEach((type) => {
          var text = type.charAt(0).toUpperCase() + type.substr(1);
          this.data.push({ "_type": "header", "for": text })
          results[type].forEach(item => this.data.push(item))
        })
        this.data.push({ "_type": "footer" });
      }, 200),
      navigateToPage: function (result) {
        if (!this.name) {
          return
        }
        if (!result) {
          return
        }
        if (result._type == "footer") {
          this.$router.push('/search/?q=name_:' + this.name)
        } else if (result._type == "header") {
          return
        }
        else {
          this.$router.push(`/${result._type}/${result._id}`)
        }
      },
      capLength: function (title, length) {
        if (typeof title == 'string' && title.length >= length) {
          return title.slice(0, length - 3) + '...'
        } else {
          return title
        }
      },
      season(result) {
        return season(result.start_date)
      },
      keypressed(value) {
        if(event.key === 'Enter') {
          this.$router.push('/search/?q=name_:' + this.name)
        }
      }
    }
  }
</script>

<style scoped>
  .search-nav {
    padding-top: 10px;
    margin-right: 10px;
    margin-left:10px
  }
  .search-nav >>> .dropdown-content {
    border-radius: 0;
  }
  .search-nav >>> .input {
    width: 300px;
    border-radius: 0px;
    border-bottom-left-radius: 0px !important;
    border-top-left-radius: 0px !important;
  }
  .search-nav >>> .button {
    border-radius: 0px;
  }
  .search-nav >>> .dropdown-menu {
    width: 100%;
    padding-top: 0px;
  }
  .search-nav >>> .autocomplete .dropdown-content {
    max-height: 950px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .search-nav >>> .dropdown-item {
    padding: 0px;
  }
  .search-nav >>> .inst-item {
    padding: 0.375rem 1rem;
  }
  .search-nav >>> .inst-footer {
    width: 100%;
    height: 100%;
    font-weight: bold;
    /* TODO pick a good colour kek */
    background-color: #8080FF;
  }
  .search-nav >>> .inst-header {
    width: 100%;
    height: 100%;
    font-weight: bold;
    background-color:cornflowerblue;
  }
  .search-nav >>> .media-left {
    margin-right: 8px;
  }

  .search-nav >>> .inst-item {
    padding-bottom: 3px;
    padding-top: 3px;
  }
</style>
