<template>
  <div v-if="entry == null">Loading...</div>
  <div v-else class="edit-form">
    <b-field label="Status" horizontal>
      <b-select v-model="entry.status">
        <option v-for="option in statuses" :key="option">
          {{option}}
        </option>
      </b-select>
    </b-field>
    <b-field label="Score"
      horizontal
      :type="$v.entry.score.$invalid ? 'is-danger' : ''"
      :message="$v.entry.score.$invalid ? 'Must be a number between 1 and 10' : ''">
      <b-input v-model="entry.score">
      </b-input>
      <button class="button is-static counter">/ 10 </button>
    </b-field>
    <b-field id="progress-field"
      :label="progressName"
      horizontal
      :type="$v.entry.progress.$invalid ? 'is-danger' : ''"
      :message="$v.entry.progress.$invalid ? 'Must be between 1 and ' + item[this.type != 'anime' ? 'volume_count' : 'episode_count']: ''">
      <button v-if="(itemProgress == null) || (entry.progress < itemProgress)" class="plus1-button button is-primary" @click="entry.progress++">+</button>

      <b-input v-model="entry.progress">
      </b-input>

      <button class="button is-static counter">/ {{itemProgress}} </button>
    </b-field>

    <b-field v-if="type !='anime'" id="volumes-field" label="Volumes" horizontal>
      <button v-if="(item.volume_count == null) || (entry.volumes < item.volume_count)" class="plus1-button button is-primary" @click="entry.volumes++">+</button>
      <b-input v-model="entry.volumes">
      </b-input>

      <button class="button is-static counter">/ {{item.volume_count}} </button>
    </b-field>

    <b-field label="Start Date"
      horizontal
      :type="!$v.entry.datesInOrder ? 'is-danger' : ''"
      :message="!$v.entry.datesInOrder ? 'End date can not be before start date' : ''"
    >
      <b-datepicker :date-formatter="(date) => $moment.utc(date).format('MMM DD, YYYY')"
        v-model="entry.start_date"
        placeholder="Choose..."
        icon="calendar-today">
      </b-datepicker>
    </b-field>

    <b-field label="End Date"
      horizontal
      :type="!$v.entry.datesInOrder ? 'is-danger' : ''"
      :message="!$v.entry.datesInOrder ? 'End date can not be before start date' : ''"
    >
      <b-datepicker :date-formatter="(date) => $moment(date).format('MMM DD, YYYY')"
        v-model="entry.end_date"
        placeholder="Choose..."
        icon="calendar-today">
      </b-datepicker>
    </b-field>

    <b-field :label="repetitionsName"
      horizontal
      :type="$v.entry.repetitions.$invalid ? 'is-danger' : ''"
      :message="$v.entry.repetitions.$invalid ? 'Must be between 0 and 500' : ''"
    >
      <button class="plus1-button button is-primary" @click="entry.repetitions++">+</button>
      <b-input v-model="entry.repetitions">
      </b-input>
    </b-field>

    <b-field id="comments-field"
      label="Comments"
      :type="$v.entry.comments.$invalid ? 'is-danger' : ''"
      :message="$v.entry.comments.$invalid ? 'Must be no more than 4000 characters' : ''"
    >
      <b-input v-model="entry.comments" type="textarea" maxlength="4000"></b-input>
    </b-field>


  </div>
</template>
<script>
  import edit_form from '~/components/list/list_form.vue'
  import { required, minLength, between, minValue, maxLength } from '~/node_modules/vuelidate/lib/validators'
  const datesInOrder = (entry) => (entry.start_date == null) || (entry.end_date == null) || (entry.start_date <= entry.end_date)

  export default {
    extends: edit_form,
    name: "add_edit_form",
    props: {
      list_type: String,
      item: Object
    },
    data() {
      return {
        new_entry: false,
        entry: null
      };
    },
    async created() {
      this.initialize()
    },
    methods: {
      async initialize() {
        this.new_entry = false
        await this.fetchEntry()
        if (this.entry == null) {
          this.new_entry = true
          this.entry = {
            progress: 0,
            score: 0,
            status: "Planned",
            start_date: null,
            end_date: null,
            repetitions: 0,
            comments: "",
            volumes: 0
          }
        }
        this.$emit("new-entry-update", this.new_entry)
      }
    },
    watch: {
      item: function() {
        this.initialize()
      },
      convertedEntry: function() {
        this.$emit("input", { url: this.apiUrl, entry: this.convertedEntry })
      }
    },
    validations: {
      entry: {
        datesInOrder,

        comments: {
          maxLength: maxLength(4000)
        },
        score: {
          between: between(1, 10)
        },
        progress: {
          required,
          minValue: minValue(0),
          maxValue: function(progress) {
            return (
              this.item[
                this.type != "anime" ? "chapter_count" : "episode_count"
              ] == null ||
              this.item[
                this.type != "anime" ? "chapter_count" : "episode_count"
              ] >= progress
            )
          }
          // TODO max value
        },
        repetitions: {
          between: between(0, 500)
        },
        start_date: {},
        end_date: {}
      }
    }
  };
</script>

<style scoped>
  .edit-form >>> .is-horizontal {
    margin-bottom: 5px;
  }

  .edit-form >>> .field {
    margin-right: 0;
  }

  .edit-form >>> label {
    width: 120px;
    text-align: left;
  }

  .edit-form >>> select {
    text-align-last: right;
  }

  .edit-form >>> .counter {
    border-left: none;
  }

  .edit-form >>> .plus1-button {
    width: 2.5rem;
    border-right: none;
  }


  .edit-form >>> input, .modal-card >>> select {
    text-align: right;
    padding-top: 0;
    padding-bottom: 0;
  }

  .edit-form >>> .pagination a{
    margin: 0;
  }
  .edit-form >>> .pagination-previous {
    border-right: none;
  }

  .edit-form >>> .pagination-next {
    border-left: none;
  }

  .edit-form >>> option {
    direction: rtl;
  }

  .edit-form >>> select {
    width: 100%;
  }

  .edit-form >>> .pagination-list select{
    text-align: center;
    width: auto;
  }

  .edit-form >>> span.select {
    width: 100%;
    margin-bottom: 5px;
  }

  .edit-form >>> .is-fullwidth {
    width: 100%;
  }

  .edit-form >>> a.pagination-previous, .edit-form >>> a.pagination-next {
    margin-top: 1px !important;
  }

  .modal-card { overflow: visible; }
  .modal-card-body { overflow: visible; }

</style>
