<template>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title has-text-centered">Add {{upcasedType}}</p>
    </header>

    <section class="modal-card-body">
        <b-field class="search-nav">
          <b-autocomplete
            v-model="name"
            placeholder="Search"
            :data="data"
            field="title"
            :loading="false"
            @select="selectItem"
            @input="getAsyncData">
            <template class="has-background-black" slot-scope="props">
              <div v-if="props.option.title" class="media inst-item">
                <div class="media-left">
                  <library-lazy-image :max_width="45" :max_height="75" :type="props.option._type" :id="props.option._id"></library-lazy-image>
                </div>
                <div class="media-content">
                  {{ capLength(props.option.title, 38) }}
                  <br>
                  {{getSeason(props.option)}}, {{props.option.status}}
                </div>
              </div>
              <div v-else-if="props.option._type === 'character'" class="media inst-item">
                <div class="media-left">
                  <library-lazy-image :max_width="45" :max_height="75" :type="props.option._type" :id="props.option._id"></library-lazy-image>
                </div>
                <div class="media-content">
                  {{ capLength(props.option.name_english, 38) }}
                  <br>
                </div>
              </div>
              <div v-else-if="props.option._type === 'person'" class="media inst-item">
                <div class="media-left">
                  <library-lazy-image :max_width="45" :max_height="75" :type="props.option._type" :id="props.option._id"></library-lazy-image>
                </div>
                <div class="media-content">
                  {{ capLength(props.option.name, 38) }}
                  <br>
                </div>
              </div>
              <div class="button has-text-centered is-fullwidth is-info inst-footer" v-else-if="props.option._type === 'footer'">
                More Results
              </div>
              <div class="button has-text-centered is-fullwidth is-info inst-header" v-else-if="props.option._type === 'header'">
                {{props.option.for}}
              </div>
            </template>
          </b-autocomplete>
        </b-field>
      <hr>

      <div v-if="item" class="columns">
        <div class="column left-col">
          <div class="library-image">
            <library-lazy-image :type="list_type" :id="item._id"></library-lazy-image>
          </div>
          <div class="library-info">
            <span class="has-text-weight-bold">Type: </span>{{item.type}}<br>
            <span class="has-text-weight-bold">{{progressName}}: </span>{{itemProgress || "N/A"}}<br>

            <template v-if="list_type == 'manga' || list_type == 'novel'">
              <span class="has-text-weight-bold">Volumes: </span>{{item.volume_count}}<br>
              <span class="has-text-weight-bold">Serialization: </span>{{item.serialization}}<br>
              <span class="has-text-weight-bold">Authors: </span>
              <template v-for="(author, i) in item.authors">
                {{author.name}}
                <template v-if="author.roles.length == 1">({{author.roles[0]}})</template>
                <template v-if="author.roles.length == 2">(Story & Art)</template><template v-if="i+1 < item.authors.length">, </template>
              </template><br>
            </template>

            <template v-if="list_type == 'anime'">
              <span class="has-text-weight-bold">Season: </span>{{thisSeason}}<br>
              <span class="has-text-weight-bold">Studios: </span>
              <template v-for="(studio, i) in item.studios">
                {{studio}}
                <template v-if="i+1 < item.studios.length">, </template>
              </template><br>
            </template>

            <span class="has-text-weight-bold">Genres: </span>
            <template v-for="(genre, i) in item.genres">
              {{genre}}<template v-if="i+1 < item.genres.length">, </template>
            </template><br>
            <span class="has-text-weight-bold">Started: </span>{{item.start_date == null ? "Unknown" : $moment(item.start_date).format('MMM DD, YYYY')}}<br>
            <span class="has-text-weight-bold">Ended: </span>{{item.end_date == null ? "Unknown" : $moment(item.end_date).format('MMM DD, YYYY')}}<br>
            <hr>
            <span class="has-text-weight-bold">Score: </span><br>
            <span class="has-text-weight-bold">Ranked: </span><br>
            <span class="has-text-weight-bold">Members: </span><br>
            <span class="has-text-weight-bold">Sakura Score: </span><br>


          </div>
        </div>
        <div class="column right-col">
          <add-edit-form  v-model="entry_data" @new-entry-update="new_entry_update" :type="list_type" :item="item"></add-edit-form>
        </div>
      </div>

    </section>

    <footer class="modal-card-foot has-text-centered">
      <span class="is-fullwidth is-centered">
        <button class="button" type="button" @click="$parent.close()">Exit</button>
        <button class="button is-primary" type="button" @click="updateEntry">{{is_new ? "Add Entry" : "Save"}}</button>
      </span>
    </footer>
  </div>
</template>
<script>
  import debounce from 'lodash/debounce';
  import season from '~/utils/season.js'
  import { get_status_pretty, get_status_api } from '~/utils/list/status.js'
  import edit_form from '~/components/list/list_form.vue'
  import add_edit_form from '~/components/list/add_edit_form.vue'
  import library_lazy_image from "~/components/library/library_lazy_image.vue";

  export default {
    data() {
      return {
        item: null,
        item_id: null,
        is_new: false,
        entry_data: {},
        data: [],
        name: ""
      }
    },
    props: {
      list_type: String
    },
    components: {
      'add-edit-form': add_edit_form,
      'library-lazy-image': library_lazy_image
    },
    methods: {
      async selectItem(result){
        this.item = await this.$axios.$get("/" + this.list_type + "/" + result._id)
      },
      new_entry_update(event){
        this.is_new = event
      },
      async updateEntry(){
        try {
          await this.$axios.$put(this.entry_data.url, this.entry_data.entry)
          this.$toast.open({
            message: this.is_new ? "Added" : "Saved",
            type: 'is-success'
          })
        } catch (e){
          this.$toast.open({
            message: "Failure",
            type: 'is-danger'
          })
        }
      },
      getAsyncData: debounce(async function () {
        if (!this.name) {
          return
        }
        this.isFetching = true
        var x = `&q=name_:${this.name}`
        var qobj = {
          "_source": ["start_date", "status", "title", "type", "name", "name_english" ],
          query: {
            match: {
              name_: {
                "query": this.name,
                "operator": "and"
              }
            }
          }
        }
        if (this.list_type == "vn"){
          qobj.sort = [{ "popularity_score": "desc" }, {_score: "desc"}]
        }
        const response = await this.$axios.$post(`/search/${this.list_type}/_search?search_type=dfs_query_then_fetch`, qobj);
        this.isFetching = false
        this.data = []
        var results = []
        response.hits.hits.forEach((item) => results.push({ ...(item._source), _id: item._id, _type: item._type }));

        var type = this.list_type
        var text = type.charAt(0).toUpperCase() + type.substr(1);
        results.forEach(item => this.data.push(item))

      }, 200),
      capLength: function (title, length) {
        if (typeof title == 'string' && title.length >= length) {
          return title.slice(0, length - 3) + '...'
        } else {
          return title
        }
      },
      getSeason(result) {
        return season(result.start_date)
      }
    },
    computed: {
      // Some of this stuff is copied from the edit_form, but I couldn't think of a good way to get just that out of it
      itemProgress() {
        if (this.list_type == 'anime') {
          return this.item.episode_count
        } else if (this.list_type == 'manga') {
          return this.item.chapter_count
        }
      },
      progressName() {
        // For displaying
        if (this.list_type == 'anime') {
          return 'Episodes'
        } else {
          return 'Chapters'
        }
      },
      upcasedType() {
        // Name of the type, but with the first letter as a capital, for display
        return this.list_type.charAt(0).toUpperCase() + this.list_type.substr(1)
      },
      thisSeason() {
        if (this.item.start_date == null) {
          return "Unknown"
        }
        const month = new Date(this.item.start_date).getMonth();
        if (month >= 9) {
          return "Fall"
        } else if (month >= 6) {
          return "Summer"
        } else if (month >= 3) {
          return "Spring"
        } else {
          return "Winter"
        }
      }
    },

  }
</script>

<style scoped>
  .modal-card { overflow: visible; }
  .modal-card-body { overflow: visible; }
  .is-fullwidth { width: 100%; }

.search-nav >>> .dropdown-content {
    border-radius: 0;
}
.search-nav >>> .button {
    border-radius: 0px;
}
.search-nav >>> .dropdown-menu {
    width: 100%;
    padding-top: 0px;
}
.search-nav >>> .autocomplete .dropdown-content {
    max-height: 800px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.search-nav >>> .dropdown-item {
    padding: 0px;
}
.search-nav >>> .inst-item {
    padding: 0.375rem 1rem;
}
.search-nav >>> .inst-footer {
    width: 100%;
    height: 100%;
    font-weight: bold;
    /* TODO pick a good colour kek */
    background-color: #8080FF;
}
.search-nav >>> .inst-header {
    width: 100%;
    height: 100%;
    font-weight: bold;
    background-color:cornflowerblue;
}
 .search-nav >>> .media-left {
     margin-right: 8px;
 }

 .search-nav >>> .inst-item {
     padding-bottom: 3px;
     padding-top: 3px;
 }
</style>
