<template>
  <div>

    <div v-if="list_type == 'vn'">
      <b>Visual Novels</b><br>
      <div class="field">
        <label class="label">VNDB Username</label>
        <div class="field is-grouped">
          <input class="input" v-model="vndb_name" style="margin-right: 5px;">
          <button class="button" @click="importVNDB(vndb_name)">Import</button>
        </div>
      </div>
    </div>
    <div v-else>
      <b-field :label="label" v-if="!files" v-else>
        <b-upload v-model="files"
          drag-drop>
          <section class="section">
            <div class="content has-text-centered">
              <p>
                <b-icon icon="upload"
                  size="is-large">
                </b-icon>
              </p>
              <p>Drop your file here or click to upload</p>
            </div>
          </section>
        </b-upload>
      </b-field>
      <div v-else>
        <progress class="progress is-info" :value="progress" :max="list.length"></progress>
        <div>
          {{progress}}/{{list.length}} entries updated
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import convertMAL from '~/utils/list/malconvert.js'

  export default {
    props: {
      list_type: String,
      replace_list: Boolean
    },
    data() {
      return {
        files: null,
        list: [],
        progress: 0,
        vndb_name: ''
      }
    },
    watch: {
      "files"(){
        this.importMAL()
      }
    },
    computed: {
      label() {
        if(this.list_type == 'manga') {
          return 'Manga and Novels'
        } else {
          return this.list_type.charAt(0).toUpperCase() + this.list_type.slice(1)
        }
      }
    },
    methods: {
      async importVNDB(username) {
        const list = await this.$axios.$get('/vndb-list/' + username)
        if (list.length != 0) {
          var response = await this.$axios.$put(`/list/vn?origin=vndb`, { list: list })
          this.progress = this.list.length
          this.$toast.open({
            message: response.msg,
            type: 'is-success'
          })
        } else {
          this.$toast.open({
            message: "Error.",
            type: 'is-danger'
          })
        }
      },
      async importMAL() {
        const list_obj = await convertMAL(this.files)
        this.list = list_obj[this.list_type]
        if (!this.list) {
          this.$toast.open({
            message: "Error.",
            type: 'is-danger'
          })
          return
        }
        if (this.replace_list) { // directly replace entire list, deleting old one
          var response = await this.$axios.$put(`/list/${this.list_type}?origin=mal`, { list: this.list })
          if(this.list_type == 'manga'){
            await this.$axios.$put(`/list/novel?origin=mal`, { list: this.list })
          }
          this.progress = this.list.length
          this.$toast.open({
            message: response.msg,
            type: 'is-success'
          })
        } else { // merge list with current
          var i;
          for (i in this.list) {
            await this.$axios.$put(`/list/${this.list_type}/${this.list[i]._id}`, this.list[i].entry)
            if(this.list_type == 'manga'){
              await this.$axios.$put(`/list/novel/${this.list[i]._id}`, this.list[i].entry)
            }
            this.progress++
          }
          this.$toast.open({
            message: "Merged lists",
            type: 'is-success'
          })
        }
        this.$emit('list-update')
      }
    }
  }
</script>
