<template>
  <div class="modal-card edit-form" v-show="!loading">
    <header class="modal-card-head">
      <p class="modal-card-title has-text-centered">{{item.title}}</p>
    </header>
    <section class="modal-card-body">
      <b-field label="Status" :horizontal="$viewport.geq('desktop', $mq)">
        <b-select v-model="entry.status">
          <option v-for="option in statuses" :key="option">
            {{option}}
          </option>
        </b-select>
      </b-field>

      <b-field label="Score"
        :horizontal="$viewport.geq('desktop', $mq)"
        :type="$v.entry.score.$invalid ? 'is-danger' : ''"
        :message="$v.entry.score.$invalid ? 'Must be a number between 1 and 10' : ''">
        <b-input v-model="entry.score">
        </b-input>
      </b-field>

      <template v-if="$viewport.leq('tablet', $mq) && type != 'vn'">
        <label class="label">{{progressName}}</label>
      </template>

      <b-field class="outerfield">
        <b-field id="progress-field"
          v-if="type != 'vn'"
          :label="$viewport.leq('tablet', $mq) ? '' : progressName"
          :horizontal="$viewport.geq('desktop', $mq)"
          :type="$v.entry.progress.$invalid ? 'is-danger' : ''"
          :message="$v.entry.progress.$invalid ? 'Must be between 1 and ' + item[this.type != 'anime' ? 'volume_count' : 'episode_count']: ''"
        >
          <button v-if="(itemProgress == null) || (entry.progress < itemProgress)" class="plus1-button button is-primary" @click="entry.progress++">+</button>

          <b-input v-model="entry.progress">
          </b-input>
        </b-field>
        <button class="button is-static counter" v-if="type != 'vn'">/ {{itemProgress}} </button>
      </b-field>

      <b-field v-if="type !='anime' && type != 'vn'" id="volumes-field" label="Volumes" :horizontal="$viewport.geq('desktop', $mq)">
        <button v-if="(item.volume_count == null) || (entry.volumes < item.volume_count)" class="plus1-button button is-primary" @click="entry.volumes++">+</button>
        <b-input v-model="entry.volumes">
        </b-input>

        <button class="button is-static counter">/ {{item.volume_count}} </button>
      </b-field>

      <b-field label="Start Date"
        :horizontal="$viewport.geq('desktop', $mq)"
        :type="!$v.entry.datesInOrder ? 'is-danger' : ''"
        :message="!$v.entry.datesInOrder ? 'End date can not be before start date' : ''"
      >
        <b-datepicker :date-formatter="(date) => $moment(date).format('MMM DD, YYYY')"
          v-model="entry.start_date"
          placeholder="Choose..."
          icon="calendar-today">
        </b-datepicker>
      </b-field>

      <b-field label="End Date"
        :horizontal="$viewport.geq('desktop', $mq)"
        :type="!$v.entry.datesInOrder ? 'is-danger' : ''"
        :message="!$v.entry.datesInOrder ? 'End date can not be before start date' : ''"
      >
        <b-datepicker :date-formatter="(date) => $moment(date).format('MMM DD, YYYY')"
          v-model="entry.end_date"
          placeholder="Choose..."
          icon="calendar-today">
        </b-datepicker>
      </b-field>

      <template v-if="$viewport.leq('tablet', $mq)">
        <label class="label">{{repetitionsName}}</label>
      </template>

      <b-field :label="$viewport.leq('tablet', $mq) ? '' : repetitionsName"
        :horizontal="$viewport.geq('desktop', $mq)"
        :type="$v.entry.repetitions.$invalid ? 'is-danger' : ''"
        :message="$v.entry.repetitions.$invalid ? 'Must be between 0 and 500' : ''"
      >
        <button class="plus1-button button is-primary" @click="entry.repetitions++">+</button>
        <b-input v-model="entry.repetitions">
        </b-input>
      </b-field>

      <b-field id="comments-field"
        label="Comments"
        :type="$v.entry.comments.$invalid ? 'is-danger' : ''"
        :message="$v.entry.comments.$invalid ? 'Must be no more than 4000 characters' : ''"
      >
        <b-input v-model="entry.comments" type="textarea" maxlength="4000"></b-input>
      </b-field>

      <div class="has-text-centered"><button class="button" @click="editing_eps = !editing_eps">{{editing_eps ? 'Stop ' : ''}}Edit{{editing_eps ? 'ing' : ''}} Episodes</button></div>
      <div v-if="editing_eps">
        <br>
        <div class="columns">
          <template v-for="x in [3,2,1]">
            <div class="column">
              <template v-for="ep, i in entry.episodes" v-if="(i+x) % 3 == 0 && i >= ep_pag && i < ep_pag + 9">
                <div class="box">
                  <div class="has-text-centered">
                    <div class="has-text-weight-bold" style="margin-bottom: 5px;">Episode {{ep.number}}<br></div>
                    <span style="vertical-align: middle"><button class="button" @click="ep.progress = Math.max(0, ep.progress - 1)">-</button> <span style="vertical-align:middle" class="button" :class="{'is-primary': ep.progress != 0}">{{ep.progress}}</span> <button class="button" @click="ep.progress += 1">+</button></span>
                    <br>
                    <div v-if="ep_editing[ep.number]" style="margin-top: 10px;">
                      <b>Comments</b><br>
                      <textarea v-model="ep.comments" class="textarea"></textarea>
                      <b>Score</b><br>

                      <input v-model="ep.score" class="input" style="text-align: left" :class="{'is-danger': (ep.score != null && ep.score != '') && ( ep.score < 1 || ep.score > 10 || isNaN(parseFloat(ep.score)) ) }">
                    </div>
                    <a @click="$set(ep_editing, ep.number, !ep_editing[ep.number])">{{ep_editing[ep.number] ? 'Simple' : 'Advanced'}}</a>
                  </div>
                </div>
              </template>
            </div>
          </template>
        </div>
        <div class="columns">
          <div class="column">
          </div>
          <button class="button" @click="ep_pag = Math.max(ep_pag - 9, 0)" style="margin-right: 5px;">Previous Page</button>
          <button class="button" @click="ep_pag = ep_pag + 9 > itemProgress ? ep_pag : ep_pag + 9" style="margin-right: 5px;">Next Page</button>
          <div class="column">
          </div>
        </div>
      </div>

    </section>
    <footer class="modal-card-foot has-text-centered">
      <span class="is-fullwidth is-centered">
        <button class="button is-danger" @click="delete_entry">Delete</button>
        <button class="button" type="button" @click="$parent.close()">Cancel</button>
        <button class="button is-primary" type="button" @click="updateEntry(); $parent.close()">Save</button>
      </span>
    </footer>
  </div>
</template>
<script>
  import { get_status_pretty, get_status_api } from '~/utils/list/status.js'
  import { required, minLength, between, minValue, maxLength } from '~/node_modules/vuelidate/lib/validators'

  const datesInOrder = (entry) => (entry.start_date == null) || (entry.end_date == null) || (entry.start_date <= entry.end_date)

  export default {
    props: {
      type: String,
      pass_entry: Object,
      raw_entry: Boolean,
      item: Object
    },
    data() {
      return {
        loading: true,
        entry: null,
        ep_pag: 0,
        ep_editing: {},
        eps_orig: [],
        editing_eps: false
      }
    },
    async created() {
      if (!this.pass_entry) {
        await this.fetchEntry()
      } else {
        this.raw_entry ? this.initializeEntry({ ...this.pass_entry }) : (this.entry = { ...this.pass_entry })
      }

      if (this.entry != null) {
        this.setupEpisodes()
      }

      this.loading = false
    },
    methods: {
      setupEpisodes(){
        let eps = {}
        for (var number = 1; number <= this.itemProgress; number++) {
          let progress
          if (this.entry.status == 'Completed') {
            progress = this.entry.repetitions + 1
          } else {
            progress = number <= this.entry.progress ? 1 : 0
          }
          eps[number] = {'comments':'', score: null, number, progress }
        }

        if (this.entry.episodes == undefined) {
          this.entry.episodes = []
        }
        this.entry.episodes.forEach((ep) => {
          eps[ep.number] = ep
        })

        // FIXME niggerlicious deep copy
        this.$set(this.entry, 'episodes', JSON.parse(JSON.stringify(Object.values(eps))))
        this.eps_orig = JSON.parse(JSON.stringify(eps))
      },
      async delete_entry(){
        await this.$axios.$delete(this.apiUrl)
        this.$parent.close()
      },
      async addEntry() {
        // Add a new entry with some default settings
        this.entry = {
          progress: 0,
          score: null,
          status: "Planned",
          start_date: null,
          end_date: null,
          repetitions: 0,
          comments: '',
          volumes: 0,
          episodes: []
        }
        this.setupEpisodes()
        await this.updateEntry()
      },
      async fetchEntry() {
        await this.$store.dispatch("list/ensureList", this.type)
        var item = this.storeEntry
        if (item) {
          this.initializeEntry(item.entry)
        } else {
          this.entry = null
        }
      },
      initializeEntry(rawEntry) {
        // Initialize this.entry for editing
        this.entry = {
          ...rawEntry
        }
        this.entry.status = get_status_pretty(this.type)[rawEntry.status]
        this.entry.start_date = this.entry.start_date == null ? null : new Date(this.entry.start_date)
        this.entry.end_date = this.entry.end_date == null ? null : new Date(this.entry.end_date)
      },
      incrementProgress() {
        this.entry.progress = parseInt(this.entry.progress) + 1
        this.updateEntry()
      },
      incrementRepetitions() {
        this.entry.repetitions = parseInt(this.entry.repetitions) + 1
        this.updateEntry()
      },
      incrementVolumes() {
        this.entry.volumes = parseInt(this.entry.volumes) + 1
        this.updateEntry()
      },
      async updateEntry() {
        let episodes = []
        if (this.entry.episodes == undefined) {
          this.entry.episodes = []
        }
        this.entry.episodes.forEach((ep) => {
          var orig = this.eps_orig[ep.number]
          if (orig.comments != ep.comments || orig.score != ep.score || orig.progress != ep.progress) {
            ep.score = parseFloat(ep.score)
            if (ep.score > 10 || ep.score < 1 || isNaN(ep.score)) {
              ep.score = null
            }
            episodes.push(ep)
          }
        })
        this.entry.episodes = episodes
        if(this.entry.progress == this.itemProgress){
          this.entry.status = get_status_pretty(this.type)["completed"]
          this.entry.volumes = this.item.volume_count // This will still work for manga, since volumes is just ignored in that case
        }

        if(this.entry.progress != 0 && this.convertedEntry.status == "planned"){
          this.entry.status = get_status_pretty(this.type)["current"]
        }

        if(this.$v.entry.$invalid){
          this.$toast.open({
            message: 'Invalid entry!',
            type: 'is-danger'
          })

        } else {
          this.$toast.open({
            message: 'Updated!',
            type: 'is-success'
          })

          await this.$axios.$put(this.apiUrl, this.convertedEntry)
        }
      }

    },
    watch: {
      storeEntry: function(newEntry) {
        if (newEntry) {
          this.initializeEntry(newEntry.entry)
        } else {
          this.entry = null
        }
      }
    },
    computed: {
      storeEntry() {
        return this.$store.getters["list/list"](this.type).filter((x) => x._id == this.item._id)[0]
      },
      repetitionsName() {
        return this.type == 'anime' ? 'Rewatched' : 'Reread'
      },
      apiUrl() {
        return `/list/${this.type}/${this.item._id}`
      },
      itemProgress() {
        if (this.type == 'anime') {
          return this.item.episode_count
        } else if (this.type == 'manga') {
          return this.item.chapter_count
        } else {
          return 0
        }
      },
      progressName() {
        // For displaying
        if (this.type == 'anime') {
          return 'Episodes'
        } else {
          return 'Chapters'
        }
      },
      upcasedType() {
        // Name of the type, but with the first letter as a capital, for display
        return this.type.charAt(0).toUpperCase() + this.type.substr(1)
      },
      statuses() {
        return Object.keys(get_status_api(this.type))
      },
      convertedEntry() {
        // This is what's actually sent to the API
        if(this.entry != null){
          var entry = {
            progress: parseInt(this.entry.progress),
            score: parseFloat(this.entry.score),
            status: get_status_api(this.type)[this.entry.status],
            start_date: this.entry.start_date ? new Date(this.entry.start_date).toISOString() : null,
            end_date: this.entry.end_date ? new Date(this.entry.end_date).toISOString() : null,
            repetitions: parseInt(this.entry.repetitions),
            comments: this.entry.comments,
            episodes: this.entry.episodes
          }
          if (this.type == 'manga' || this.type == 'novel') {
            entry.volumes = parseInt(this.entry.volumes)
          }
        } else {
          var entry = {}
        }
        return entry
      }
    },
    validations: {
      entry: {
        datesInOrder,

        comments: {
          maxLength: maxLength(4000)
        },
        score: {
          between: between(1, 10)
        },
        progress: {
          required,
          minValue: minValue(0),
          maxValue: function(progress) {
            return this.item[this.type != 'anime' ? 'chapter_count' : 'episode_count'] == null || this.item[this.type != 'anime' ? 'chapter_count' : 'episode_count'] >= progress
          }
          // TODO max value
        },
        repetitions: {
          between: between(0, 500)
        },
        start_date: {

        },
        end_date: {

        }
      }
    }
  }

</script>
<style scoped>
  .outerfield {
    margin-bottom: 0 !important;
  }

  .edit-form >>> .is-horizontal {
    margin-bottom: 5px;
  }

  .edit-form >>> .field {
    margin-right: 0;
  }

  .edit-form >>> label {
    width: 400px;
    text-align: left;
  }

  .edit-form >>> select {
    text-align-last: right;
  }

  .edit-form >>> .counter {
    border-left: none;
  }

  .edit-form >>> .plus1-button {
    width: 2.5rem;
    border-right: none;
  }


  .edit-form >>> input, .modal-card >>> select {
    text-align: right;
    padding-top: 0;
    padding-bottom: 0;
  }

  .edit-form >>> .pagination a{
    margin: 0;
  }
  .edit-form >>> .pagination-previous {
    border-right: none;
  }

  .edit-form >>> .pagination-next {
    border-left: none;
  }

  .edit-form >>> option {
    direction: rtl;
  }

  .edit-form >>> select {
    width: 100%;
  }

  .edit-form >>> .pagination-list select{
    text-align: center;
    width: auto;
  }

  .edit-form >>> span.select {
    width: 100%;
    margin-bottom: 5px;
  }

  .edit-form >>> .is-fullwidth {
    width: 100%;
  }

  .edit-form >>> a.pagination-previous {
    margin-top: 1px !important;
  }

  .modal-card { overflow: visible; }
  .modal-card-body { overflow: visible; }

  button.plus1-button + p {
    display: none;
  }

  .control.is-clearfix, div#progress-field {
    width: 100%;
  }
</style>
