<template>
  <div v-if="loaded">
    <span class="icon">
      <a><i class="mdi icon mdi-18px mdi-star fav-icon" :style="text_style" @click="toggleFavourite"></i></a>
    </span> Favourite
  </div>
  <div v-else style="visibility: hidden;"><i class="icon mdi-18px mdi-star fav-icon"></i>Favourite</div>
</template>
<script>
  export default {
    async mounted(){
      var profile_data = await this.$axios.$get('/account/profile')
      this.profile_data = profile_data
      this.loaded = true
    },
    props: {
      type: String,
      id: String,
      title: String
    },
    data(){
      return {
        profile_data: {},
        loaded: false
      }
    },
    methods: {
      async toggleFavourite(){
        console.log(this.profile_data.profile.favourites[this.type])
        try {
          var profile_data = await this.$axios.$get('/account/profile')
          this.profile_data = profile_data

          if(this.favourited){
            var index = this.profile_data.profile.favourites[this.type].indexOf(this.id)
            this.profile_data.profile.favourites[this.type].splice(index, 1)
          } else {
            this.profile_data.profile.favourites[this.type].push(this.id)
          }
          await this.$axios.$put('/account/profile', this.profile_data.profile)
        } catch(err) {

        }
      }
    },
    computed: {
      favourited(){
        return this.profile_data.profile.favourites[this.type].indexOf(this.id) !== -1
      },
      text_style(){
        if(this.favourited) {
          return 'color: #ffd700'
        } else {
          return 'color: #909090'
        }
      }
    }
  }
</script>
<style>
  .icon {
    display: inline;
  }

</style>
