<template>
  <no-ssr>
    <lazy-image
      class="image lazy-image"
      :src="raw_url ? comp_href : `https://cdn.toshokan.moe/library${comp_href}/poster.jpg`"
      :placeholder-src="`https://cdn.toshokan.moe/library${comp_href}/poster-placeholder.jpg`"
      @error="handleError"
      @load="handleLoaded"
    ></lazy-image>
  </no-ssr>
</template>

<script>
  import lazy_image from "~/components/lazy_image.vue";
  export default {
    components: {
      'lazy-image': lazy_image
    },
    props: {
      raw_url: {
        type: Boolean,
        default: false
      },
      type:{
        type: String,
        default: null
      },
      id:{
        type: String,
        default: null
      },
      href:{
        type: String,
        default: null
      },
      ratio: {
        type: Number,
        default: null
      },
      max_height: {
        type: Number,
        default: null
      },
      max_width: {
        type: Number,
        default: null
      },

    },
    methods:{
      handleError(){
        if(this.$el.getAttribute("src") !== "https://cdn.toshokan.moe/library/error.png"){
          this.$el.setAttribute("src", "https://cdn.toshokan.moe/library/error.png")
          this.$el.classList.add("v-lazy-image-loaded")
        }
      },
      handleLoaded(){
        var width = this.$el.naturalWidth
        var height = this.$el.naturalHeight

        if(this.max_height && this.max_height < height){
          height = this.max_height
        }

        if(this.max_width && this.max_width < width){
          width = this.max_width
        }

        var delta = this.ratio ? (width/height) - this.ratio : 0
        if(delta > 0){
          width = this.ratio*height
        }else if(delta < 0){
          height = width/this.ratio
        }
        this.$el.style.width = width + 'px'
        this.$el.style.height = height + 'px'
      }
    },
    computed: {
      comp_href(){
        if(this.href){
          return this.href
        } else {
          return `/${this.type}/${this.id}`

        }

      }
    }
  }

</script>

<style scoped>
  img {
    object-fit: cover;
  }
</style>
