<template>
  <div class="library-info">
    <!-- anime/manga/novel/VN -->
    <template v-if="['anime', 'manga', 'novel', 'vn'].includes(type)">
      <div v-if="item.synoyms !== {}">
        <span class="has-text-weight-bold">Other Names:</span><br>
        <div v-for="(k,v) in item.synonyms" :key="'syn'+k">
          <span class="has-text-weight-bold">{{v.charAt(0).toUpperCase() + v.slice(1)}}: </span>{{k ? k : "None"}}<br>
        </div>
        <hr>
      </div>
      <div  v-if="['anime', 'manga', 'novel', 'vn'].includes(type)"><span class="has-text-weight-bold">Type: </span>{{item.type}}<br></div>
      <div v-if="['anime', 'manga', 'novel'].includes(type)"><span class="has-text-weight-bold">Status: </span>{{item.status}}<br></div>
      <template v-if="item.source"><span class="has-text-weight-bold">Source: </span>{{item.source}}<br></template>
    </template>
    <!-- /anime/manga/novel -->

    <!-- Manga -->
    <template v-if="'chapter_count' in item">
      <span class="has-text-weight-bold">Chapters: </span>{{(item.chapter_count || "N/A")}}<br>
      <span class="has-text-weight-bold">Volumes: </span>{{(item.volume_count || "N/A")}}<br>

      <span class="has-text-weight-bold">Serialization: </span><nuxt-link :to="serialization_link">{{item.serialization}}</nuxt-link><br>
      <span class="has-text-weight-bold">Authors: </span>
      <template v-for="(author, i) in item.authors">
        <nuxt-link :to="author['href']" :key="i">{{author.name}} </nuxt-link>
        <template v-if="author.roles.length == 1">({{author.roles[0]}})</template>
        <template v-if="author.roles.length == 2">(Story & Art)</template>
        <template v-if="i+1 < item.authors.length">, </template>
      </template><br>
    </template>
    <!-- /manga -->

    <!-- Anime -->
    <template v-if="type == 'anime'">
      <span class="has-text-weight-bold">Episodes: </span>{{(item.episode_count || "N/A")}}<br>
      <span class="has-text-weight-bold">Season: </span>{{season}}<br>

      <link-list name="Studios" :list="this.item.studios" prop_name="studios" :type="this.type"></link-list><br />

      <link-list name="Producers" :list="this.item.producers" prop_name="producers" :type="this.type"></link-list><br />

    </template>
    <!-- /anime -->

    <!-- Anime/manga/novel -->
    <template v-if="['anime', 'manga', 'novel'].includes(type)">
      <link-list name="Genres" :list="this.item.genres" prop_name="genres" :type="type"></link-list><br />

      <span class="has-text-weight-bold">Started: </span>{{item.start_date == null ? "Unknown" : $moment(item.start_date).format(date_formats[0])}}<br>
      <span class="has-text-weight-bold">Ended: </span>{{item.end_date == null ? "Unknown" : $moment(item.end_date).format(date_formats[1])}}<br>
      <template v-if="type == 'anime'">
        <span class="has-text-weight-bold">Rating: </span>{{item.rating}}<br>
        <span class="has-text-weight-bold">Length: </span>{{duration}}<br>
      </template>
      <hr>
      <span v-if="$store.getters.isRegistered && type == 'anime'">
        <span class="has-text-weight-bold">Sakura Score: </span>
        <sakura-score :type="this.type" :id="this.id"></sakura-score>
        <b-tooltip
          :label="'The Sakura Score ranges from 0 to 1000 and represents how much we think you\'ll like this ' + type + '.'"
          multilined
        >
          <b-icon
            icon="information-outline"
            size="is-small">
          </b-icon>
        </b-tooltip>
      </span><br>

      <span class="has-text-weight-bold">Score: </span>{{item.score}}<br>
      <span class="has-text-weight-bold">Ranked (Score): </span>#{{item.score_rank}}<br>
      <span class="has-text-weight-bold">Ranked (Popularity): </span>#{{item.popularity_rank}}<br>
      <template v-if="item.popularity_rank < 1700 && new Date(item.start_date) < new Date(2018, 9, 20)">
        <button class="button" @click="starMap" style="margin-right: 5px;">Open In StarMap</button>
      </template>

    </template>
    <!-- /anime/manga/novel -->

    <!-- Character -->
    <template v-if="type == 'character'">
      <span class="has-text-weight-bold">Name: </span><h1 style="display: inline;">{{item.name_english}}</h1><br> <!-- h1 for SEO reasons -->
      <span class="has-text-weight-bold">Japanese: </span>{{item.name_japanese}}<br>
    </template>
    <!-- /character -->

    <!-- Person -->
    <template v-if="type == 'person'">
      <h1 v-if="item.name != ''" class="has-text-weight-bold">{{item.name}}</h1>

      <span v-if="item.birthday != 'Unknown'"><span class="has-text-weight-bold">Birthday: </span>{{item.birthday}}<br></span>

      <span v-if="item.family_name != ''"><span class="has-text-weight-bold">Family Name: </span>{{item.family_name}}<br></span>

      <span v-if="item.given_name != ''"><span class="has-text-weight-bold">Given Name: </span>{{item.given_name}}<br></span>

      <span v-if="item.website != '' && item.website != 'http://'"><span class="has-text-weight-bold">Website: </span><br><a :href="item.website">{{item.website}}</a><br></span>
    </template>
    <!-- /Person -->

    <!-- VN -->
    <template v-if="type == 'vn'">
      <b>Original Language: </b><template v-for="l in this.item.orig_lang">
        <template v-if="langToCountry(l)"><span class="flag-icon" :class="'flag-icon-' + langToCountry(l)"></span><span v-html="'&nbsp'"></span></template>
        <span v-else>{{l}}</span>
      </template><br>
      <b>Languages: </b><template v-for="l in this.item.languages">
        <template v-if="langToCountry(l)"><span class="flag-icon" :class="'flag-icon-' + langToCountry(l)"></span><span v-html="'&nbsp'"></span></template>
        <span v-else>{{l}}</span>
      </template><br>
      <b>Length: </b>{{lengthToHuman(item.length)}} Hours<br>
      <b>Platforms: </b><span v-for="(p,i) in this.item.platforms">{{platformToHuman(p)}}<template v-if="i < item.platforms.length-1">, </template> </span><br>

      <span class="has-text-weight-bold">Release: </span>{{item.start_date == null ? "Unknown" : $moment(item.start_date).format(date_formats[0])}}<br>
    </template>
    <!-- /VN -->
  </div>
</template>

<script>
  import link_list from "~/components/library/library_info_link_list.vue"
  import sakura_score from "~/components/library/sakura_score.vue"
  export default {
    name: 'library_info',
    props: ['item', 'type', 'id'],
    components: {
      'sakura-score': sakura_score,
      'link-list': link_list
    },
    computed: {
      date_formats() {
        var out = []
        var periods = [this.item.start_date_period, this.item.end_date_period]
        for(var i in periods) {
          var p = periods[i]
          if (p == "day") {
            out.push('MMM DD, YYYY')
          } else if (p == "month") {
            out.push('MMM, YYYY')
          } else {
            out.push('YYYY')
          }

        }
        return out
      },
      duration(){
        var mins = this.item.duration / 60
        var secs = this.item.duration - (60*mins)
        if (secs) {
          return `${mins} min. ${secs} sec. per ep.`
        } else {
          return `${mins} min. per ep.`
        }
      },
      serialization_link() {
        return `/search?serialization=${this.item.serialization}&type_=${this.type}&browser_mode=true`
      },
      season() {
        if (this.item.start_date == null) {
          return "Unknown"
        }
        const month = new Date(this.item.start_date).getMonth();
        if (month >= 9) {
          return "Fall"
        } else if (month >= 6) {
          return "Summer"
        } else if (month >= 3) {
          return "Spring"
        } else {
          return "Winter"
        }
      }
    },
    methods: {
      starMap(){
        window.open(`https://cdn.toshokan.moe/library/graph.html?focus=${this.item._id}&dragging=false&physics=false&map=distant`, '_blank')
      },
      platformToHuman(p){
        let platforms = {
          'win': 'Windows',
          'dvd': 'DVD',
          'lin': 'Linux',
          'mac': 'Mac',
          'psp': 'PSP',
          'ps2': 'PS2',
          'ps4': 'PS4',
          'psv': 'PS Vita',
          'and': 'Android',
          'n3d': 'Nintendo 3DS',
          'nds': 'Nintendo DS',
          'ps3': 'PS3',
          'xb3': 'Xbox 360',
          'gba': 'Gamebody Advance',
          'ios': 'iOS',
          'web': 'Web',
          'gbc': 'Game Boy Colour',
          'ps1': 'Playstation 1',
          'pce': 'TurboGrafx-16',
          'drc': 'Dreamcast',
          'sat': 'Sega Saturn',
          'sfc': 'SNES',
          'bdp': 'Blu-Ray',
          'swi': 'Nintendo Switch',
          'dos': 'DOS',
          'p98': 'PC98',
          'xb1': 'Xbox One',
          'fmt': 'FM Town',
          'x68': 'X6800',
          'pcf': 'PC-FX',
          'nes': 'NES',
          'wii': 'Nintendo Wii',
          'xbo': 'Xbox',
          'wiu': 'Wii U',
          'msx': 'MSX',
          'p88': 'PC 88'
        }
        if (p in platforms){
          return platforms[p]
        } else {
          return p
        }
      },
      lengthToHuman(l){
        return {
          1: '< 2',
          2: '2-10',
          3: '10-30',
          4: '30-50',
          5: '50+'
        }[l]
      },
      langToCountry(l){
        let rel = {
          'pt-br': 'pt',
          am: "am",
          ar: "sy",
          az: "az",
          bn: "bd",
          be: "be",
          cs: "cz",
          de: "de",
          en: "gb",
          es: "es",
          et: "et",
          fa: "ir",
          fr: "fr",
          bg: "bg",
          ha: "ng",
          hi: "in",
          hu: "hu",
          hy: "am",
          it: "it",
          ja: "jp",
          jv: "id",
          km: "km",
          ko: "kp",
          lv: "lv",
          mr: "in",
          ms: "my",
          pl: "pl",
          pt: "pt",
          ro: "ro",
          ru: "ru",
          sw: "ke",
          ta: "lk",
          te: "in",
          th: "th",
          tr: "tr",
          uk: "ua",
          uz: "uz",
          vi: "vn",
          zh: "cn",
        }

        if (l in rel) {
          return rel[l]
        } else {
          return false
        }
      }
    }
  }
</script>

<style scoped>

</style>
