<template>
  <span>
    <span class="has-text-weight-bold">{{name}}: </span>
    <template v-for="(link, i) in list">
      <nuxt-link v-if="link != '...'" :to="makelink(prop_name, link)" :key="link">{{link}}</nuxt-link><template v-else>...</template><template v-if="i+1 < list.length">, </template>
    </template>
  </span>
</template>

<script>

  export default {
    name: 'link_list',
    props: ['name', 'list', 'prop_name', 'type'],
    methods: {
      makelink(field, value) {
        if (this.type) {
          return `/search?${field}=${value}&type_=${this.type}&sort=score&browser_mode=true`
        }
        return `/search?${field}=${value}&browser_mode=true`
      }
    }
  }
</script>

<style scoped>

</style>
