<template>
  <div>
    <table class="table relations-table">
	<tbody>
	    <tr v-for="(rel, i) in relations" :key="i">
		<td>{{vndbToHuman(i)}}</td>
		<td>
		    <template v-for="(item, i) in rel">
			    <nuxt-link v-if="item['href']" :key="i" :to="item['href']">{{item['title']}}<template v-if="item.official == false"> (unofficial)</template> </nuxt-link>
			<template v-if="i+1 < rel.length">, </template>

		    </template>
		</td>

	    </tr>
	</tbody>
    </table>

</div>
</template>

<script>
  export default {
      name: 'relations_table',
    props: ['relations'],
    methods: {
      vndbToHuman(rel){
        let rels = {
          'char': 'Character',
          'seq': 'Sequel',
          'set': 'Setting',
          'side': 'Side story',
          'ser': 'Same series',
          'par': 'Parent',
          'fan': 'Fan',
          'alt': 'Alternative version',
          'orig': 'Original',
          'preq': 'Prequel'
        }
        if (rel in rels) {
          return rels[rel]
        } else {
          return rel
        }
      }
    }
  }
</script>

<style scoped>
.relations-table td {
    border: none;
    padding: 0.15em 0.5em 0.15em 0.5em;
}
</style>
