<template>
  <span>
    <template v-if="loading">
      Loading...
    </template>
    <template v-else-if="sakura_score['score'] == -1">
      ?
    </template>
    <template v-else>
      {{sakura_score['score']}}
    </template>
  </span>
</template>
<script>
 export default {
   props: {
     type: String,
     id: String
   },
   data(){
     return {
       loading: true,
       sakura_score: null
     }
   },
   async created() {
     this.sakura_score = await this.$axios.$get("/sakura-score/" + this.type + "/" + this.id)
     this.loading = false
   }
 }
</script>
