<template>
  <div>
    <h1 class="title has-text-centered" style="margin-bottom: 0;">{{post.title}}</h1>
    <h2 class="has-text-centered">{{$moment(post.date).format('MMM DD, YYYY, HH:mm')}}</h2>
    <div v-html="post.contents"></div>
  </div>
</template>
<script>
  export default {
    async asyncData({ params, $axios, error }) {
      const key = params.key
      const post = await $axios.$get(`/news/posts/${key}`).catch(
        function(err){
          error({statusCode: 404, message: err.message})
        }
      )
      return { key, post: post.data }
    }
  }
</script>
