// Dark theme
$bg-dark: #111;
$bg-dark-alt: #151515;
$fg-dark: #aaa;
$fg-dark-alt: #bbb;

.dark-theme {
  color: $fg-dark;
  background-color: $bg-dark !important;

  html, .table, .tr:hover, .input, .footer, .b-table, tr.detail {
    background-color: $bg-dark !important;
  }
  .subtitle, .table, .input, .input::placeholder {
    color: $fg-dark;
  }

  .title {
    color: $fg-dark-alt;
  }

  table {
    border-color: $fg-dark;
  }
  border-color: $fg-dark-alt !important;

  // Ugly shit copied from chrome that can maybe be rewritten
  .table.is-hoverable tbody tr:not(.is-selected):hover {
    background-color: $bg-dark-alt;
  }
}
