//@import "~bulma/sass/utilities/_all";
@import "cosmo/_variables.scss";

@import "~bulma";
@import "~buefy/src/scss/buefy";
@import "cosmo/_overrides.scss";

.is-divider-vertical {
    padding-left: 0;
    padding-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.is-divider-vertical::before {
    border-left-width: 1px;
}

hr {
    margin: 10px 0 10px 0;
}

.column {
    padding-left: 5px;
    padding-right: 5px;
}

.navbar-dropdown {
    box-shadow: none;
    border: 1px solid #dbdbdb;
}

.footer {
    background-color: inherit;
}

.navbar-dropdown {
    padding: 0;
    margin: 0;

    .navbar-item {
	padding-right: 0 !important;
	padding-top: .6rem;
	padding-bottom: .6rem;

    }
}

.bd-main-container {
    padding: 0 10px 0 10px;
}

.modal-card-head, .modal-card-foot {
    background-color: white;
}

.ml-auto {
    margin-left: auto;
}

.mr-auto {
    margin-right: auto;
}

.center {
    margin-left: 25%;
}

.half-width {
    width: 50%;
}

.full-width {
    width: 100%;
}

.half-height {
    height: 50%;
}

 .card-content {
   padding: 10px;
 }

 .tabs {
   margin-bottom: 0 !important;
 }


 .card {
     border: none !important;
 }


 .datepicker >>> .pagination a {
   margin: 0;
 }

 .datepicker-header >>> .pagination-list select {
   text-align: center;
   width: auto;
 }

 button.plus1-button + p.help.is-danger {
   display: none;
 }

 button.counter + p.help.is-danger {
   display: none;
 }

 .modal {
   overflow-y: scroll;
}

.v-lazy-image {
  filter: blur(5px);
  transition: filter 0.7s;
}
.v-lazy-image-loaded {
  filter: blur(0);
}

ul.browser-default {
  padding-left: 30px;
  margin-top: 10px;
  margin-bottom: 15px;
}
ul.browser-default li {
  list-style-type: initial;
}

.flag-icon-jp, .flag-icon-ru {
  border: 1px solid black;
}

@import "../../node_modules/bulma-extensions/bulma-slider/src/sass/index.sass";
