<template>
  <div>
    <b-field class="search">
      <b-autocomplete v-show="!in_browser_mode" v-model="name"
        placeholder="Search Anime, Manga, VNs..."
        :data="empty"
        field="title"
        @input="updateQuery">
      </b-autocomplete>
    </b-field>
    <div v-show="!['character', 'person', 'vn'].includes(type_)" class="field" style="margin-left: 10px;">
      <b-switch v-model="advanced_search">Show Advanced Search Filters</b-switch>
    </div>
    <div v-show="advanced_search_on" class="advanced-search">
      <div class="columns fixed-columns">
        <div class="column" v-for="range_set in [[0, applicable_terms.length/2], [applicable_terms.length/2, applicable_terms.length]]" :key="'settings_column' + range_set[0]">
          <div v-for="term in applicable_terms.slice(range_set[0], range_set[1])" :key="'field' + term">
            <b-field :label="capitalize(term)">
              <b-taginput v-model="terms[term]"
                :data="filtered_terms[term]"
                autocomplete
                :open-on-focus="true"
                :allow-new="false"
                icon="label"
                :placeholder="'Select '+term"
                @typing="term_filter(term, $event)"
                @focus="term_filter(term, '')">
              </b-taginput>
            </b-field>

            <b-switch v-model="not[term]" value="false">EXCLUDE every result with any of these values</b-switch><br>
            <b-switch v-model="and[term]" style="margin-bottom: 15px;" value="false">Set to AND (does nothing if EXCLUDE is also set)</b-switch>
          </div>
        </div>
      </div>

      <b style="margin-left: 10px;">Start Date must be between</b>
      <div class="columns fixed-columns">
        <div class="column">
          <b-field>
            <b-datepicker v-model="date_ranges['after_date']" placeholder="Type or select a date..."
              icon="calendar-today"
              :readonly="false">
            </b-datepicker>
          </b-field>
        </div>
        <div class="column has-text-centered" style="flex: none; width:3em;">
          <b>
            And
          </b>
        </div>
        <div class="column">
          <b-field>
            <b-datepicker v-model="date_ranges['before_date']" placeholder="Type or select a date..."
              icon="calendar-today"
              :readonly="false">
            </b-datepicker>
          </b-field>
        </div>
      </div>

      <template v-if="type_ == 'anime'">
        <b style="margin-left: 10px;">Number of episodes must be between</b>
        <div class="columns fixed-columns">
          <div class="column">
            <b-field>
              <b-input v-model="numerics['episodes_min']" type="number" placeholder="Minimum number of episodes"></b-input>
            </b-field>
          </div>
          <div class="column has-text-centered" style="flex: none; width:3em;">
            <b>
              And
            </b>
          </div>
          <div class="column">
            <b-field>
              <b-input v-model="numerics['episodes_max']" type="number" placeholder="Maximum number of episodes"></b-input>
            </b-field>
          </div>
        </div>
      </template>

      <template v-if="['manga', 'novel'].includes(type_)">
        <b style="margin-left: 10px;">Number of chapters must be between</b>
        <div class="columns fixed-columns">
          <div class="column">
            <b-field>
              <b-input v-model="numerics['chapters_min']" type="number" placeholder="Minimum number of chapters"></b-input>
            </b-field>
          </div>
          <div class="column has-text-centered" style="flex: none; width:3em;">
            <b>
              And
            </b>
          </div>
          <div class="column">
            <b-field>
              <b-input v-model="numerics['chapters_max']" type="number" placeholder="Maximum number of chapters"></b-input>
            </b-field>
          </div>
        </div>
      </template>

      <template>
        <b style="margin-left: 10px;">Score must be between</b>
        <div class="columns fixed-columns">
          <div class="column">
            <b-field>
              <b-input v-model="numerics['score_min']" type="text" placeholder="Minimum score"></b-input>
            </b-field>
          </div>
          <div class="column has-text-centered" style="flex: none; width:3em;">
            <b>
              And
            </b>
          </div>
          <div class="column">
            <b-field>
              <b-input v-model="numerics['score_max']" type="text" placeholder="Maximum score"></b-input>
            </b-field>
          </div>
        </div>
      </template>

      <template v-if="type_ == 'anime'">
        <b style="margin-left: 10px;">Popularity level must be between</b>
        <div class="columns fixed-columns">
          <div class="column">
            <b-field>
              <b-input v-model="p_level_min" type="number" placeholder="Minimum level"></b-input>
            </b-field>
          </div>
          <div class="column has-text-centered" style="flex: none; width:3em;">
            <b>
              And
            </b>
          </div>
          <div class="column">
            <b-field>
              <b-input v-model="p_level_max" type="number" placeholder="Maximum level"></b-input>
            </b-field>
          </div>
        </div>
      </template>
      <template>
        <b-field label="Sort by">
            <b-select selected="" v-model="sort" placeholder="Select an option">
              <option value="" v-if="!in_browser_mode">Relevance</option>
              <option value="score">Score</option>
              <option value="n_members">Popularity</option>
              <option value="start_date">Start Date</option>
              <option value="end_date">End Date</option>
              <!--<option v-if="type_ == 'anime'" value="episode_count">Episodes</option> -->
            </b-select>
        </b-field>
        <b-switch v-model="order" value="false">Ascending Order</b-switch><br>
      </template>
    </div>

    <b-tabs :animated="false" v-model="activeTab">
      <b-tab-item label="Anime">
        <search-results :data="r_anime"></search-results>
      </b-tab-item>
      <b-tab-item label="Manga">
        <search-results :data="r_manga"></search-results>
      </b-tab-item>
      <b-tab-item label="Novel">
        <search-results :data="r_novel"></search-results>
      </b-tab-item>
      <b-tab-item  v-if="!in_browser_mode" label="VN">
        <search-results :data="r_vn"></search-results>
      </b-tab-item>
      <b-tab-item v-if="!in_browser_mode" label="Characters">
        <search-results :data="r_character"></search-results>
      </b-tab-item>
      <b-tab-item  v-if="!in_browser_mode" label="People">
        <search-results :data="r_person"></search-results>
      </b-tab-item>

    </b-tabs>
    <section v-if="data.length == 0" class="section">
      <div class="content has-text-grey has-text-centered">
        <p>
          <b-icon icon="frown"
            size="is-large">
          </b-icon>
        </p>
        <p>Nothing here.</p>
      </div>
    </section>
    <button v-show="page" class="button" @click="firstPage" style="margin-right: 5px;">First Page</button>
    <button v-show="page" class="button" @click="previousPage" style="margin-right: 5px;">Previous Page</button>
    <button class="button" @click="nextPage">Next Page</button>

  </div>
</template>
<script>
  import debounce from 'lodash/debounce'
  import season from '~/utils/season.js'
  import link_list from "~/components/library/library_info_link_list.vue"
  import search_results from "~/components/search_page/search_results.vue"
  import { ensureNotArray, ensureArray } from '~/utils/array.js'
  import { popularity_from_level, level_from_popularity } from "~/utils/popularity_level.js"

  const all_genres = [
    "Adventure",
    "Drama",
    "Fantasy",
    "Game",
    "Magic",
    "Sci-Fi",
    "Action",
    "Comedy",
    "Parody",
    "Mystery",
    "Shounen",
    "Music",
    "Historical",
    "Military",
    "Dementia",
    "Mecha",
    "Seinen",
    "Super Power",
    "Demons",
    "Josei",
    "Ecchi",
    "Harem",
    "Romance",
    "Slice of Life",
    "Kids",
    "Shoujo",
    "Space",
    "Supernatural",
    "School",
    "Hentai",
    "Horror",
    "Sports",
    "Shounen Ai",
    "Yaoi",
    "Police",
    "Martial Arts",
    "Psychological",
    "Thriller",
    "Samurai",
    "Yuri",
    "Shoujo Ai",
    "Cars",
    "Vampire"
  ]
  const anime_types = [
    "OVA",
    "Movie",
    "Special",
    "TV",
    "Music",
    "ONA",
    "Unknown"
  ]
  const manga_types = [
    "Manga",
    "One-shot",
    "Manhwa",
    "Doujinshi",
    "Manhua"
  ]
  const novel_types = [
    "Novel"
  ]
  const all_ratings = [
    "PG-13 - Teens 13 or older",
    "R+ - Mild Nudity",
    "PG - Children",
    "G - All Ages",
    "R - 17+ (violence & profanity)",
    "None",
    "Rx - Hentai"
  ]
  const all_sources = [
    "Game",
    "Original",
    "Manga",
    "Unknown",
    "Book",
    "Visual novel",
    "Light novel",
    "Other",
    "Music",
    "Web manga",
    "4-koma manga",
    "Novel",
    "Digital manga",
    "Picture book",
    "Card game",
    "Radio"
  ]
  const anime_statuses = [
    "Finished Airing",
    "Not yet aired",
    "Currently Airing"
  ]
  const manga_novel_statuses = [
    "Finished",
    "Publishing",
    "Not yet published"
  ]
  const all_statuses = anime_statuses.concat(manga_novel_statuses)

  const all_types = anime_types.concat(manga_types).concat(novel_types)
  const all_type_s = [
    "anime",
    "manga",
    "novel",
    "vn",
    "character",
    "person"
  ]

  var all = { genres: all_genres, type: all_types, rating: all_ratings, source: all_sources, type_: all_type_s, status: all_statuses, serialization: [], studios: [], producers: [], licensors: [] }

  export default {
    name: 'search',
    data() {
      return {
        empty: [], // ignore

        data: [], // results go here

        activeTab: 0,
        advanced_search: false,

        name: "", // content of the search field
        query: "",
        type_: null,

        filtered_terms: { ...all },
        terms: { genres: [], type: [], rating: [], source: [], status: [], serialization: [], studios: [], producers: [], licensors: [] },
        date_ranges: {
          before_date: null,
          after_date: null,
          end_before_date: null,
          end_after_date: null,
        },
        numerics: {
          episodes_min: null,
          episodes_max: null,
          chapters_min: null,
          chapters_max: null,
          score_min: null,
          score_max: null,
          members_min: null,
          members_max: null
        },
        not: { genres: false, type: false, rating: false, source: false, status: false, serialization: false, studios: false, producers: false, licensors: false },
        and: { genres: false, type: false, rating: false, source: false, status: false, serialization: false, studios: false, producers: false, licensors: false },
        sort: null,
        order: null, // true = ascending, false or null = descending (default)
        browser_mode: null,
        p_level_min: null,
        p_level_max: null
        }
    },
    components: {
      'link-list': link_list,
      'search-results': search_results
    },
    async asyncData(ctx) {
      const q = ensureNotArray(ctx.query.q)

      var type_ = ensureNotArray(ctx.query.type_)
      if (!type_) {
        type_ = "anime"
      }

//      const response = await ctx.$axios.$get(`/search/${type_}/_search?search_type=dfs_query_then_fetch&q=${q}`)
//      const data = response.hits.hits
      return { query: q, data: [], type_, activeTab: all["type_"].indexOf(type_) }
    },
    mounted() {
      this.advanced_search = !!ensureNotArray(this.$route.query.advanced_search)
      this.order = ensureNotArray(this.$route.query.order) == "asc" ? true : false
      this.sort = ensureNotArray(this.$route.query.sort)
      this.type_ = ensureNotArray(this.$route.query.type_)
      this.query = ensureNotArray(this.$route.query.q)
      this.browser_mode = !!ensureNotArray(this.$route.query.browser_mode)

      const query_split = (this.query) ? this.query.split(":", 2) : ""
      if ((query_split.length > 1) && (query_split[0] == "name_")) {
        this.name = query_split[1]
      }
      for (var term in this.not) {
        this.not[term] = ensureArray(this.$route.query.not).includes(term)
      }
      for (var term in this.and) {
        this.and[term] = ensureArray(this.$route.query.and).includes(term)
      }
      for (var term in this.terms) {
        this.terms[term] = ensureArray(this.$route.query[term]).filter(value => !!value) // filter out null
      }
      for (var number in this.numerics) {
        var n_from_query = parseInt(ensureNotArray(this.$route.query[number]))
        this.numerics[number] = isNaN(n_from_query) ? null : n_from_query
      }
      for (var date_name in this.date_ranges) {
        try {
          var date_string = ensureNotArray(this.$route.query[date_name])
          var date = new Date(date_string)
          if (Object.prototype.toString.call(date) === "[object Date]") {
            if (isNaN(date.getTime())) {
              date = null
            }
          } else {
            date = null
          }
          this.date_ranges[date_name] = date
        } catch (e) {
          this.date_ranges[date_name] = null
        }
      }
      this.p_level_min = level_from_popularity(this.numerics["members_min"]) || null
      this.p_level_max = level_from_popularity(this.numerics["members_max"]) || null
      this.fetchResults()
    },
    watch: {
      "sort": function () {
        this.addFilterToQuery("sort", this.sort)
      },
      "order": function () {
        this.addFilterToQuery("order", this.order ? "asc" : null)
      },
      "and": {
        handler() {
          this.addFilterToQuery("and", Object.keys(this.and).filter(term_type => this.and[term_type]))
        },
        deep: true
      },
      "not": {
        handler() {
          this.addFilterToQuery("not", Object.keys(this.not).filter(term_type => this.not[term_type]))
        },
        deep: true
      },
      "advanced_search": function () {
        this.addFilterToQuery("advanced_search", this.advanced_search)
      },
      "activeTab": function () {
        this.addFilterToQuery("type_", all["type_"][this.activeTab])

      },
      "type_": function(){
        this.addFilterToQuery("from", null)
      },
      "numerics": {
        handler() {
          for (var number in this.numerics) {
            this.addFilterToQuery(number, this.numerics[number])
          }
        },
        deep: true
      },
      "p_level_min": function(){
        var pop = popularity_from_level(this.p_level_min)
        this.numerics["members_min"] = pop
      },
      "p_level_max": function(){
        var pop = popularity_from_level(this.p_level_max)
        this.numerics["members_max"] = pop
      },
      "date_ranges": {
        handler() {
          for (var date_name in this.date_ranges) {
            var date;
            try {
              if (Object.prototype.toString.call(this.date_ranges[date_name]) === "[object Date]") {
                date = this.date_ranges[date_name].toISOString()
              } else {
                date = null
              }
            } catch (e) {
              date = null
            }
            this.addFilterToQuery(date_name, date)
          }
        },
        deep: true
      },
      "terms": {
        handler() {
          for (var term in this.terms) {
            this.addFilterToQuery(term, this.terms[term])
          }
        },
        deep: true
      },
      "$route.query": {
        handler() {
          this.type_ = ensureNotArray(this.$route.query.type_) || "anime"
          this.activeTab = all["type_"].indexOf(this.type_)
          this.query = ensureNotArray(this.$route.query.q)
          const query_split = (this.query) ? this.query.split(":", 2) : ""
          if ((query_split.length > 1) && (query_split[0] == "name_")) {
            this.name = query_split[1]
          }
          this.fetchResults()
        },
        deep: true
      }
    },
    methods: {
      firstPage() {
        this.addFilterToQuery('from', null)
      },
      nextPage() {
        var cursor = ensureNotArray(this.$route.query.from) || 0
        cursor = cursor + 10
        this.addFilterToQuery('from', cursor)
      },
      previousPage() {
        var cursor = ensureNotArray(this.$route.query.from) || 0
        cursor = cursor - 10
        if (cursor < 0) {
          cursor = 0
        }
        this.addFilterToQuery('from', cursor)
      },
      fetchResults: async function () {
        var page_query = this.$route.query
        this.type_ = ensureNotArray(page_query.type_)
        if (!this.type_) {
          this.type_ = "anime"
        }
        var from_result = ensureNotArray(page_query.from) || 0
        var result_size = ensureNotArray(page_query.size) || 10
        var browser_mode = !!ensureNotArray(page_query.browser_mode)
        var match_obj = {}
        if (browser_mode){ // no query if brwosermode
          match_obj = []
        } else {
          this.query = ensureNotArray(page_query.q)
          match_obj = {
            match: {
                [this.query.split(":")[0]]: {
                  "query": this.query.split(":")[1],
                  "operator": "and"
                }
            }
          }
        }
        var qobj = {
          from: from_result, size: result_size,
          query: {
            bool: {
              filter: [],
              must_not: [],
              must: match_obj
            }
          }
        }

        const sort = ensureNotArray(page_query.sort)
        const order = ensureNotArray(page_query.order) || "desc"
        if (this.type_ == 'vn'){
          qobj.sort = [{ "popularity_score": "desc" }, {_score: "desc"}]
        }
        if (sort) {
          qobj.sort = [{ [sort]: order }, {_score: "desc"}]
        }
        var term_fields = []
        if (this.type_ == 'anime') {
          term_fields = ["genres", "type", "status", "rating", "source", "studios", "producers", "licensors"]
        }
        if (this.type_ == 'manga' || this.type_ == 'novel') {
          term_fields = ["genres", "type", "status", "serialization"]
        }
        for (var i in term_fields) {
          var field = term_fields[i]
          var field_values = ensureArray(page_query[field])
          if (!(field_values.length > 0)) {
            continue
          }
          if (!field_values[0]) {
            continue
          }
          var filter_clause = "filter"
          if (page_query["not"] && page_query["not"].includes(field)) {
            filter_clause = "must_not"
          }
          if (page_query["and"] && page_query["and"].includes(field)) {
            for (var value in field_values) {
              qobj["query"]["bool"][filter_clause].push({ terms: { [field]: ensureArray(field_values[value]) } })
            }
          } else {
            qobj["query"]["bool"][filter_clause].push({ terms: { [field]: field_values } })
          }
        }
        var range_filters = [
          { field: "start_date", min: "after_date", max: "before_date" },
          { field: "end_date", min: "end_after_date", max: "end_before_date" },
          { field: "episode_count", min: "episodes_min", max: "episodes_max" },
          { field: "duration", min: "duration_min", max: "duration_max" },
          { field: "chapters", min: "chapters_min", max: "chapters_max" },
          { field: "score", min: "score_min", max: "score_max" },
          { field: "n_members", min: "members_min", max: "members_max" },
        ]
        var exclusions = []
        if (this.type_ == "anime") {
          exclusions = ["chapters"]
        }
        if (this.type_ == 'manga' || this.type_ == 'novel') {
          exclusions = ["episode_count", "duration"]
        }
        range_filters = range_filters.filter(filter => !exclusions.includes(filter.field))
        for (var i in range_filters) {
          var filter = range_filters[i]
          var min = ensureNotArray(page_query[filter.min])
          var max = ensureNotArray(page_query[filter.max])
          if (min || max) {
            qobj["query"]["bool"]["filter"].push(this.makeRangeFilter(filter.field, min, max))
          }
        }
        if (['character', 'person'].includes(this.type_)) {
          qobj["query"]["bool"]["filter"] = []
          qobj["query"]["bool"]["must_not"] = []
        }
        const response = await this.$axios.$post(`/search/${this.type_}/_search?search_type=dfs_query_then_fetch`, qobj);
        this.data = response.hits.hits
      },
      makeRangeFilter(field, min, max) {
        min = ensureNotArray(min)
        max = ensureNotArray(max)
        if (min || max) {
          var filter = { range: { [field]: {} } }
          if (min) {
            filter["range"][field]["gte"] = min
          }
          if (max) {
            filter["range"][field]["lte"] = max
          }
          return filter
        } else {
          return null
        }
      },
      term_filter: async function (term_type, text) {
        this.filtered_terms[term_type] = (await this.get_applicable_terms(term_type)).filter((option) => {
          return option
            .toString()
            .toLowerCase()
            .indexOf(text.toLowerCase()) >= 0
        })
      },
      get_applicable_terms: async function (term_type) {
        if (term_type == "type") {
          if (this.type_ == "anime") {
            return anime_types
          }
          if (this.type_ == "manga") {
            return manga_types
          }
          if (this.type_ == "novel") {
            return novel_types
          }
        } if (term_type == "status") {
          if (this.type_ == "anime") {
            return anime_statuses
          }
          if (this.type_ == "manga") {
            return manga_novel_statuses
          }
          if (this.type_ == "novel") {
            return manga_novel_statuses
          }
        } else {
          if (!(all[term_type].length > 0)){
            all[term_type] = await this.getMissingTerms(term_type)
          }
          return all[term_type]
        }
      },
      getMissingTerms: async function (term_type) {
        const qobj = {
          "size": 0,
          "aggs": {
            "langs": {
              "terms": { "field": term_type, "size": 500 }
            }
          }
        }
        const response = await this.$axios.$post(`/search/${this.type_}/_search`, qobj);
        const all_values = response.aggregations.langs.buckets.map(bucket => bucket.key)
        return all_values
      },
      type_filter(type_) {
        return this.data.filter((item) => item._type === type_)
      },
      updateQuery: debounce(function () {
        if (!this.name) {
          return
        }
        this.$router.push({ path: this.$route.path, query: { ...this.$route.query, q: `name_:${this.name}` } })
      }, 200),

      addFilterToQuery(filter, value) {
        var current_query = Object.assign({}, this.$route.query)
        value = ensureArray(value).filter(item => !!item) // turn into array and only keep non-null items
        if (!(value.length > 0)) {
          delete current_query[filter]
        } else {
          current_query = { ...current_query, [filter]: value }
        }
        this.$router.push({
          path: this.$route.path,
          query: current_query
        });
      },
      capitalize(string) {
        return string.charAt(0).toUpperCase() + string.slice(1);
      }
    },
    computed: {
      advanced_search_on() {
        return (this.advanced_search && !(['person', 'character'].includes(this.type_))) // always disabled for person and character
      },
      r_anime() {
        return this.type_filter('anime')
      },
      r_manga() {
        return this.type_filter('manga')
      },
      r_novel() {
        return this.type_filter('novel')
      },
      r_character() {
        return this.type_filter('character')
      },
      r_person() {
        return this.type_filter('person')
      },
      r_vn() {
        return this.type_filter('vn')
      },
      applicable_terms() {
        if (this.type_ == "anime") {
          return ['type', 'genres', 'status', 'rating', 'source', 'studios', 'licensors', 'producers']
        } else {
          return ['type', 'genres', 'status', 'serialization']
        }

      },
      page() {
        return ensureNotArray(this.$route.query.from) || 0
      },
      in_browser_mode() {
        return this.browser_mode
      }
    }
  }
</script>

<style scoped>
  .search {
    padding-top: 10px;
    margin-right: 10px;
    margin-left:10px
  }
  .search >>> .dropdown-content {
    border-radius: 0;
  }
  .search >>> .input {
    width: 100%;
    border-radius: 0px;
    border-bottom-left-radius: 0px !important;
    border-top-left-radius: 0px !important;
  }
  .search >>> .button {
    border-radius: 0px;
  }
  .search >>> .dropdown-menu {
    width: 100%;
    padding-top: 0px;
  }
  .search >>> .autocomplete .dropdown-content {
    max-height: 570px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .search >>> .dropdown-item {
    padding: 0px;
  }
  .search >>> .inst-item {
    padding: 0.375rem 1rem;
  }
  .search >>> .inst-footer {
    width: 100%;
    height: 100%;
    font-weight: bold;
    /* TODO pick a good colour kek */
    background-color: #8080FF;
  }

  .search >>> .media-left {
    margin-right: 8px;
  }

  .search >>> .inst-item {
    padding-bottom: 3px;
    padding-top: 3px;
  }

  .advanced-search >>> .field-label {
    text-align: left !important;
  }

  .taginput >>> .taginput-container {
    height: auto !important;
  }

  .fixed-columns {
    margin-left: 0;
    margin-right: 0;
  }

</style>
