<template>
  <div>
    <div v-if="this.works == null">
      No {{library_type}}{{library_type == 'novel' ? 's' : ''}} found.
    </div>
    <cast-table v-else-if="library_type != 'vn'" :type="(type == 'person' && library_type != 'voices') ? 'anime' : library_type" :id="id" table_kind="person" :initial_data="converted_works"></cast-table>

  </div>
</template>
<script>
  import cast_table from "~/components/library/cast_table.vue"
  async function setData(params, $axios, error){
    const id = params.id
    const library_type = params.library_type.replace('ography','')
    const type = params.type
    var works
    try {
      var url = '/' + type + '/' + params.id + '/' + library_type
      if(type == 'person'){
        if(library_type == 'anime') {
          url = url + '/staff'
        } else if(library_type == 'voices'){
          url = '/' + type + '/' + params.id + '/anime/voice'
        } else if(library_type == 'manga' || library_type == 'novel') {
          url = url + '/author'
        }
        //todo
      }
      works = await $axios.$get(url).catch(
        function(err){
          error({statusCode: 404, message: err.message})
        }
      )
    } catch(e) {
      works = null
    }

    return { id, library_type, works, type }

  }

  export default {
    computed: {
      table_kind(){
        if ((this.library_type == 'manga' || this.library_type == 'novel') && this.type == 'person'){
          return "author"
        } else {
          return this.type
        }
      },
      converted_works(){
        if(this.table_kind == 'author'){
          // Can't access "this" in forEach :dab:
          var type = this.type
          var id = this.id
          var library_type = this.library_type

          var out = []
          var our_guy
          this.works.roles.forEach(function(entry){
            var e = {}
            entry.authors.forEach(function(guy){
              if(guy.href == '/' + type + '/' + id){
                our_guy = guy // We know this will find someone
              }
            })
            console.log(entry)
            e.roles = our_guy.roles
            // HACK calling this "anime" now because I don't want to change cast_table.vue yet
            e.anime = {}
            e.anime.href = '/' + library_type + '/' + entry._id
            e.anime.title = entry.title
            e.anime.type = library_type
            out.push(e)
          })
          return out
        } else {
          return this.works.roles
        }
      }
    },
    watch:{
      '$route.params.library_type': function (){
        var {id, library_type, works, type} = setData(this.$route.params, this.$axios)
        this.id = id
        this.library_type = library_type
        this.works = works
        this.type = type
      }
    },
    asyncData({ params, $axios }) {
      return setData(params, $axios)
    },
    validate({ params }) {
      return (["anime", "manga", "novel"].includes(params.library_type.replace('ography', '')) || params.library_type == 'voices')
    },
    components: {
      'cast-table': cast_table
    },
  }
</script>
