<template>
  <div>
    <div class="has-text-centered has-text-weight-bold">Description</div>
    <div v-if="type == 'person'">
      <div v-if="item.more != ''" v-html="source_fix(item.more)"></div>
      <div v-else>No description available.</div>
    </div>
    <div v-else v-html="source_fix(item.description)"></div>

    <template v-if="['manga', 'anime', 'novel', 'vn'].includes(type)">
      <div class="has-text-centered has-text-weight-bold">Related Works</div>

      <relations-table :relations="item.links"></relations-table>
      <br>
    </template>


    <div class="columns" v-if="type == 'anime'">
      <div class="column" v-for="cat in ['op', 'ed']" :key="cat">
        <div class="has-text-centered has-text-weight-bold">{{cat == 'op' ? 'Openings' : 'Endings'}}</div>
        <template v-if="item[cat].length">
          <template v-for="(op,index) in item[cat]" >
          #{{index+1}}:  {{op}} <br :key="cat + 'br' + index">
          </template>
        </template>
        <template v-else>
          This anime has no {{cat == 'op' ? 'openings' : 'endings'}}.
        </template>
      </div>
    </div>


    <div v-if="['manga','anime','novel'].includes(type)" class="tile">
      <div class="full-width">
        <div class="has-text-centered has-text-weight-bold">Cast</div>
        <cast-table :type="type" :id="item._id" :main_only="true" :two_parts="type != 'anime' && type != 'vn'" :initial_data="cast" @fetch="$emit('fetch', $event)"></cast-table>
        <br>
      </div>

      <div v-if="type == 'anime'" class="full-width">
        <div class="has-text-centered has-text-weight-bold header">Staff</div>
        <cast-table :type="type" :id="item._id" :main_only="true" table_kind="staff" :initial_data="staff" @fetch="$emit('fetch', $event)"></cast-table>
      </div>
    </div>
  </div>
</template>

<script>
  import relations_table from "~/components/library/relations_table.vue"
  import cast_table from "~/components/library/cast_table.vue"
  export default {
    props: ["item", "type", "staff", "cast"],
    components: {
      'relations-table': relations_table,
      'cast-table': cast_table,
    },
    methods: {
      source_fix(str){
        if (!str) {
          return "No description available."
        }
        // FIXME this is ugly but will be fixed when we ever get a better spoiler system
        let spoiler_html = `<div class="spoiler"><input type="button" class="button show_button" onclick="this.nextSibling.style.display='inline-block';this.style.display='none';" data-showname="Show spoiler" data-hidename="Hide spoiler" value="Show spoiler"><span class="spoiler_content" style="display:none"><input type="button" class="button hide_button" onclick="this.parentNode.style.display='none';this.parentNode.parentNode.childNodes[0].style.display='inline-block';" value="Hide spoiler"><br>...content...</span></div>`
        var mal_regex = /<a href="http:\/\/myanimelist.+">(.+)\<\/a\>/gi
        var vndb_regex_url = /\[url=(.+?)\](.+?)\[\/url\]/gi
        var vndb_regex_spoiler = /\[spoiler\](.+?)\[\/spoiler\]/gi
        str = str.replace(mal_regex, function(match, p1, offset, string){return p1})
        str = str.replace(vndb_regex_url, function(match, p1, p2, offset, string){
          return `<a href=${p1}>${p2}</a>`
        })
        str = str.replace(vndb_regex_spoiler, (match, p1, offset, string) => {
          return spoiler_html.replace("...content...", p1)
        })

        if (this.type == 'vn') {
          str = str.replace("\n", "<br>")
        }
        return str

      },
    }
  }
</script>
