<template>
  <div>
    <cast-table :type="type" :id="item._id" table_kind="staff" :initial_data="staff" @fetch="$emit('fetch', $event)"></cast-table>
  </div>
</template>
<script>
 import cast_table from "~/components/library/cast_table.vue"
 export default {
   props: ["item", "type", "staff"],
   components: {
     'cast-table': cast_table
   },
    head() {
      var item_name = this.item.title ? this.item.title : (this.item.name_english ? this.item.name_english : this.item.name)
      if (item_name.length > 30) {
        item_name = item_name.slice(0,27) + '...'
      }
      return {
        title: item_name + ' - ' + this.type.charAt(0).toUpperCase() + this.type.slice(1) + ' - Staff - Toshokan'
      }
    },
   validate({ params }){
     return ['anime', 'vn'].includes(params.type)
   }
 }
</script>
