<template>
  <div>
    {{user}}
    <button @click="go()">go</button>
  </div>
</template>
<script>
  async function asyncData({ redirect, $axios, params, error }){
    const userAccount = await $axios.$get("/account").catch(
      function(err){
        error({statusCode: 404, message: err.message})
      }
    )
    const user = userAccount['username']
    redirect('/profile/' + user)
  }

  import page_auth from '~/plugins/page-auth-mixin.js'

  export default {
    mixins: [page_auth(asyncData)],
  }
</script>
