<template>
  <div class="">
    <navbar></navbar>

    <div class="bd-main-container container">
      <nuxt v-if="$store.getters.isAuthorized" />
      <unauthorized v-else />
<!--
      <div class="has-text-centered">
        <p class="title">Reserved for advertisements</p>
      </div>
      -->
      <t_footer></t_footer>
    </div>
  </div>
</template>
<script>
  import navbar from '~/components/layout/navbar.vue'
  import t_footer from '~/components/layout/t_footer.vue'
  import unauthorized from '~/components/layout/unauthorized.vue'
  export default {
    components: { "navbar": navbar, "t_footer": t_footer, "unauthorized": unauthorized }
  }
</script>
