<script type="text/javascript">
  urlp=[];u=location.search.replace("?","").split("&").forEach(function(d){e=d.split("=");urlp[e[0]]=e[1];})
  console.log(unescape(urlp['query']));
  amzn_assoc_placement = "adunit0";
  amzn_assoc_search_bar = "false";
  amzn_assoc_tracking_id = "toshokan08-20";
  amzn_assoc_search_bar_position = "bottom";
  amzn_assoc_ad_mode = "search";
  amzn_assoc_ad_type = "smart";
  amzn_assoc_marketplace = "amazon";
  amzn_assoc_region = "US";
  amzn_assoc_title = "Shop Related Products";
  amzn_assoc_default_search_phrase = unescape(urlp['query']);
  amzn_assoc_default_category = "All";
  amzn_assoc_linkid = "5f46b297f3eee4eca271ea2dd7c7d18f";
  amzn_assoc_rows="1";
</script>
<center>
<script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
</center>
<style>
  .amzn-native-header, .amzn-native-brand-bottom {
    display: none;
  }
</style>
