<template>
  <div class="registration">
    <div class="container" v-if="stage == 1">
      <section class="hero">
        <div class="hero-body">
          <div class="container">
            <h1 class="title">
              Complete Registration
            </h1>
            <h2 class="subtitle">
              We need a few more details before you can use your account.
            </h2>
          </div>
        </div>
      </section>
      <section class="is-centered regform">
        <b-field :type="username_error" :message="username_msg" position="is-centered" label="Username">
          <b-input @input="validate_username" v-model="username" maxlength="32"></b-input>
        </b-field>
        <button v-on:click.prevent="register" class="button">Next</button>
      </section>
    </div>

    <div v-else-if="stage == 2">
      <section class="hero">
        <div class="hero-body">
          <div class="container">
            <h1 class="title">
              Import
            </h1>
            <h2 class="subtitle">
              If you are migrating from MyAnimeList, you can import your anime and manga+novel lists here. Likewise, you can import your VN list from VNDB here as well.
            </h2>
          </div>
        </div>
      </section>
      <div class="columns">
        <div class="column is-one-third">
          <b>Anime (MyAnimeList)</b>
          <import-form list_type="anime" :replace_list="true"></import-form>
        </div>
        <div class="column is-one-third">
          <b>Manga and novels (MyAnimeList)</b>
          <import-form list_type="manga" :replace_list="true"></import-form>
        </div>
        <div class="column is-one-third">
          <b>Visual Novels (VNDB) (Coming Soon!)</b>
          <!-- <import-form list_type="vn" :replace_list="true"></import-form> -->
        </div>
      </div>
      <button v-on:click.prevent="get_profile(); stage = 3" class="button">Next</button>
    </div>

    <div v-else-if="stage == 3">
      <section class="hero">
        <div class="hero-body">
          <div class="container">
            <h1 class="title">
              Profile
            </h1>
            <h2 class="subtitle">
              Tell us about yourself! Here you can set information for your profile. You can always change this later on the settings page.
            </h2>
          </div>
        </div>
      </section>

      <div v-if="profile">
        <b-field label="Birthday">
          <b-datepicker :date-formatter="(date) => $moment(date).format('MMM DD, YYYY')"
            v-model="profile.birthday"
            placeholder="Choose..."
            icon="calendar-today">
          </b-datepicker>
        </b-field>

        <b-field label="Gender">
          <b-select v-model="profile.gender">
            <option v-for="option in ['Male', 'Female', 'Other/Rather Not Say']" :key="option">
              {{option}}
            </option>
          </b-select>
        </b-field>

        <b-field label="Location">
          <b-input v-model="profile.location" type="textarea" maxlength="200"></b-input>
        </b-field>

        <b-field label="Biography">
          <b-input v-model="profile.biography" type="textarea" maxlength="4000"></b-input>
        </b-field>

      </div>
      <div v-else>
        Loading...
      </div>
      <br>
      <button v-on:click.prevent="stage = 2" class="button" style="margin-right: 5px;">Previous</button>
      <button v-on:click.prevent="get_settings(); stage = 4" class="button">Next</button>
    </div>
    <div v-else-if="stage == 4">
      <div v-if="settings">
        <section class="hero">
          <div class="hero-body">
            <div class="container">
              <h1 class="title">
                Settings
              </h1>
              <h2 class="subtitle">
                Here you can set some of the important settings. These settings, as well as others, are also available on the settings page.
              </h2>
            </div>
          </div>
        </section>

        <b-field label="List Public" horizontal>
          <b-switch v-model="settings.list_public"></b-switch>
        </b-field>

        <b-field label="Profile Public" horizontal>
          <b-switch v-model="settings.profile_public"></b-switch>
        </b-field>

        <br>
        <button v-on:click.prevent="stage = 3" class="button" style="margin-right: 5px;">Previous</button>
        <button v-on:click.prevent="finish" class="button" style="margin-left: 5px;">Done!</button>
      </div>
      <div v-else>
        Loading...
      </div>
    </div>
  </div>
</template>
<script>
  import { Auth } from '~/plugins/fireinit.js'
  import import_form from '~/components/list/import_form.vue'
  export default {
    middleware: 'register-page-auth',
    components: {
      'import-form': import_form
    },
    created: async function () {
      if (!this.$store.getters.isAuthenticated) {
        this.$router.push('/')
        return
      }
      let idToken = (await Auth.currentUser.getIdTokenResult()).token

      var response = await this.$axios.$post("/account/registered", { token: idToken })
      if (response.registered) {
        this.$router.push('/')
      }
    },
    data() {
      return {
        username: "",
        username_valid: null,
        stage: 1,
        profile: null,
        settings: null
      }
    },
    methods: {
      async finish(){
        if(this.profile){
          await this.$axios.$put('/account/profile', this.profile)
        }
        if (this.settings){
          await this.$axios.$put('/account/settings', this.settings)
        }

        this.$router.push('/')
        window.location.reload(true)
      },
      register: async function (event) {
        let idToken = (await Auth.currentUser.getIdTokenResult()).token
        try {
          var response = await this.$axios.$post("/account/complete-registration", { username: this.username, token: idToken })
          this.$toast.open({
            message: response.msg,
            type: 'is-success'
          })
          this.$store.dispatch('updateRegStatus', true)
          this.stage = 2
        } catch (e) {
          this.$toast.open({
            message: response.msg,
            type: 'is-danger'
          })
        }
      },
      async get_profile(){
        if(!this.profile){
          const profile = await this.$axios.$get('/account/profile')
          this.profile = profile.profile
        }
      },
      async get_settings(){
        if(!this.settings){
          const settings = await this.$axios.$get('/account/settings')
          this.settings = settings.settings
        }
      },
      validate_username() {
        var regex = /^[A-Za-z0-9_]+[A-Za-z0-9_-]*[A-Za-z][A-Za-z0-9_-]*$/
        if (this.username === "") {
          this.username_valid = false
          return
        }
        if (this.username.length > 32 || this.username.length < 3) {
          this.username_valid = false
          return
        }
        if (!regex.test(this.username)) {
          this.username_valid = false
          return
        }
        this.username_valid = true
      }
    },
    computed: {
      username_error() {
        if (this.username_valid === null) {
          return "is-primary"
        } else if (this.username_valid) {
          return "is-success"
        } else {
          return "is-danger"
        }
      },
      username_msg() {
        if (this.username_valid === null) {
          return ""
        } else if (this.username_valid) {
          return "This username is valid."
        } else {
          return "This username is invalid."
        }
      }
    }
  }
</script>
<style>
  .regform {
    max-width:500px;
    padding-left: 50px;
    margin-right: 50px;
    padding-bottom: 50px;
  }

  .registration >>> .pagination-previous, .registration >>> .pagination-next {
    margin-top: 10px;
  }

</style>
