<template>
  <div>
    <h1 class="title">Contact Us</h1>
    <h2 class="subtitle" style="margin-bottom: 0">E-Mail</h2>
    General Inquiries: <a href="mailto:info@toshokan.moe">info@toshokan.moe</a><br>
    Press: <a href="mailto:press@toshokan.moe">press@toshokan.moe</a><br>
    Legal: <a href="mailto:legal@toshokan.moe">legal@toshokan.moe</a><br>
    Advertising: <a href="mailto:monetization@toshokan.moe">monetization@toshokan.moe</a><br>
    <br>
    <h2 class="subtitle" style="margin-bottom: 0">Discord</h2>
    We maintain a public Discord server for questions, bug reports and suggestions. Please join using this <a href="https://discord.gg/2h7MK8k">invitation link</a>.<br>
    <br>
    <h2 class="subtitle" style="margin-bottom: 0">Twitter</h2>
    You can reach us on <a href="https://twitter.com/toshokan_moe">@toshokan_moe</a>.<br>
    <br>
    <h2 class="subtitle" style="margin-bottom: 0">Bug Tracker</h2>
    Our bug tracker is hosted <a href="https://gitlab.com/toshokan/toshokan-bug-tracker/issues">here</a>.
  </div>
</template>
