<template>
  <div class="columns" style="margin-top: 5px; margin-left: 5px;">
    <div class="column">
      <p class="title">The Dashboard</p>
      <button class="button subtitle" @click="visible.list = !visible.list" style="margin-bottom: 5px; width:200px;">List</button>
      <p v-if="visible.list">
        You can find your lists on the "List" tab of your dashboard. You can select the kind of list on the top left, and filter by entry status on the top right. You can also use the "Filter..." bar to search by title. You can edit entries in place by the information you want to edit; for example, if the score for an entry is set to 7 and you want to change it, you can do that by clicking the 7. You can also use the "Edit" button for a full edit form. If you want to view your list as one long page, simply turn off the pagination at the bottom; this setting is remembered.
      </p>
      <br>

      <button class="button subtitle" @click="visible.recommendations = !visible.recommendations" style="margin-bottom: 5px; width:200px">Recommendations</button>
      <p v-if="visible.recommendations">
        Toshokan features an anime recommendation engine. You can find it by navigating to the "Recs" tab of your dashboard. Recommendations are based on your anime list; the system only takes into account entires you have marked as "completed" and given a score, so make sure to do so! Your recommendations will change as you watch more anime, so check back periodically. On the right side, you will find some controls to tune your recommendations. As of this writing, you can:
        <ul class="browser-default">
          <li>Ensure that every show has at least one of a list of genres, or every genre in a list of genres</li>
          <li>Select a minimum starting year and maximum ending year</li>
          <li>Ensure that shows have one of, or all of, a list of staff roles. For example, you can require that "Emiya Shirou" is a "Character", or that "Hideaki Anno" is the "Director", or both (though that would not yield you any results)</li>
          <li>Allow or block certain types of anime, such as movies or OVAs</li>
          <li>Allow or remove sequels of anime</li>
          <li>Show, hide, or only show anime in your plan-to-watch list</li>
        </ul>
      </p>
      <br>

      <button class="button subtitle" @click="visible.stats = !visible.stats" style="margin-bottom: 5px; width: 200px;">Statistics</button>
      <p v-if="visible.stats">
        In the stats tab you can view some statistics about your lists, such as breakdowns of watch or read time by status, average score by status, etcetera.
      </p>
      <br>

      <button class="button subtitle" @click="visible.social = !visible.social" style="margin-bottom: 5px; width: 200px;">Social</button>
      <p v-if="visible.social">
        In the social tab, you can view status updates from users you follow. Old pages will load as you go back in history.
      </p>
      <br>
      <br>

      <p class="title">Other Personal Things</p>

      <button class="button subtitle" @click="visible.settings = !visible.settings" style="margin-bottom: 5px; width: 200px;">Settings</button>
      <p v-if="visible.settings">
        In <nuxt-link to="/settings">the settings</nuxt-link> you can change things such as the information on your profile, whether or not your lists are public, etcetera.
      </p>
      <br>

      <button class="button subtitle" @click="visible.client = !visible.client" style="margin-bottom: 5px; width: 200px;">Client</button>
      <p v-if="visible.client">
        We are working on a client that can automatically track what anime you are watching and update them on Toshokan. As of right now, the client is not released to the public yet. It is in the final stages of development and expected to release within a few weeks.
      </p>
      <br>

      <p class="title">Tips</p>
      <p class="subtitle" style="margin-bottom: 0;">Decimal Scores</p>
      Toshokan lets you enter decimal scores for your list entries; they are rounded to 2 decimals.

    </div>

    <div class="column">
      <p class="title" style="margin-bottom: 0;">Library Pages</p>
      The pages that hold most of the information on Toshokan are what we call library pages. These are the pages you see when you go to look up a specific anime, person, character, etcetera. Most of these pages should be fairly self-explanatory, but here are a few things to pay extra attention to:<br><br>
      <p class="subtitle" style="margin-bottom: 0;">Favourites</p>
      You can (un-)"favourite" a work, person, or character by clicking the star icon next to the word "Favourite". Its colour indicates its status; if it is yellow, it is already on your favourites list; if it is grey, it is not.<br><br>
      <p class="subtitle" style="margin-bottom: 0;">Sakura Score</p>
      Near the bottom of the left column on pages for anime, manga, light novels and such you will find the "Sakura Score". It is a number, ranging from 0 to 1000, that indicates how likely we think it is that you will enjoy this work. It is based on the recommendation system, so the caveat that it only takes into account entries you have marked "completed" and given a score applies.<br><br>
      <p class="subtitle" style="margin-bottom: 0;">Searching</p>
      The search bar on the "Cast" page can search for both the name of the character as well as the name of the voice actor. Similarly, the search bar on the "Staff" page can search for both the person and their role.
    </div>

    <div class="column">
      <p class="title" style="margin-bottom:0;">Social</p>
      To view other users' information, you need to ask them for the link to their profile. You can find yours under the "User" menu in the navigation bar at the top of the site. From a user's profile you can view their favourites, links to their lists, their recent status updates, and some basic personal information. You can edit the information on your own profile from the <nuxt-link to="/settings">settings</nuxt-link>.
    </div>
  </div>
</template>
<script>
  export default {
    data(){
      return {
        visible: {
          'recommendations': false,
          'list': false,
          'stats': false,
          'social': false,
          'settings': false,
          'client': false
        }
      }
    },
  }
</script>
