<template>
  <div>
    <div class="has-text-centered"> <p class="subtitle">What is Toshokan?</p></div>
    <br>
      Toshokan is primarily a site for tracking anime, manga, light novels and soon visual novels. It was born out of dissatisfaction with current such sites; they are often slow, hard to use, or not actively developed. Toshokan aims to be fast, modern, and feature-complete. <br>
      Toshokan's most novel feature is its custom, excellent recommendation system which is built using bleeding-edge technology. Other than that, you can expect all the features you're used to from other sites, if not more. And if you ever find a feature missing, just tell us, since Toshokan is constantly in development!<br>
      You can use Toshokan for its information pages right away. To access the tracking features, recommendation system, and so on, simply make an account. From there you can also import your anime list if you already have one.<br>

    <div class="columns">
      <div class="column" style="height: 100%; text-align: center;">
        <p class="subtitle">Discord</p>
        <iframe src="https://discordapp.com/widget?id=549620165831163914&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0" style="height: 500px;"></iframe>
      </div>
      <div class="column" style="text-align: center;">
        <p class="subtitle">Twitter</p>
          <div style="width: 70%; height: 1000px; overflow-y: scroll; margin-left: 15%; text-align: center;  overflow-x: hidden;">
            <a class="twitter-timeline" href="https://twitter.com/toshokan_moe?ref_src=twsrc%5Etfw">Tweets by toshokan_moe</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          </div>
        </div>
    </div>
  </div>
</template>

<script>
  import hot_entry from '~/components/hot_entry.vue'

  export default {
    async asyncData({ $axios }){
      var hot = await $axios.$get('/hot')
      var news = await $axios.$get('/news/index')

      return {
        hot_anime: hot.anime,
        news: news.data.posts
      }
    },
    components: {
      'hot-entry': hot_entry
    },
    computed: {
      numTop(){
        if (process.server){
          return 6
        }
        if(!this.$mq) {
          return 6
        }
        if(this.$viewport.geq('fullhd', this.$mq)){
          return 6
        } else if(this.$viewport.geq('widescreen', this.$mq)){
          return 5
        }else if(this.$viewport.geq('desktop', this.$mq)){
          return 4
        } else {
          return 3
        }
      }
    }
  }
</script>

<style scoped>

</style>
