<template>
  <div class="content">
    <h1 class="title">Privacy Policy</h1>
    <no-ssr>
      <div>
        <span class="subtitle has-text-weight-bold">Definition of Terms</span>
        <p>In this Privacy Policy:
          <ul>
            <li>"us", "we", "toshokan", "the company" will be used to refer to Toshokan bv.</li>
            <li>"you", "the user" will be used to refer to you, the user.</li>
            <li>"services", "the service", "the website", "the site" will be used to refer to https://toshokan.moe as well as all other services provided on it.</li>
            <li>"your device", "the device" will be used to refer to whatever system you use to access the site.</li>
          </ul>
        </p>

        <span class="subtitle has-text-weight-bold">Handling of Information</span>
        <p>
          While using Our Services, you will both directly and indirectly provide us with a variety of information. Some of this information is required for the site to function properly; other information will be used to improve your user experience, or to help us improve the site. Below you will find a table with the most important kinds of data we collect, and the main purpose of collecting that data.
        </p>
        <table class="table">
          <thead>
            <th>Type of Data</th>
            <th>Purpose of Use</th>
          </thead>
          <tbody>
            <tr>
              <td>Basic information, such as:
                <ul>
                  <li>Date of birth</li>
                  <li>Gender</li>
                  <li>Postal address</li>
                  <li>E-mail address</li>
                  <li>Nationality</li>
                </ul>
              </td>
              <td>
                Communication and end-user support.
              </td>
            </tr>

            <tr>
              <td> Account information, such as:
                <ul>
                  <li>Log-in ID or E-mail address</li>
                  <li>Password</li>
                </ul>
              </td>
              <td>
                Required for account functionality.
              </td>
            </tr>

            <tr>
              <td>
                Site usage information, such as:
                <ul>
                  <li>A log of your activity on the site</li>
                  <li>IP address</li>
                  <li>Browser ID</li>
                </ul>
              </td>
              <td>
                <ul>
                  <li>Improving the site</li>
                  <li>Combatting fraud, infringements of our rights and breaches of our <nuxt-link to="/tos">Terms of Service</nuxt-link></li>
                </ul>
              </td>
            </tr>

            <tr>
              <td>
                Payment information, including:
                <ul>
                  <li>Credit card information</li>
                  <li>Paypal user ID</li>
                  <li>International Bank Account Number (IBAN)</li>
                </ul>
              </td>
              <td>
                Facilitating payments.
              </td>
            </tr>

            <tr>
              <td>Information explicitly entered by the user, including but not limited to:
                <ul>
                  <li>Media (anime, manga, etc.) lists</li>
                  <li>User favourites</li>
                  <li>Profile pictures</li>
                </ul>
              </td>
              <td>
                To facilitate corresponding site functionality, as well as:
                <ul>
                  <li>To provide a tailored experience</li>
                  <li>To improve the site</li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>

        <span class="subtitle has-text-weight-bold">Duration of Storage</span>
        <p>We will store any personal information for as long as it is needed for the purpose it was collected for, or for as long as is needed for legal or legitimate business purposes. After this time we will discard the data.</p>

        <span class="subtitle has-text-weight-bold">Collection of Information</span>
        <p>
          <b>Direct interaction</b><br>
          Direct interactions are interactions where you send information to us directly. For example, you might add an anime to your anime list, or change your profile picture. By agreeing to this Privacy Policy you specifically grant us the right to collect any such information, though we are under no obligation to do so.
        </p>
        <p>
          <b>Data from Third Parties</b><br>
          We may collect your information from any third parties who provide it to us.
        </p>
        <p>
          <b>Navigation</b><br>
          We may track and store which links you follow; this applies to internal, out-going and incoming links.
        </p>
        <p>
          <b>Device Information</b><br>
          We may collect information sent from your device, such as device type, mobile carrier, IP address, browser type and such.
        </p>

        <span class="subtitle has-text-weight-bold">Cookies</span>
        <p>
          Cookies are small pieces of text stored on your Device. Some cookies strictly necessary for the site to function. Other cookies may be used to track your behaviour on the site, which will help us improve it. Finally, we might engage may set their own cookies.
          <br>
          If you wish to turn off cookies which are not strictly necessary, you can do so by changing the options in your browser.
        </p>

        <span class="subtitle has-text-weight-bold">Third Parties</span>
        <p>
          We may share your information with certain third parties, as outlined belowed.
          <br><b>Analysis and Advertising</b><br>
          You agree that we may share technical information (such as your IP address or browser type), non-personal information and anonymous or anonimized information with advertisers, ad networks and analytics entities. This data would be used to provide you with targeted advertisements, and to give us insights into how users use our site.
          <br><br><b>Service Providers</b><br>
          We may share some or all of your data with service providers who provide services on our behalf. These service providers will only have access to your information to the degree that is required for them to provide that service on our behalf, and are obligated to not use or disclose your data for any other purpose.
          <br><br><b>Special Circumstances</b><br>
          In extraordinary circumstances, we may disclose any and all of your information to law enforcement officials or private parties if we believe this to be necessary to:
          <ul>
            <li>respond to claims and legal process</li>
            <li>protect the rights and property of Toshokan bv or a third party</li>
            <li>to protect the safety of the public or any person</li>
            <li>to prevent or stop any activity which we may consider to be illegal or unethical</li>
          </ul>

          <br>
          Furthermore, in the event of a merger, acquisition, reorganization, sale of assets, bankruptcy or similar situation, we may sell or transfer some or all of your information to any successor entity.
        </p>

        <span class="subtitle has-text-weight-bold">Policy regarding minors</span>
        <p>
          None of our services are intended for individuals under the age of sixteen (16), and upon notice or discovery we will take all reasonable efforts to destroy any personal information of children which we may have unwittingly connected. Minors may only use the services with parental consent.
        </p>

        <span class="subtitle has-text-weight-bold">Changes to this Privacy Policy</span>
        <p>
          The company reserves the right to change this Privacy Policy at any time. In such an event, we will give notice on the website and/or by e-mail to any e-mail address of you we may have.
        </p>

        <span class="subtitle has-text-weight-bold">In Conclusion</span>
        <p>
          Your us of our services will indicate your consent to this Privacy Policy. The version of the Privacy Policy available on <nuxt-link to="/privacy">the website</nuxt-link> is to be leading. This Privacy Policy is effective as per 9 October, 2018.
        </p>

        <span class="subtitle has-text-weight-bold">Contact</span>
        <p>
          If you have any questions, wish to review or change any of your information, or wish to exercise any of your right such as your right to be forgotten, you can contact us at <a href="mailto:legal@toshokan.moe">legal@toshokan.moe</a>
        </p>

      </div>
    </no-ssr>
  </div>
</template>

<script>
  export default {
    head() {
      return {
        title: 'Privacy Policy - Toshokan'
      }
    }
  }
</script>
