<template>
  <div class="content">
    <no-ssr>
      <div>
        <h1 class="title">Terms of Service</h1>
        <span class="subtitle has-text-weight-bold">Definition of Terms</span>
        <p>In this Terms of Service:
          <ul>
            <li>"us", "we", "toshokan", "the company" will be used to refer to Toshokan bv.</li>
            <li>"you", "the user" will be used to refer to you, the user.</li>
            <li>"services", "the service", "the website", "the site" will be used to refer to http://toshokan.moe as well as all other services provided on it.</li>
            <li>"these terms", "this agreement", "Terms of Use", etc. will be used to refer to this Terms of Service.</li>
          </ul>
        </p>

        <span class="subtitle has-text-weight-bold">Eligibility</span>
        <p>
          By accessing or using our services, you signify that you have read, understood, and agree to both this Terms of Service as well as Toshokan's <nuxt-link to="/privacy">Privacy Policy</nuxt-link> and any additional terms, conditions, notices and disclaimers communicated to you by us, through the services or otherwise. Furthermore, you represent that you are over the age of sixteen (16), and otherwise of the age of majority per the applicable law in your jurisdiction. If any of the previous statements do not apply toyou, you may not use our services. Furthermore, minors may only use the services having received parental consent after review of this agreement and being competent and fully able to enter into a contract such as this agreement.
        </p>

        <span class="subtitle has-text-weight-bold">Limitation of Liability</span>
        <p>
          IN NO EVENT WILL THE COMPANY, ITS AFFILIATES, OR ITS AND THEIR RESPECTIVE DIRECTORS, MANAGERS, OFFICERS, MEMBERS, EMPLOYEES, AGENTS, SUCCESSORS, OR ASSIGNS BE LIABLE FOR ANY INDIRECT, CONSEQUENTIAL, EXEMPLARY, INCIDENTAL, SPECIAL OR PUNITIVE DAMAGES, INCLUDING DAMAGES FOR LOST PROFITS OR LOSS OF DATA, ARISING OUT OF OR RESULTING FROM YOUR USE OF OUR SERVICE, EVEN IF THE COMPANY IS AWARE OF OR HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. NOTWITHSTANDING ANYTHING TO THE CONTRARY SET FORTH HEREIN, THE COMPANY'S AGGREGATE LIABILITY TO YOU FOR ANY CAUSE WHATSOEVER, REGARDLESS OF THE FORM OF THE ACTION, WILL AT ALL TIMES BE LIMITED TO ONE HUNDRED U.S. DOLLARS ($100). TO THE EXTENT APPLICABLE LAW DOES NOT ALLOW THE EXCLUSIONS AND LIMITATIONS OF DAMAGES AS SET FORTH ABOVE, SOME OR ALL OF THE ABOVE EXCLUSIONS AND LIMITATIONS MAY NOT APPLY TO YOU, IN WHICH CASE THE COMPANY'S LIABILITY TO YOU WILL BE LIMITED TO THE FULLEST EXTENT PERMITTED BY APPLICABLE LAW. THE LIMITATIONS AND EXCLUSIONS SET FORTH HEREIN WILL SURVIVE ANY TERMINATION OF ACCESS TO OR USE OF OUR SERVICE.
        </p>
        <p>
          Without limiting the above, Toshokan bv assumes no liability or responsibility for all of, but not only, the following:
          <ul>
            <li>Inability to use the service or other technical issues related to the service</li>
            <li>Mistakes or inaccuracies in the content of the service</li>
            <li>Any unauthorized use of, or access to, our services and their underlying infrastructure, and any resulting consequences of the aforementioned</li>
            <li>Offensive or illegal content or created by any third party, including other users, as well as any conduct of a similar nature</li>
            <li>Any injury, property damage, or discomfort, of any nature, directly or indirectly resulting from access and/or use of the services</li>
          </ul>
        </p>
        <p>
          The foregoing limitation of liability shall apply to the fullest extent permitted by law in the applicable jurisdiction, and shall appy fully to residents of New Jersey.
        </p>

        <span class="subtitle has-text-weight-bold">Use of the Services</span>
        <p>
          The company grants you a limited, non-exclusive, non-assignable, non-sub-licensable, revocable license to use the services solely for personal, noncommerical use, provided that you comply with the terms and conditions of this agreement, and do not copy, distribute or disclose any part of the services, in any medium. The company may revoke this license at any time, for any or no reason. Furthermore, the company may, at its sole discretion, at any time, temporarily or permanently, suspend, terminate or otherwise refuse access to the services, without notice and liability.
        </p>
        <p>
          Actions which violate this agreement include, but are not limited to:
          <ul>
            <li>Bypassing any measures we may use to prevent or restrict access to the services</li>
            <li>Interfering in any way with the proper functioning of the services</li>
            <li>Imposing, or taking any action which may impose an unreasonable or disproportionaly large load on our infrastructure, at our sole discretion</li>
            <li>Uploading any data to the service beyond what is explicitly requested or may reasonably expected, including but not limited to invalid data as well as malicious data such as computer viruses</li>
            <li>Using the services in such a way that may disrupt or otherwise otherwise inhibit other users' ability to comfortably use the services, at our sole discretion</li>
            <li>Using the services in such a way that competes with or otherwise compromises or interferes with the company's interests, financial or otherwise, at our sole discretion</li>
            <li>Using the services to collect, gather or assemble any information or data on the services, related to the services, or regarding other users of the services, beyond what is reasonably required to use the services.</li>
            <li>Violating any laws in connection with your use of the services</li>
            <li>Misrepresenting, hiding or otherwise obscuring your identity and/or your affiliation with any person or entity</li>
            <li>Attempting to undertake any of the foregoing</li>
          </ul>
        </p>

        <span class="subtitle has-text-weight-bold">User Content</span>
        <p>
          The services may allow users to do things such as: create accounts, post comments, send private messages to other users, engage in conversation through chat rooms or forums, and otherwise upload likewise information ("User Content"). You alone are responsible for any user content that you upload, publish, display, link to, reference, or otherwise make available (henceforth: "post") on the services. You agree that we are only acting as a passive conduit for your online distribution and publication of your user content.
        </p>
        <p>
          You agree not to post user content that:
          <ul>
            <li>
              Contains any information or content that we consider to be unlawful, infringing upon anyone's personal privacy or rights, threatening, defamatory or libelous, or otherwise objectionable
            </li>
            <li>
              May create a risk of loss or damage to any person, property or animal
            </li>
            <li>
              May contribute to any crime
            </li>
            <li>
              Is intentionally misleading or otherwise known to be incorrect
            </li>
            <li>
              Contains any information or content that you do not have a right to make available under any law or under any contract
            </li>
            <li>
              Constitutes any form of advertising or any other business related commmunications
            </li>
            <li>
              May compete with or otherwise threaten the company's interests, business or otherwise
            </li>
          </ul>
        </p>
        <p>
          The company reserves the right, but not the obligation, to monitor, moderate, censor or remove any user content, without prior notice to the user.
        </p>
        <p>
          The company assumes no liability or responsibility for any user content on the service. You agree and understand that any damage or loss of any kind that occurs as a result of any user content that you post to, or access through, the service is solely your responsibility. You agree and understand that the company is not responsible for any public display or misuse of your use content. You agree and understand that you may be exposed to user content that is indecent, inaccurate, offensive or objectionable, and that the company shall not be liable for any damages you allege to incur as a result.
        </p>

        <span class="subtitle has-text-weight-bold">Grant of License</span>
        <p>
          By posting any User Content on the Service, you expressly grant, and you represent and warrant that you have a right to grant, to Company a non-exclusive, worldwide, sublicensable, transferable, royalty-free, perpetual, irrevocable, license to use, reproduce, modify, publish, list information regarding, edit, translate, distribute, publicly perform, publicly display, and make derivative works of all such User Content and your name, voice, and/or likeness as contained in your User Content, in whole or in part, and in any form, media or technology, whether now known or hereafter developed.
        </p>

        <span class="subtitle has-text-weight-bold">Grant of License</span>
        <p>
          Excepting your user content, the company and its licensors claim the exclusive ownership over the service and all materials therein or transferred thereby, including, without limitation, software, images, text, graphics, illustrations, logos, patents, services marks, copyrights, photographs, audio, video, as well as all intellectual property rights related thereto.
        </p>
        <p>
          Except as explicitly provided herein, nothing in this agreement shall be deemed to create a license in or under any such intellectual property rights. You agree not to license, sell, modify, distribute, copy, transmit, edit or create derivative works from any materials or content accessible through the services. Use of any materials accessible through the services for any purpose other than expressly permitted by this agreement is prohibited.
        </p>

        <span class="subtitle has-text-weight-bold">Account</span>
        <p>To access certain parts of the services, you may need to create an account. You agree that you alone are responsible for any information associated with your account. You may not license, sell or transfer your acount.</p>

        <span class="subtitle has-text-weight-bold">Representations</span>
        <p>
          You represent and warrant that your user content and the company's use thereof will not infringe the rights of any third party, including but not limited to privacy rights and intellectual property rights. You furthermore represent and warrant that the company may exercise the rights to your user content granted under this agreement without liability for payment of any fees, payments or royalties payable under any collective bargaining agreement or otherwise.
        </p>

        <span class="subtitle has-text-weight-bold">Indemnity</span>
        <p>
          You agree to defend, indemnify and hold harmless the company and all of its subsidiaries, agents, managers, and any other affiliated companies, their employees, subsidiers, etc., from and against any and all claims, damages, obligations, losses, liabilities, costs or debt, and expenses (including attorney's fees) arising from:
          <ul>
            <li>Your use of and access to the services, including any data transmitted or received by you</li>
            <li>Your violation of any term of this agreement</li>
            <li>Your violation of any third-party right</li>
            <li>Your violation of any law, rule or regulation, in any country</li>
            <li>Any claims, damages or violations that arise as a direct result of any of your user content or any data submitted via your account</li>
            <li>Any third party's access and use of the service through your account or security credentials</li>
          </ul>
        </p>

        <span class="subtitle has-text-weight-bold">Third Parties</span>
        <p>
          The services may contain links to third-party websites, advertisers, or services that are not owned or controlled by the company. The company has no control over, and assumed no responsibility or liability for, nature, content and practices of these third parties. You understand that accessing any third party is at your own risk, and that this agreement and the company's privacy policy do not apply there. You agree that the company shall not be held responsible for any loss or damage relating to your interaction with any third parties.
        </p>

        <span class="subtitle has-text-weight-bold">Governing Law and Venue</span>
        <p>
          You agree that the services shall be deemed solely based in The Netherlands, and that the services shall be deemed passive and not giving rise to personal jurisdiction over the company, either specific or general, in jurisdictions other than The Netherlands. These Terms of Service shall be governed in all respects by the laws of The Netherlands, without regard to conflict of law principles.
        </p>

        <span class="subtitle has-text-weight-bold">Changes to This Document</span>
        <p>
          We may make changes to these Terms of Service at any time. If we make changes, we will post the amended Terms of Service to the services and update the effective date below. We may also, at our sole discretion, notify you of such changes through other means, such as through e-mail or otherwise providing notice through the services. By continuing to access or use the services on or after the effective date of the revised Terms of Service, you agree to be bound by the revised Terms of Service. Should you not agree with the revised Terms of Service, you must stop accessing and using our services before the changes become effective.
        </p>

        <span class="subtitle has-text-weight-bold">Termination</span>
        <p>
          You may terminate these Terms of Service at any time and for any reason, by deleting your account and discontinuing your use of the services. The sections "Limitation of Liability", "Use of the Services", "User Content", "Grant of License", "Indemnity", "Termination" and "Miscellaneous" will survive any termination of this agreement.
        </p>

        <span class="subtitle has-text-weight-bold">Miscellaneous</span>
        <p>
          These Terms of Service will constitute the entire agreement between you and us regarding your access to and use of the services. Our failure to exercise or enforce any right or provision of these Terms of Service will not waive any such right or provision. If any provision of these Terms of Service is, for any reason, held to be illegal, invalid or unenforcable, the rest of the Terms of Service will remain in effect.
        </p>

        <span class="subtitle has-text-weight-bold">Contact Us</span>
        <p>
          You may contact us at legal@toshokan.moe.
        </p>
      </div>
    </no-ssr>
  </div>
</template>

<script>
  export default {
    head() {
      return {
        title: 'Terms of Service - Toshokan'
      }
    }
  }
</script>
