<template>
  <div class="settings">
    <div class="tabs">
      <ul>
        <li :class="{'is-active': cur_tab == 'list'}" @click="cur_tab = 'list'"><a>List</a></li>
        <li :class="{'is-active': cur_tab == 'profile'}" @click="cur_tab = 'profile'"><a>Profile</a></li>
        <li :class="{'is-active': cur_tab == 'display'}" @click="cur_tab = 'display'"><a>Display</a></li>
        <li :class="{'is-active': cur_tab == 'client'}" @click="cur_tab = 'client'"><a>Client</a></li>
        <li :class="{'is-active': cur_tab == 'import'}" @click="cur_tab = 'import'"><a>Import</a></li>
      </ul>
    </div>

    <div :class="{'nodisplay': cur_tab != 'client'}">
      <div v-if="!client_settings" class="notification is-danger">
        Client not detected; please start it and refresh this page!
      </div>
      <template v-else>
        <b-field label="Directories to scan for anime (must be absolute paths!)">
          <b-taginput
            v-model="client_settings.directories"
            ellipsis
            icon="label"
            placeholder="Add a directory">
          </b-taginput>
        </b-field>

      </template>
    </div>

    <div :class="{'nodisplay': cur_tab != 'list'}">
      <b-field label="Public List" horizontal>
        <b-switch v-model="settings.list_public"></b-switch>
      </b-field>
    </div>

    <div :class="{'nodisplay': cur_tab != 'profile'}">
      <div class="columns">
        <div class="column" style="margin-left: 7.5px">
          <b-field label="Public Profile" horizontal>
            <b-switch v-model="settings.profile_public"></b-switch>
          </b-field>

          <b-field label="Profile Picture (must be smaller than 5MiB)"
            v-if="!files">
            <b-upload
              v-model="files"
              drag-drop>
              <section class="section">
                <div class="content has-text-centered">
                  <p>
                    <b-icon icon="upload"
                      size="is-large">
                    </b-icon>
                  </p>
                  <p>Drop your file here or click to upload</p>
                </div>
              </section>
            </b-upload>
          </b-field>
          <div v-else>
            Uploading...
          </div>
          <b-field label="Gender">
            <b-select v-model="profile.gender">
              <option v-for="option in ['Male', 'Female', 'Other/Rather Not Say']" :key="option">
                {{option}}
              </option>
            </b-select>
          </b-field>
        </div>
        <div class="column" style="margin-right: 7.5px;">
          <b-field label="Biography">
            <b-input v-model="profile.biography" type="textarea" maxlength="2000"></b-input>
          </b-field>
          <b-field label="Location">
            <b-input v-model="profile.location"></b-input>
          </b-field>
          <b-field label="Birthday">
            <b-datepicker :date-formatter="(date) => $moment(date).format('MMM DD, YYYY')"
              v-model="birthday"
              placeholder="Choose..."
              icon="calendar-today">
            </b-datepicker>
          </b-field>
        </div>
      </div>
    </div>

    <div :class="{'nodisplay': cur_tab != 'display'}">
      <b-field label="Pagination" horizontal>
        <b-switch v-model="settings.pagination"></b-switch>
      </b-field>
    </div>

    <div :class="{'nodisplay': cur_tab != 'import'}">
      <b>Note:</b> importing will replace your existing list, use with caution! Importing starts <b>immediately</b> upon uploading the file!
      <div class="columns" style="margin-left: 5px">
        <div class="column">
          <import-form list_type="anime" :replace_list="true"></import-form>
        </div>
        <div class="column">
          <import-form list_type="manga" :replace_list="true"></import-form>
        </div>
        <div class="column">
          <import-form list_type="vn" :replace_list="true"></import-form>
        </div>

      </div>
          <b>Visual Novels coming soon!</b>

    </div>

    <br>
    <button class="button" @click="save">Save</button>
  </div>
</template>
<script>
  import page_auth from "~/plugins/page-auth-mixin.js"
  import import_form from '~/components/list/import_form.vue'
  import * as time from '~/utils/time.js'

  async function asyncData({ $axios, params }) {
    const settings = await $axios.$get('/account/settings')
    const profile = await $axios.$get('/account/profile')
    var client_settings = null
    var date = profile.birthday

    try {
      //client_settings = await $axios.$get('http://localhost:28137/settings')
    } catch (e) {}

    return { settings: settings.settings,
             profile: profile.profile,
             id: profile._id,
             client_settings }
  }

  export default {
    mixins: [page_auth(asyncData)],
    components: {
      'import-form': import_form
    },
    methods: {
      test_client(){
        console.log('rippie')
      },
      save(){
        this.profile.birthday = this.$moment(this.birthday).toISOString()
        this.$cookies.set("pagination", this.settings.pagination, { path: '/', "expires": time.never()})
        this.$axios.$put('/account/settings', this.settings)
        this.$axios.$put('/account/profile', this.profile)
        try {
          //this.$axios.$post('http://localhost:28137/settings', this.client_settings)
        } catch (e) {}
      },
      async uploadProfile(){
        const file = this.files
        const dat = await this.$axios.$get('/avatar-upload')
        const form_data = { ...dat.form_data, file: file }
        var form_d = new FormData()
        for (var key in form_data) {
          form_d.append(key, form_data[key]);
        }
        console.log(dat.url)
        await fetch(dat.url, { method: 'POST', body: form_d, })

        this.profile.avatar = Date.now().toString()
        this.$toast.open({
            message: "Uploaded Picture",
            type: 'is-success'
          })
        this.save()
      }
    },
    watch: {
      "files"(){
        if(this.files){
          this.uploadProfile()
          this.files = null
        }
      }
    },
    mounted() {
      if (this.$cookies.get("pagination") === false ) {
        this.settings.pagination = false
      } else {
        this.settings.pagination = true
      }

      this.birthday = this.$moment(this.profile.birthday).toDate()
    },
    data(){
      return {
        cur_tab: 'list',
        files: null,
        birthday: null
      }
    }
  }
</script>
<style scoped>
  .settings >>> .label {
    text-align: left;
  }

  .settings >>> .pagination-previous, .settings >>> .pagination-next {
    margin-top: 10px;
  }

  .settings >>> .is-invisible {
    display: none !important;
  }

  .nodisplay {
    display: none;
  }

  .button {
    margin-right: 5px;
  }
</style>
