<template>
  <div>
    <b>Keep in mind that it takes <i>4 to 10 hours</i> for changes in your list to be reflected here!</b>
    <b>That means that if you're a new user and you just created your list, you'll have to wait that long before these recommendations reflect your preferences.</b>
  <div class="columns">
    <div class="column">
      <b-table :data="data.recommendations" v-if="data != []" detailed>
        <template slot-scope="props">
          <b-table-column width="1" style="width: 1em !important;" label="number">
            {{data.recommendations.indexOf(props.row) + 1}}
          </b-table-column>

          <b-table-column :style="!isServer ? ($viewport.geq('tablet', $mq) ? 'width: 100px !important' : 'width: 300px !important;') : 'width: 100px !important'"  label="image">
            <library-lazy-image :max_height="!isServer ? ($viewport.geq('tablet', $mq) ? 120 : 1000) : 120" :type="list_type" :id="props.row"></library-lazy-image>
          </b-table-column>

          <b-table-column label="info">
            <nuxt-link :to="'/' + list_type + '/' + props.row">{{data.data[props.row].title}}</nuxt-link><br>
            <br>
            <br>
            <button class="button is-primary is-small" @click="addEntry(props.row)">Add to List</button>
          </b-table-column>
        </template>
        <template slot="detail" slot-scope="props">
          <b>Type: </b>{{data.data[props.row].type}}<br>
          <b>Genres: </b>{{data.data[props.row].genres.join(', ')}}<br>
          <b>Length: </b>{{data.data[props.row].episode_count}} Episodes<br>
          <b>Duration: </b>{{data.data[props.row].duration / 60}} minutes per episode<br>
          <b>Aired: </b>{{$moment(data.data[props.row].start_date).format('MMM Do, YYYY')}}
          - {{$moment(data.data[props.row].end_date).format('MMM Do, YYYY')}}
          <br>
          <b>Source: </b>{{data.data[props.row].source}}
        </template>
      </b-table>
      <div v-else>
        Loading....
      </div>
    </div>
    <div :class="!isServer ? ('column ' + ($viewport.geq('fullhd', $mq) ? 'is-one-quarter' : 'is-one-third')) : 'is-one-quarter'" style="margin-left: 20px;">

      <button class="button is-info full-width" @click="getRecs">Generate</button>

      <button class="button full-width is-dark" style="margin-bottom: 10px; margin-top: 10px;" @click="show_genres = !show_genres">
        Genres
      </button>

      <div :class="{'true-invisible': !show_genres}">

        <b-switch v-model="all_genres"></b-switch>
        <b>{{all_genres ? 'All of' : 'One of'}}</b>

        <div class="columns fixed-columns" style="padding-top: 5px;">
          <div class="column is-one-third" style="padding-right: 2.5px; padding-left: 0;">
            <button :class="['button', 'full-width', genre_status[k] ? 'is-primary' : '']" style="margin-bottom: 2.5px;" v-for="k in Object.keys(genre_status).slice(0, 15)" :key="k" @click="genre_status[k] = !genre_status[k]">
              {{k}}
            </button>
          </div>

          <div class="column is-one-third" style="padding-right: 2.5px; padding-left: 2.5px;">
            <button :class="['button', 'full-width', genre_status[k] ? 'is-primary' : '']" style="margin-bottom: 2.5px;" v-for="k in Object.keys(genre_status).slice(15, 30)" :key="k" @click="genre_status[k] = !genre_status[k]">
              {{k}}
            </button>

          </div>
          <div class="column is-one-third" style="padding-right: 0; padding-left: 2.5px;">
            <button :class="['button', 'full-width', genre_status[k] ? 'is-primary' : '']" style="margin-bottom: 2.5px;" v-for="k in Object.keys(genre_status).slice(30, 50)" :key="k" @click="genre_status[k] = !genre_status[k]">
              {{k}}
            </button>
          </div>
        </div>
        <div class="columns fixed-columns">
          <div class="column is-one-third" style="padding-left: 0;">
            <button class="button is-info full-width" @click="all_on(genre_status)">All on</button>
          </div>
          <div class="column is-one-third">
          </div>
          <div class="column is-one-third" style="padding-right: 0;">
            <button class="button is-info full-width" @click="all_off(genre_status)">All off</button>
          </div>
        </div>
      </div>

      <button class="button full-width is-dark" style="margin-bottom: 10px; margin-top: 10px;" @click="show_date = !show_date">
        Date
      </button>
      <div :class="{'true-invisible': !show_date}">
        <strong>Start year: {{start_year}}</strong><br>
        <input class="slider" step="1" min="1900" :max="(new Date()).getFullYear()" v-model="start_year" type="range">
        <br>
        <strong>End year: {{end_year}}</strong><br>
        <input class="slider" step="1" min="1900" :max="(new Date()).getFullYear()" v-model="end_year" type="range">
      </div>

      <button class="button full-width is-dark" style="margin-bottom: 10px; margin-top: 10px;" @click="show_staff = !show_staff">
        Staff
      </button>
      <div :class="{'true-invisible': !show_staff}">
        <b-switch v-model="all_roles"></b-switch>
        <b>{{all_roles ? 'All of' : 'One of'}}</b>

        <div v-for="(role, i) in staff_roles" :key="'role' +i" style="margin-bottom: 5px;">
          <div class="columns fixed-columns">
            <div class="column">


              <b-field class="search-nav">
                <b-autocomplete v-model="entity_names[i]"
                  placeholder="Search"
                  :data="searchData"
                  field="name_english"
                  :loading="false"
                  @input="getAsyncData(i)"
                  @select="result => setStaff(i, result)">
                  <template class="has-background-black" slot-scope="props">
                    <div v-if="props.option.title" class="media inst-item">
                      <div class="media-left">
                        <library-lazy-image max_width="45" max_height="45" :type="props.option._type" :id="props.option._id"></library-lazy-image>
                      </div>
                      <div class="media-content">
                        {{ capLength(props.option.title, 38) }}
                        <br>
                        {{getSeason(props.option)}}, {{props.option.status}}
                      </div>
                    </div>

                    <div v-else-if="props.option._type === 'studio'" class="media inst-item">
                      <div class="media-content">
                        {{ capLength(props.option.name_english, 30) }}
                        <br>
                        <small>Studio</small>
                        <br>
                      </div>
                    </div>

                    <div v-else-if="props.option._type === 'character'" class="media inst-item">
                      <div class="media-left">
                        <library-lazy-image max_width="45" max_height="45" :type="props.option._type" :id="props.option._id"></library-lazy-image>
                      </div>
                      <div class="media-content">
                        {{ capLength(props.option.name_english, 38) }}
                        <br>
                        <small>Character</small>
                        <br>
                      </div>
                    </div>


                    <div v-else-if="props.option._type === 'person'" class="media inst-item">
                      <div class="media-left">
                        <library-lazy-image max_width="45" max_height="45" :type="props.option._type" :id="props.option._id"></library-lazy-image>
                      </div>
                      <div class="media-content">
                        {{ capLength(props.option.name, 38) }}
                        <br>
                        <small>Person</small>
                        <br>
                      </div>
                    </div>
                    <div class="button has-text-centered is-fullwidth is-info inst-footer" v-else-if="props.option._type === 'footer'">
                      More Results
                    </div>
                    <div class="button has-text-centered is-fullwidth is-info inst-header" v-else-if="props.option._type === 'header'">
                      {{props.option.for}}
                    </div>
                  </template>
                </b-autocomplete>
              </b-field>


            </div>
            <div class="column" style="flex:none; width:2rem;">
              as
            </div>
            <div class="column">
              <b-field style="">
                <b-autocomplete
                  v-model="role_names[i]"
                  :data="valid_roles.filter(function(role){return !role || !role_names[i] || role.toLowerCase().indexOf(role_names[i].toLowerCase()) !== -1 })"
                  placeholder="Role..."
                  @select="result => setRole(i, result)">
                  <template slot="empty">No results found</template>
                </b-autocomplete>
              </b-field>
            </div>
            <div class="column" style="flex:none; width:2.5rem; padding-left: 0;">
          <button class="button is-danger" style="position:absolute; margin-left: 6px; width:25px;" @click="staff_roles.splice(i, 1); role_names.splice(i,1); entity_names.splice(i,1)">X</button>
        </div>

          </div>
        </div>
        <button class="button full-width is-info" @click="staff_roles.push([null, null])">Add One</button>
      </div>

      <button class="button full-width is-dark" style="margin-bottom: 10px; margin-top: 10px;" @click="show_type = !show_type">
        Type
      </button>
      <div :class="{'true-invisible': !show_type}">
        <div class="columns fixed-columns" style="padding-top: 5px;">
          <div class="column is-one-half">
            <button :class="['button', 'full-width', type_status[k] ? 'is-primary' : '']" style="margin-bottom: 2.5px;" v-for="k in Object.keys(type_status).slice(0, 4)" :key="k" @click="type_status[k] = !type_status[k]">
              {{k}}
            </button>
          </div>
          <div class="column is-one-half">
            <button :class="['button', 'full-width', type_status[k] ? 'is-primary' : '']" style="margin-bottom: 2.5px;" v-for="k in Object.keys(type_status).slice(4, 100)" :key="k" @click="type_status[k] = !type_status[k]">
              {{k}}
            </button>
          </div>
        </div>
        <div class="columns fixed-columns">
          <div class="column is-one-third">
            <button class="button is-info full-width" @click="all_on(type_status)">All on</button>
          </div>
          <div class="column is-one-third"></div>
          <div class="column is-one-third">
            <button class="button is-info full-width" @click="all_off(type_status)">All off</button>
          </div>
        </div>

      </div>

      <button class="button full-width is-dark" style="margin-bottom: 10px; margin-top: 10px;" @click="show_other = !show_other">
        Other
      </button>
      <div :class="{'true-invisible': !show_other}">

        <b-switch v-model="remove_sequels" id="remove_sequels"></b-switch>
        <label for="remove_sequels"><b>Remove sequels</b></label>
        <br>
        <br>
        <b-field label="Plan To Watch">
          <b-select v-model="planned" id="planned">
            <option>Show</option>
            <option>Hide</option>
            <option>Only</option>
          </b-select>
        </b-field>
      </div>

      <br>
      <div class="has-text-centered">
        <p class="title">Reserved for advertisements</p>
      </div>
    </div>
  </div>
  </div>
</template>

<script>
  import page_auth from '~/plugins/page-auth-mixin.js'
  import debounce from 'lodash/debounce';
  import season from '~/utils/season.js'
  import library_lazy_image from "~/components/library/library_lazy_image.vue";

  async function asyncData({ params, $axios, store }) {
    const list_type = params.type
    const data = []
    const searchData = []
    return { list_type, data, searchData }
  }

  export default {
    mixins: [page_auth(asyncData)],
    components: {
      "library-lazy-image": library_lazy_image
    },
    validate({ params }) {
      return ["anime", "manga", "novel"].includes(params.type)
    },
    async mounted() {
      this.getRecs()
    },
    computed: {
      isServer(){
        return process.server
      }
    },
    data: function(){
      return {
        valid_roles : [
          "Character",
          "Studio",
          "Voice Actor",

          "Producer",
          "Director",
          "Script",
          "Storyboard",
          "Sound Director",
          "Episode Director",
          "Series Composition",
          "Theme Song Performance",
          "Music",
          "Theme Song Arrangement",
          "Theme Song Composition",
          "Key Animation",
          "Inserted Song Performance",
          "Animation Director",
          "Background Art",
          "Art Director",
          "Character Design",
          "Chief Animation Director",
          "ADR Director",
          "Sound Effects",
          "Dialogue Editing",
          "Production Coordination",
          "Color Design",
          "Digital Paint",
          "In-Between Animation",
          "Mechanical Design",
          "Original Creator",
          "Theme Song Lyrics",
          "Assistant Animation Director",
          "2nd Key Animation",
          "Assistant Director",
          "Executive Producer",
          "Original Character Design",
          "Screenplay",
          "Color Setting",
          "Special Effects",
          "Editing",
          "Director of Photography",
          "Animation Check",
          "Layout",
          "Planning",
          "Recording Engineer",
          "Post-Production Assistant",
          "Associate Producer",
          "Setting",
          "Publicity",
          "Production Manager",
          "Assistant Producer",
          "Assistant Production Coordinat",
          "Production Assistant",
          "Co-Director",
          "Principle Drawing",
          "Re-Recording Mixing",
          "Chief Producer",
          "Co-Producer",
          "Series Production Director",
          "Recording",
          "Casting Director",
          "Planning Producer",
          "Setting Manager",
          "Recording Assistant",
          "Online Editing Supervision",
          "Sound Manager",
          "Creator",
          "Sound Supervisor",
          "Assistant Engineer",
          "Spotting",
          "Online Editor",
          "Associate Casting Director"
        ],
        type_status: {
          "OVA": true,
          "Movie": true,
          "Special": true,
          "TV": true,
          "Music": true,
          "ONA": true,
          "Unknown": true
        },
        genre_status: {
          "Adventure": true,
          "Drama": true,
          "Fantasy": true,
          "Game": true,
          "Magic": true,
          "Sci-Fi": true,
          "Action": true,
          "Comedy": true,
          "Parody": true,
          "Mystery": true,
          "Shounen": true,
          "Music": true,
          "Historical": true,
          "Military": true,
          "Dementia": true,
          "Mecha": true,
          "Seinen": true,
          "Super Power": true,
          "Demons": true,
          "Josei": true,
          "Ecchi": true,
          "Harem": true,
          "Romance": true,
          "Slice of Life": true,
          "Kids": true,
          "Shoujo": true,
          "Space": true,
          "Supernatural": true,
          "School": true,
          "Hentai": true,
          "Horror": true,
          "Sports": true,
          "Shounen Ai": true,
          "Yaoi": true,
          "Police": true,
          "Martial Arts": true,
          "Psychological": true,
          "Thriller": true,
          "Samurai": true,
          "Yuri": true,
          "Shoujo Ai": true,
          "Cars": true,
          "Vampire": true,
        },
        show_genres: false,
        show_date: false,
        show_staff: false,
        show_type: false,
        show_other: false,
        staff_roles: [[null, null]],
        start_year: 1900,
        end_year: (new Date()).getFullYear(),
        all_genres: false,
        all_roles: true,
        remove_sequels: true,
        planned: 'Show',
        entity_names: [],
        role_names: [],
      }
    },
    head(){
      return {
        title: 'Recommendations - Dashboard - Toshokan'
      }
    },
    methods: {
      statusToQueryParam(status, name){
        var str = ''
        for(var k in status){
          if(status[k]){
            str += name + '=' + k + '&'
          }
        }
        return str.slice(0, -1)
      },
      processStaffArray(){
        var str = ''
        for(var i in this.staff_roles){
          str += 'staff=' + this.staff_roles[i][0] + '.*.' + this.staff_roles[i][1] + '&'
        }
        return str.slice(0, -1)
      },
      async getRecs() {
        this.data = []
        this.data = await this.$axios.$get('/recommendation/' + this.list_type
                                         + '?' + this.statusToQueryParam(this.genre_status, 'genres')
                                         + '&all_genres=' + this.all_genres
                                         + '&start_year=' + this.start_year
                                         + '&end_year=' + this.end_year
                                         + '&' + this.processStaffArray()
                                         + '&all_staff=' + this.all_roles
                                         + '&' + this.statusToQueryParam(this.type_status, 'types')
                                         + '&remove_sequels=' + this.remove_sequels
                                         + '&plan_to_watch=' + this.planned
        )
      },
      async addEntry(rec) {
        const entry = {
          progress: 0,
          score: null,
          status: "planned",
          start_date: null,
          end_date: null,
          repetitions: 0,
          comments: '',
          volumes: 0
        }
        this.$axios.$put('/list/' + this.list_type + '/' + rec, entry)
      },
      all_on(cat) {
        for(var key in cat){
          cat[key] = true
        }
      },
      all_off(cat) {
        for(var key in cat){
          cat[key] = false
        }
      },
      getAsyncData: debounce(async function (i) {
        name = this.entity_names[i]
        if (!name) {
          return
        }
        this.isFetching = true
        var x = `&q=name_:${name}`
        const response = await this.$axios.$post(`/search/character,person/_search?search_type=dfs_query_then_fetch`, {
          "_source": ["start_date", "status", "title", "type", "name", "name_english" ],
          query: {
            match: {
              name_: {
                "query": name,
                "operator": "and"
              }
            }
          }
        });
        this.isFetching = false
        this.searchData = []
        var results = []
        response.hits.hits.forEach((item) => results.push({ ...(item._source), name_english: (item._source.name_english ? item._source.name_english : item._source.name), _id: item._id, _type: item._type }));

        var type = this.list_type
        var text = type.charAt(0).toUpperCase() + type.substr(1);
        results.forEach(item => this.searchData.push(item))

        var studios = await this.getMissingTerms("studios")
        var searchData = this.searchData
        studios.forEach(function(item){
          if(item.toLowerCase().indexOf(name.toLowerCase()) !== -1){
            searchData.push({name_english: item,
                                  _id: item,
                                  _type: "studio"})
          }
        })
        this.searchData = searchData
      }, 200),
      capLength: function (title, length) {
        if (typeof title == 'string' && title.length >= length) {
          return title.slice(0, length - 3) + '...'
        } else {
          return title
        }
      },
      getSeason(result) {
        return season(result.start_date)
      },
      getMissingTerms: async function (term_type) {
        const qobj = {
          "size": 0,
          "aggs": {
            "langs": {
              "terms": { "field": term_type, "size": 500 }
            }
          }
        }
        const response = await this.$axios.$post(`/search/${this.list_type}/_search`, qobj);
        const all_values = response.aggregations.langs.buckets.map(bucket => bucket.key)
        return all_values
      },
      setStaff(i, result){
        if(result){
          this.staff_roles[i][1] = result._id
        }
      },
      setRole(i, result){
        if(result){
          this.staff_roles[i][0] = result
          console.log(this.staff_roles)
        }
      }
    }
  }
</script>

<style scoped>
  .columns >>> thead {
    display: none;
  }

  td, td >>> span {
    vertical-align: middle;
  }

  .true-invisible {
    display: none;
  }

  .fixed-columns {
    margin-left: 0;
    margin-right: 0;
  }

  .field.is-horizontal {
    display: block !important;
  }

  .columns >>> .chevron-cell {
    width: 1em !important;
  }

</style>
