<template>
  <div class="columns dashboard">
    <div class="column menu-column">
      <aside class="menu">
        <ul class="menu-list">
          <li>
            <nuxt-link :class="{'is-active': active_tab=='list'}" to="/dashboard/list/anime">List</nuxt-link>
          </li>

          <li>
            <nuxt-link :class="{'is-active': active_tab=='recommendations'}" to="/dashboard/recommendations/anime">Recs</nuxt-link>
          </li>

          <li>
            <nuxt-link :class="{'is-active': active_tab=='stats'}" to="/dashboard/stats">Stats</nuxt-link>
          </li>

          <li>
            <nuxt-link :class="{'is-active': active_tab=='social'}" to="/dashboard/social">Social</nuxt-link>
          </li>

        </ul>
      </aside>
    </div>
    <div class="column">
      <nuxt-child />
    </div>
  </div>
</template>
<script>
 import page_auth from "~/plugins/page-auth-mixin.js"

  async function asyncData({ params, $axios, error }) {
    return { }
  }

  export default {
    mixins: [page_auth(asyncData)],
    computed: {
      active_tab() {
        if(this.$nuxt.$route.path.indexOf('/list/') !== -1){
          return 'list'
        } else if(this.$nuxt.$route.path.indexOf('/recommendations/') !== -1){
          return 'recommendations'
        } else if(this.$nuxt.$route.path.indexOf('/stats') !== -1){
          return 'stats'
        } else if(this.$nuxt.$route.path.indexOf('/social') !== -1){
          return 'social'
        } else {
          return null
        }
      }
    }
  }
</script>

<style scoped>
  .dashboard >>> .menu-column {
    flex: none;
    width: auto;
  }
</style>
