<template>
  <div class="columns">
    <div class="column is-one-fifth">
      <div class="library-image">
        <figure class="image">
            <library-lazy-image :type="type" :id="item._id" :max_height="400"></library-lazy-image>
        </figure>
      </div>
      <favourites-button v-if="$store.getters.isRegistered" :title="item.title ? item.title : (item.name_english ? item.name_english : item.name)" :type="this.type" :id="this.item._id"></favourites-button>
      <library-info :item="this.item" :id="this.id" :type="this.type"></library-info>
      <template v-if="['anime', 'manga', 'novel', 'vn'].includes(this.type)">
        <no-ssr>
          <list-controls v-if="$store.getters.isRegistered" :type="this.type" :item="this.item"></list-controls>
        </no-ssr>
      </template>

    </div>
    <div class="column right-col" style="height:100% !important;">
      <h1 class="subtitle has-text-weight-bold has-text-centered">{{item.title}}</h1>
      <div class="tabs">
        <ul>
          <nuxt-link exact-active-class="is-active" tag="li" :to="'/'+type+'/'+item._id"><a>Details</a></nuxt-link>

          <template v-if="type == 'person'">
            <nuxt-link exact-active-class="is-active" tag="li" :to="'/'+type+'/'+item._id+'/voices'"><a>Voices</a></nuxt-link>
          </template>

          <template v-if="['anime', 'manga', 'novel'].includes(type)">
            <nuxt-link exact-active-class="is-active" tag="li" :to="'/'+type+'/'+item._id+'/cast'"><a>Cast</a></nuxt-link>
          </template>

          <template v-if="['person', 'character'].includes(type)">
            <nuxt-link exact-active-class="is-active" tag="li" :to="'/'+type+'/'+item._id+'/animeography'"><a>Animeography</a></nuxt-link>
            <nuxt-link exact-active-class="is-active" tag="li" :to="'/'+type+'/'+item._id+'/mangaography'"><a>Mangaography</a></nuxt-link>
            <nuxt-link exact-active-class="is-active" tag="li" :to="'/'+type+'/'+item._id+'/novelography'"><a>Novelography</a></nuxt-link>
          </template>

          <template v-if="['anime'].includes(type)">
            <nuxt-link exact-active-class="is-active" tag="li" :to="'/'+type+'/'+item._id+'/staff'"><a>Staff</a></nuxt-link>
          </template>

        </ul>
      </div>
      <nuxt-child :item="item" :type="type" :cast="cast" :staff="staff" @fetch="fetched($event)" />
    </div>
  </div>
</template>

<script>
  import list_controls from "~/components/library/list_controls.vue"
  import favourites_button from "~/components/library/favourites_button.vue"
  import library_info from "~/components/library/library_info.vue"
  import library_lazy_image from "~/components/library/library_lazy_image.vue";
  export default {
    async asyncData({ params, $axios, error }) {
      const id = params.id
      const type = params.type
      const item = await $axios.$get(`/${type}/${id}`).catch(
        function(err){
          error({statusCode: 404, message: err.message})
        }
      )
      return { id, item, type };
    },
    validate({ params }) {
      return ["anime", "manga", "novel", "person", "character", "vn"].includes(params.type)
    },
    head() {
      var item_name = this.item.title ? this.item.title : (this.item.name_english ? this.item.name_english : this.item.name)
      if (item_name.length > 30) {
        var words = item_name.split(' ')
        var lastword = words[words.length - 1]
        item_name = item_name.slice(0,27) + '...'

        if (lastword.length <= 10) {
          item_name += lastword
        }
      }
      return {
        title: item_name + ' - ' + this.type.charAt(0).toUpperCase() + this.type.slice(1) + ' - Toshokan',
        meta: [
          // hid is used as unique identifier. Do not use `vmid` for it as it will not work
          { hid: 'og-name', property: "og:site_name", content: "Toshokan.moe" },
          { hid: 'og-title', property: "og:title", content: `${this.item.title}` },
          { hid: 'og-url', property: "og:url", content: `https://toshokan.moe/${this.type}/${this.id}` },
          { hid: 'og-preview-image', property: "og:image", content: `https://cdn.toshokan.moe/library/${this.type}/${this.id}/poster.jpg` },
        ]
      }
    },
    components: {
      'list-controls': list_controls,
      'library-info': library_info,
      'favourites-button': favourites_button,
      "library-lazy-image": library_lazy_image
    },
    computed: {
      season() {
        if (this.anime.start_date == null) {
          return "Unknown"
        }
        const month = new Date(this.anime.start_date).getMonth();
        if (month >= 9) {
          return "Fall"
        } else if (month >= 6) {
          return "Summer"
        } else if (month >= 3) {
          return "Spring"
        } else {
          return "Winter"
        }
      },
      isServer(){
        return process.server
      }
    },
    methods: {
      fetched(obj) {
        this[obj.type] = obj[obj.type]
      }
    },
    data: function () {
      return {
        cast: null,
        staff: null
      }
    }
  }
</script>

<style scoped>
  .tabs {
    margin-bottom: 0;
  }
</style>
