<template>
  <div>
    <no-ssr>
    <div v-if="big_enough" class="columns" style="margin-bottom: 0;">
      <div class="tabs column is-one-third" style="padding-left: 0.75rem; padding-bottom: 0; overflow:hidden;">
        <ul style="width:120% !important;">
          <nuxt-link exact-active-class="is-active" tag="li" to="/dashboard/list/anime"><a>Anime</a></nuxt-link>
          <nuxt-link exact-active-class="is-active" tag="li" to="/dashboard/list/manga"><a>Manga</a></nuxt-link>
          <nuxt-link exact-active-class="is-active" tag="li" to="/dashboard/list/novel"><a>Novel</a></nuxt-link>
          <nuxt-link exact-active-class="is-active" tag="li" to="/dashboard/list/vn"><a>VN</a></nuxt-link>
        </ul>
      </div>

      <div class="tabs column is-right" style="padding-right: 0.75rem; padding-bottom: 0; padding-left:0;">
        <ul>
          <li v-for="option in statuses" :key="option" :class="{'is-active': status == option}" @click="status = option"><a>{{option}}</a></li>
          <li v-if="isServer|| $viewport.geq('tablet', $mq)" :class="{'is-active': status == 'All'}" @click="status = 'All'"><a>All</a></li>
        </ul>
      </div>
    </div>

    <div style="margin-bottom: 10px;" class="select full-width" v-else>
      <select v-model="status" class="full-width">
        <option v-for="option in statuses" :key="option">{{option}}</option>
      </select>
    </div>
    </no-ssr>

    <nuxt-child :status="status" />
  </div>
</template>
<script>
  import { get_status_pretty, get_status_api } from '~/utils/list/status.js'
  export default {
    computed: {
      statuses() {
        return Object.keys(get_status_api(this.list_type))
      },
      list_type() {
        return this.$nuxt.$route.path.split('/list/').slice(-1)[0]
      },
      big_enough() {
        return process.server || this.$viewport.geq('tablet', this.$mq)
      },
      isServer(){
        return process.server
      }
    },
    head(){
      return {
        title: 'List - Dashboard - Toshokan'
      }
    },
    data() {
      return {
        status: null
      }
    },
    mounted() {
      this.status = get_status_pretty(this.list_type)['current']
    },
    watch: {
      '$nuxt.$route.path': function(){
        console.log('url changed')
        this.status = get_status_pretty(this.list_type)['current']
      }
    }
  }
</script>

<style scoped>
  .tabs {
    margin-bottom: 5px !important;
  }
</style>
